niem/geospatial/2.0/geospatial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/geospatial/2.0" version="1" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:land="http://www.landxml.org/schema/LandXML-1.1" xmlns:mo="http://niem.gov/niem/external/dhs-gmo/AS/mobileObject/1.0.0" xmlns:xls="http://niem.gov/niem/external/ogc-openls/1.1.0/dhs-gmo/1.0.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:addr="http://niem.gov/niem/external/urisa-street-address/draft-0.2.0/dhs-gmo/1.0.0" xmlns:gml="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0" xmlns:mmr="http://niem.gov/niem/external/dhs-gmo/AS/multiModalRoute/1.0.0" xmlns:geo="http://niem.gov/niem/geospatial/2.0" xmlns:om="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:context="http://niem.gov/niem/external/ogc-context/1.1.0/dhs-gmo/1.0.0" xmlns:ex="http://niem.gov/niem/external/iso-10303-step/2/ex/dhs-gmo/1.0.0">
  <xsd:annotation>
    <xsd:documentation>Defines NIEM adapter types for external geospatial components defined by OGC, LIF, LandXML, IAI, and ANSI.  Note for schema readers:  The XML/Schema specification does not require processing implementations to transitively import definitions from imported schemas.   To assure that all required definitions are available, a schema must re-import the schemas that are imported by the schemas it imports. Such re-imports are noted in the documentation.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../external/dhs-gmo/AS/mobileObject/1.0.0/mobileObject.xsd" namespace="http://niem.gov/niem/external/dhs-gmo/AS/mobileObject/1.0.0">
    <xsd:annotation>
      <xsd:documentation>Mobile Object schema for niem based on GML Mobile Object; uses gml:pointProperty instead of gml:location, which is deprecated in (ISO) GML v3.2. See http://www.opengeospatial.org for documentation, http://schemas.opengis.net/gml/ for schemas.</xsd:documentation>
      <xsd:appinfo>
        <i:ConformantIndicator>false</i:ConformantIndicator>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:import>
  <xsd:import schemaLocation="../../external/dhs-gmo/AS/multiModalRoute/1.0.0/multiModalRoute.xsd" namespace="http://niem.gov/niem/external/dhs-gmo/AS/multiModalRoute/1.0.0">
    <xsd:annotation>
      <xsd:documentation>Multi-modal route schema for niem based on OpenLS route.  http://schemas.opengis.net/ols/ for schemas.</xsd:documentation>
      <xsd:appinfo>
        <i:ConformantIndicator>false</i:ConformantIndicator>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:import>
  <xsd:import schemaLocation="../../external/iso-10303-step/2/dhs-gmo/1.0.0/ex.xsd" namespace="http://niem.gov/niem/external/iso-10303-step/2/ex/dhs-gmo/1.0.0">
    <xsd:annotation>
      <xsd:documentation>ISO 10303:part(28):version(2) schema used by IFC.  See http://www.iai-international.org and http://www.iai-na.com/ for documentation and schemas.</xsd:documentation>
      <xsd:appinfo>
        <i:ConformantIndicator>false</i:ConformantIndicator>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:import>
  <xsd:import schemaLocation="../../external/ogc-context/1.1.0/dhs-gmo/1.0.0/context.xsd" namespace="http://niem.gov/niem/external/ogc-context/1.1.0/dhs-gmo/1.0.0">
    <xsd:annotation>
      <xsd:documentation>Adaptation of OGC Web Map Context schema to work with current versions of other schemas. See http://www.opengeospatial.org for documentation, http://schemas.opengis.net/context/ for schemas.</xsd:documentation>
      <xsd:appinfo>
        <i:ConformantIndicator>false</i:ConformantIndicator>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:import>
  <xsd:import schemaLocation="../../external/ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd" namespace="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0">
    <xsd:annotation>
      <xsd:documentation>A profile of Geography Markup Language (GML) version 3.1.1 schemas for niem.  See http://www.opengeospatial.org for documentation, http://schemas.opengis.net/gml/ for schemas.</xsd:documentation>
      <xsd:appinfo>
        <i:ConformantIndicator>false</i:ConformantIndicator>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:import>
  <xsd:import schemaLocation="../../external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0/om.xsd" namespace="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0">
    <xsd:annotation>
      <xsd:documentation>This schema is a profile for NIEM of the complete schema from Observations and Measurements.  See http://www.opengeospatial.org for documentation and schemas.</xsd:documentation>
      <xsd:appinfo>
        <i:ConformantIndicator>false</i:ConformantIndicator>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:import>
  <xsd:import schemaLocation="../../external/ogc-openls/1.1.0/dhs-gmo/1.0.0/ols.xsd" namespace="http://niem.gov/niem/external/ogc-openls/1.1.0/dhs-gmo/1.0.0">
    <xsd:annotation>
      <xsd:documentation>A profile of OpenGeospatialConsortium (OpenGIS, OGC) OpenLS (Location Services) version 1.1 schemas. A profile of OpenGeospatialConsortium (OpenGIS, OGC) OpenLS (Location Services) version 1.1 schemas that have been edited to use GML version 3.1.1 schemas instead of the GML version 3.0 schemas that were current when OpenLS version 1.1 was promulgated.  See http://www.opengeospatial.org for documentation, http://schemas.opengis.net/ols/ for schemas.</xsd:documentation>
      <xsd:appinfo>
        <i:ConformantIndicator>false</i:ConformantIndicator>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:import>
  <xsd:import schemaLocation="../../external/urisa-street-address/draft-0.2.0/dhs-gmo/1.0.0/StreetAddressDataStandard.xsd" namespace="http://niem.gov/niem/external/urisa-street-address/draft-0.2.0/dhs-gmo/1.0.0">
    <xsd:annotation>
      <xsd:documentation>Draft ANSI Address Data Content Standard schema. See http://www.ansi.org/</xsd:documentation>
      <xsd:appinfo>
        <i:ConformantIndicator>false</i:ConformantIndicator>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:import>
  <xsd:import schemaLocation="../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../external/landxml/1.1/LandXML-1.1.xsd" namespace="http://www.landxml.org/schema/LandXML-1.1">
    <xsd:annotation>
      <xsd:documentation>LandXML Version 1.1 WORKING DRAFT Schema file.  See http://www.landxml.org for documentation and schemas.</xsd:documentation>
      <xsd:appinfo>
        <i:ConformantIndicator>false</i:ConformantIndicator>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:import>
  <xsd:complexType name="AbstractContinuousCoverageType">
    <xsd:annotation>
      <xsd:documentation>A coverage that can return different values for the same feature attribute at different direct positions within a single spatiotemporal object.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:_ContinuousCoverage" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AbstractDiscreteCoverageType">
    <xsd:annotation>
      <xsd:documentation>A coverage with finite domain set ((temporal) geometry objects), range set (attribute values mapped to domain), and optional coverage function.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:_DiscreteCoverage" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AbstractObservationType">
    <xsd:annotation>
      <xsd:documentation>Place Holder for any observation of an event.  See: EventType. In the context of an Observation, the interpretation of some of the properties shall be refined as follows: time - the date/Time at which the procedure was executed, location - the location of the procedure (sensor, instrument, computational engine) at the time of the observation event, procedure - the procedure used to record the event.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="om:AbstractObservation" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddressPropertyType">
    <xsd:annotation>
      <xsd:documentation>A GML property type to encapsulate or reference a NIEM Address. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This type allows NIEM Address elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="geo:Address" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArcByCenterPointType">
    <xsd:annotation>
      <xsd:documentation>A 2D arc defined by its center point, radius, and bearings at start and end.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:ArcByCenterPoint" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AreaOfInterestType">
    <xsd:annotation>
      <xsd:documentation>An Area of Interest as defined by a named circle, bounding box, or polygon, used in OGC Open Location Services.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="xls:AOI" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CategoryObservationType">
    <xsd:annotation>
      <xsd:documentation>An Observation, in which the result is a textual value from a controlled vocabulary.  See: ObservationType.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="om:CategoryObservation" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CircleByCenterPointType">
    <xsd:annotation>
      <xsd:documentation>A 2D ArcByCenterPoint with identical start and end angles that forms a full circle.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:CircleByCenterPoint" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CircularArcType">
    <xsd:annotation>
      <xsd:documentation>A 2D arc defined by its center point, two radii (r[1] &gt; r[2]), and start and end angles.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="xls:CircularArc" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CommonObservationType">
    <xsd:annotation>
      <xsd:documentation>An Observation, in which a value record schema specifies the encoding of the values of the observed properties.  See:  ObservationType.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="om:CommonObservation" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CommunityAddressType">
    <xsd:annotation>
      <xsd:documentation>A Puerto Rican urbanization address where the urbanization name is preceded by a number, and no street name is included.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:CommunityAddress" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CountObservationType">
    <xsd:annotation>
      <xsd:documentation>An Observation, in which the result is an integer representing the count of the observed property.  See: ObservationType.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="om:CountObservation" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DetermineRouteRequestType">
    <xsd:annotation>
      <xsd:documentation>Determine Route request parameters for an OGC OpenLS  Navigation Service.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="xls:DetermineRouteRequest" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DetermineRouteResponseType">
    <xsd:annotation>
      <xsd:documentation>Determine Route response from an OGC OpenLS  Navigation Service.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="xls:DetermineRouteResponse" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DirectionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:direction" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EllipseType">
    <xsd:annotation>
      <xsd:documentation>An ellipse specified by a point, major axis, minor axis, and rotation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="xls:Ellipse" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EndModeWayPointType">
    <xsd:annotation>
      <xsd:documentation>Ending point of a multi-modal route that ends at a transportation mode (e.g. foot, bicycle, taxi, bus, rail, boat, airplane) transfer point.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="mmr:StartModeWayPoint" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EventType">
    <xsd:annotation>
      <xsd:documentation>Description of an event, particularly one that causes transformation, creation or destruction of a geospatial feature.  See: FeatureType.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="om:Event" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FeatureCollectionType">
    <xsd:annotation>
      <xsd:documentation>A collection of geospatial features; any real world objects with location.  See: FeatureType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:FeatureCollection" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FeatureType">
    <xsd:annotation>
      <xsd:documentation>A geospatial feature; any real world object with location; e.g. building, road, river, county, town, parcel, traffic sign.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:_Feature" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FourNumberAddressRangeType">
    <xsd:annotation>
      <xsd:documentation>Left and right side  thoroughfare (road, walkway, railroad, river) address ranges specified by low and high address numbers.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:FourNumberAddressRange" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeneralAddressType">
    <xsd:annotation>
      <xsd:documentation>Any address classes,  for files in which the various classes are mixed together.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:GeneralAddress" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeometryPropertyType">
    <xsd:annotation>
      <xsd:documentation>A GML property type to encapsulate or references a NIEM Geometry. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This type allows NIEM Geometry elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="geo:Geometry" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeometryType">
    <xsd:annotation>
      <xsd:documentation>Any geometry.   Specifies a Coordinate Reference System or must inherit one from a containing element.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:_Geometry" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeospatialPropertyType">
    <xsd:annotation>
      <xsd:documentation>A GML property type to encapsulate or reference a NIEM Geospatial. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This type allows NIEM Geospatial elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="geo:Geospatial" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IFCXMLType">
    <xsd:annotation>
      <xsd:documentation>Container for an ifcXML data exchange representing the architecture and engineering structure of a building.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ex:iso_10303_28" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IntersectionAddressType">
    <xsd:annotation>
      <xsd:documentation>An address specified by the names of two thoroughfare addresses.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:IntersectionAddress" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LandXMLType">
    <xsd:annotation>
      <xsd:documentation>A LandXML data structure containing civil engineering or land development geospatial features.  See:  FeatureType.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="land:LandXML" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LandmarkAddressPropertyType">
    <xsd:annotation>
      <xsd:documentation>A GML property type to encapsulate or references a NIEM LandmarkAddress. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This type allows NIEM LandmarkAddress elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="geo:AnyLandmarkAddress" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LandmarkSiteAddressType">
    <xsd:annotation>
      <xsd:documentation>An address that is both a thoroughfare (road, walkway, railroad, river) address and a landmark address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:LandmarkSiteAddress" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LineStringType">
    <xsd:annotation>
      <xsd:documentation>A geometric curve that consists of a single segment with linear interpolation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:LineString" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocationPropertyType">
    <xsd:annotation>
      <xsd:documentation>A GML property type to encapsulate or reference a NIEM Location. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This type allows NIEM Location elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="geo:Location" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MapType">
    <xsd:annotation>
      <xsd:documentation>A map image (gif, jpeg, png, tiff, svg, etc.), base64 encoded in-line, or referenced via a URL.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="xls:Map" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MapViewContextType">
    <xsd:annotation>
      <xsd:documentation>Map view context information to retrieve a particular map image from an OGC Web Map Service (WMS).</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="context:ViewContext" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MapWithViewContextType">
    <xsd:annotation>
      <xsd:documentation>A map and its view context.  See:  MapType, MapViewContextType.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="xls:Map" minOccurs="1" maxOccurs="unbounded"/>
          <xsd:element ref="context:ViewContext" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MeasurementType">
    <xsd:annotation>
      <xsd:documentation>An Observation,  the result of which is a relative measure, with a unit of measure, relative code, and quantity.  See:  ObservationType.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="om:Measurement" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MovingObjectCollectionType">
    <xsd:annotation>
      <xsd:documentation>A moving (feature collection) object with a track of its past and/or projected positions at certain times.  See: FeatureCollection.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="mo:MovingObjectCollection" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MovingObjectType">
    <xsd:annotation>
      <xsd:documentation>A moving (feature) object with a track of its past and/or projected positions at certain times.  See: Feature.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="mo:MovingObject" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MultiCurveType">
    <xsd:annotation>
      <xsd:documentation>A geometry collection that includes one or more curves or line strings.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:MultiCurve" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MultiGeometryType">
    <xsd:annotation>
      <xsd:documentation>A geometry collection that includes one or more geometries, potentially of different types.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:MultiGeometry" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MultiPointType">
    <xsd:annotation>
      <xsd:documentation>A geometry collection that includes one or more points.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:MultiPoint" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MultiPolygonType">
    <xsd:annotation>
      <xsd:documentation>A geometry collection that includes one or more Polygons.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="xls:MultiPolygon" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MultiSiteLandmarkAddressType">
    <xsd:annotation>
      <xsd:documentation>A landmark address specified by two landmark names, where one landmark is inside the other.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:MultiSiteLandmarkAddress" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MultiSurfaceType">
    <xsd:annotation>
      <xsd:documentation>A geometry collection that includes one or more surfaces or polygons.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:MultiSurface" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ObservationCollectionType">
    <xsd:annotation>
      <xsd:documentation>A composite collection of observations of an event.  See: EventType.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="om:ObservationCollection" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ObservationType">
    <xsd:annotation>
      <xsd:documentation>A generic observation of an event.  See:AbstractObservationType.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="om:Observation" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PointOfInterestType">
    <xsd:annotation>
      <xsd:documentation>Something with a fixed position that may be used as a reference point or a target in an OpenLS service. Something with a fixed position that may be used as a reference point or a target in an OpenLS service. A POI is the primary output from an OpenLS Directory Service.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="xls:POI" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PointType">
    <xsd:annotation>
      <xsd:documentation>A 2D or 3D geometric point.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:Point" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PolygonType">
    <xsd:annotation>
      <xsd:documentation>A polygon; a geometric surface defined by a single surface patch whose boundary is coplanar.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="gml:Polygon" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PositionType">
    <xsd:annotation>
      <xsd:documentation>An observed or calculated geographic position and quality of position; the primary output from an OpenLS Gateway Service.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="xls:Position" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressPropertyType">
    <xsd:annotation>
      <xsd:documentation>A GML property type to encapsulate or references a NIEM PostalAddress. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This type allows NIEM PostalAddress elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="geo:AnyPostalAddress" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RelativeLocationPropertyType">
    <xsd:annotation>
      <xsd:documentation>A GML property type to encapsulate or reference a NIEM RelativeLocation. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This type allows NIEM RelativeLocation elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="geo:RelativeLocation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RelativeLocationType">
    <xsd:annotation>
      <xsd:documentation>Defines a relative location as a specified distance from a location in a specified direction.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="geo:Location" minOccurs="1" maxOccurs="unbounded"/>
          <xsd:element ref="geo:Direction" minOccurs="1" maxOccurs="unbounded"/>
          <xsd:element ref="geo:Distance" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RouteModeInstructionType">
    <xsd:annotation>
      <xsd:documentation>An Open Location Services route mode instruction extended with transportation mode (e.g. foot, bicycle, taxi, bus, rail, boat, airplane) information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="mmr:RouteModeInstruction" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SingleSiteLandmarkAddressType">
    <xsd:annotation>
      <xsd:documentation>A  landmark address specified by reference to a single landmark.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:SingleSiteLandmarkAddress" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SiteAddressType">
    <xsd:annotation>
      <xsd:documentation>Singular location referenced off of a linear feature, having a numeric identifier.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:SiteAddress" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StartModeWayPointType">
    <xsd:annotation>
      <xsd:documentation>Starting point of a multi-modal route that starts at a transportation mode (e.g. foot, bicycle, taxi, bus, rail, boat, airplane)  transfer point.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="mmr:StartModeWayPoint" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ThoroughfareAddressPropertyType">
    <xsd:annotation>
      <xsd:documentation>A GML property type to encapsulate or references a NIEM ThoroughfareAddress. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This type allows NIEM ThoroughfareAddress elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="geo:AnyThoroughfareAddress" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TruthObservationType">
    <xsd:annotation>
      <xsd:documentation>An Observation, in which the result is a boolean value representing the truth value (usually existence) of the observed property.  See: ObservationType.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="om:TruthObservation" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TwoNumberAddressRangeType">
    <xsd:annotation>
      <xsd:documentation>A thoroughfare (road, walkway, railroad, river) address range specified by low and high address numbers.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:TwoNumberAddressRange" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="USPSGeneralDeliveryAddressType">
    <xsd:annotation>
      <xsd:documentation>A USPS General Delivery Address that has no definite relation to the location of the recipient.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:USPSGeneralDeliveryAddress" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="USPSPostalDeliveryBoxType">
    <xsd:annotation>
      <xsd:documentation>A USPS Postal Delivery Box that has no definite relation to the location of the recipient</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:USPSPostalDeliveryBox" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="USPSPostalDeliveryRouteType">
    <xsd:annotation>
      <xsd:documentation>A USPS Postal Delivery Route address that has no definite relation to the location of the recipient.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:USPSPostalDeliveryRoute" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UnnumberedThoroughfareAddressType">
    <xsd:annotation>
      <xsd:documentation>An unnumbered thoroughfare (road, walkway, railroad, river) address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="addr:UnnumberedThoroughfareAddress" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ViaModeWayPointType">
    <xsd:annotation>
      <xsd:documentation>Intermediate transportation mode (e.g. foot, bicycle, taxi, bus, rail, boat, airplane)  transfer point of a multi-modal route.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="mmr:ViaModeWayPoint" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="XLSAddressType">
    <xsd:annotation>
      <xsd:documentation>An Address as encoded for OGC Open Location Services, e.g. for display on PDA or Cell Phone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:ExternalAdapterTypeIndicator>true</i:ExternalAdapterTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="xls:Address" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element substitutionGroup="geo:Geospatial" name="AbstractContinuousCoverage" type="geo:AbstractContinuousCoverageType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A coverage that can return different values for the same feature attribute at different direct positions within a single spatiotemporal object.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="AbstractDiscreteCoverage" type="geo:AbstractDiscreteCoverageType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A coverage with finite domain set ((temporal) geometry objects), range set (attribute values mapped to domain), and optional coverage function.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="AbstractObservation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Place Holder for any observation of an event.  See: Event.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="Address" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Abstract place-holder in a schema to use a non-abstract address element defined by an external standard.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressProperty" type="geo:AddressPropertyType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Encapsulates or references an Address element. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This element allows NIEM Address elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Address" name="AnyLandmarkAddress" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Place-holder in a schema to use a landmark address defined by the external ANSI address standard.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Address"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Address" name="AnyPostalAddress" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Place-holder in a schema to use a postal address defined by the external ANSI address standard.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Address"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Address" name="AnyThoroughfareAddress" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Place-holder in a schema to use a thoroughfare address defined by the external ANSI address standard.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Address"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="ArcByCenterPoint" type="geo:ArcByCenterPointType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A 2D arc defined by its center point, radius, and bearings at start and end.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="AreaOfInterest" type="geo:AreaOfInterestType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An Area of Interest as defined by a named circle, bounding box, or polygon, used in OGC Open Location Services.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="CategoryObservation" type="geo:CategoryObservationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An Observation, in which the result is a textual value from a controlled vocabulary.  See: Observation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="CircleByCenterPoint" type="geo:CircleByCenterPointType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A 2D ArcByCenterPoint with identical start and end angles that forms a full circle.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="CircularArc" type="geo:CircularArcType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A 2D arc defined by its center point, two radii (r[1] &gt; r[2]), and start and end angles.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="CommonObservation" type="geo:CommonObservationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An Observation, in which a value record schema specifies the encoding of the values of the observed properties.  See:  Observation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:AnyLandmarkAddress" name="CommunityAddress" type="geo:CommunityAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A Puerto Rican urbanization address where the urbanization name is preceded by a number, and no street name is included.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AnyLandmarkAddress"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="CountObservation" type="geo:CountObservationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An Observation, in which the result is an integer representing the count of the observed property.  See: Observation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="DetermineRouteRequest" type="geo:DetermineRouteRequestType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Determine Route request parameters for an OGC OpenLS  Navigation Service.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="DetermineRouteResponse" type="geo:DetermineRouteResponseType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Determine Route response from an OGC OpenLS  Navigation Service.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Direction" type="geo:DirectionType" nillable="true"/>
  <xsd:element name="Distance" type="nc:MeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Distance represented as a number with a scale indicated by the value of its uom (Units Of Measure) attribute.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="Ellipse" type="geo:EllipseType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An ellipse specified by a point, major axis, minor axis, and rotation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="EndModeWayPoint" type="geo:EndModeWayPointType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Ending point of a multi-modal route that ends at a transportation mode (e.g. foot, bicycle, taxi, bus, rail, boat, airplane) transfer point.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="Event" type="geo:EventType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Description of an event, particularly one that causes transformation, creation or destruction of a geospatial feature.  See: Feature.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="Feature" type="geo:FeatureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geospatial feature; any real world object with location; e.g. building, road, river, county, town, parcel, traffic sign.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="FeatureCollection" type="geo:FeatureCollectionType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A collection of geospatial features; any real world objects with location.  See: FeatureType.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:AnyThoroughfareAddress" name="FourNumberAddressRange" type="geo:FourNumberAddressRangeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Left and right side  thoroughfare (road, walkway, railroad, river) address ranges specified by low and high address numbers.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AnyThoroughfareAddress"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Address" name="GeneralAddress" type="geo:GeneralAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Any address classes,  for files in which the various classes are mixed together.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Address"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="Geometry" type="geo:GeometryType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Any geometry.  Specifies a Coordinate Reference System or must inherit one from a containing element.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GeometryProperty" type="geo:GeometryPropertyType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Encapsulates or references a Geometry element. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This element allows NIEM Geometry elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Geospatial" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Abstract place-holder in a schema to use any non-abstract geospatial element defined by an external standard. Non-abstract geospatial elements that declare substitutionGroup=&quot;gs:Geospatial&quot; may take the place of this element in an XML data instance document.  These include Locations, Coverages, Observations, Measurements, Routes, Maps, MapViewContexts, IFCXML (architectural structures), LandXML (civil engineering structures), and references thereto.  See:  Location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GeospatialProperty" type="geo:GeospatialPropertyType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Encapsulates or references a Geospatial element. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This element allows NIEM Geospatial elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="IFCXML" type="geo:IFCXMLType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Container for an ifcXML data exchange representing the architecture and engineering structure of a building.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:AnyThoroughfareAddress" name="IntersectionAddress" type="geo:IntersectionAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An address specified by the names of two thoroughfare addresses.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AnyThoroughfareAddress"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="LandXML" type="geo:LandXMLType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A LandXML data structure containing civil engineering or land development geospatial features.  See:  Feature.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LandmarkAddressProperty" type="geo:LandmarkAddressPropertyType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Encapsulates or references a LandmarkAddress element. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This element allows NIEM LandmarkAddress elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:AnyThoroughfareAddress" name="LandmarkSiteAddress" type="geo:LandmarkSiteAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An address that is both a thoroughfare (road, walkway, railroad, river) address and a landmark address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AnyThoroughfareAddress"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="LineString" type="geo:LineStringType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geometric curve that consists of a single segment with linear interpolation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="Location" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Abstract place-holder in a schema to use a non-abstract location element (geometry, feature, address) defined by an external standard. Non-abstract geospatial elements that declare substitutionGroup=&quot;gs:Location&quot; may take the place of this element in an XML data instance document to indicate a location in various ways.  These include Address, RelativeLocation, (Multi)Geometries, Positions, Points and Areas of Interest, Route WayPoints, geospatial Features and collections, and references thereto.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationProperty" type="geo:GeospatialPropertyType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Encapsulates or references a Location element. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This element allows NIEM Location elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="Map" type="geo:MapType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A map image (gif, jpeg, png, tiff, svg, etc.), base64 encoded in-line, or referenced via a URL. A local reference to a map image (gif, jpeg, png, tiff, svg, etc.), base64 encoded in-line, or referenced via a URL.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="MapViewContext" type="geo:MapViewContextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Map view context information to retrieve a particular map image from an OGC Web Map Service (WMS).</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="MapWithViewContext" type="geo:MapWithViewContextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A map and its view context.  See:  Map, MapViewContext. A reference to a map and its view context.  See:  Map, MapViewContext.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="Measurement" type="geo:MeasurementType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An Observation,  the result of which is a relative measure, with a unit of measure, relative code, and quantity.  See:  Observation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="MovingObject" type="geo:MovingObjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A moving (feature) object with a track of its past and/or projected positions at certain times.  See: Feature.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="MovingObjectCollection" type="geo:MovingObjectCollectionType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A moving (feature collection) object with a track of its past and/or projected positions at certain times.  See: FeatureCollection. A reference to a moving (feature collection) object with a track of its past and/or projected positions at certain times.  See: FeatureCollection.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="MultiCurve" type="geo:MultiCurveType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geometry collection that includes one or more curves or line strings.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="MultiGeometry" type="geo:MultiGeometryType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geometry collection that includes one or more geometries, potentially of different types.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="MultiPoint" type="geo:MultiPointType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geometry collection that includes one or more points.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="MultiPolygon" type="geo:MultiPolygonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geometry collection that includes one or more Polygons.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:AnyLandmarkAddress" name="MultiSiteLandmarkAddress" type="geo:MultiSiteLandmarkAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A landmark address specified by two landmark names, where one landmark is inside the other.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AnyLandmarkAddress"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="MultiSurface" type="geo:MultiSurfaceType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geometry collection that includes one or more surfaces or polygons.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="NiemGeographicCoordinate" type="nc:TwoDimensionalGeographicCoordinateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Deprecated non-standard location using u:GeographicCoordinateType.  Use standard gs:Point instead if possible.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="Observation" type="geo:ObservationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A generic observation of an event.  See:AbstractObservation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="ObservationCollection" type="geo:ObservationCollectionType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A composite collection of observations of an event.  See: Event</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="Point" type="geo:PointType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A 2D or 3D geometric point.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="PointOfInterest" type="geo:PointOfInterestType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Something with a fixed position that may be used as a reference point or a target in an OpenLS service. A POI is the primary output from an OpenLS Directory Service.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="Polygon" type="geo:PolygonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A polygon; a geometric surface defined by a single surface patch whose boundary is coplanar.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="Position" type="geo:PositionType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An observed or calculated geographic position and quality of position; the primary output from an OpenLS Gateway Service.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PostalAddressProperty" type="geo:PostalAddressPropertyType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Encapsulates or references a PostalAddress element. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This element allows NIEM PostalAddress elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="RelativeLocation" type="geo:RelativeLocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A relative location is a specified distance from a location in a specified direction.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RelativeLocationProperty" type="geo:RelativeLocationPropertyType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Encapsulates or references a RelativeLocation element. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This element allows NIEM  RelativeLocation elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="RouteModeInstruction" type="geo:RouteModeInstructionType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An Open Location Services route mode instruction extended with transportation mode (e.g. foot, bicycle, taxi, bus, rail, boat, airplane) information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:AnyLandmarkAddress" name="SingleSiteLandmarkAddress" type="geo:SingleSiteLandmarkAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A  landmark address specified by reference to a single landmark.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AnyLandmarkAddress"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:AnyThoroughfareAddress" name="SiteAddress" type="geo:SiteAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Singular location referenced off of a linear feature, having a numeric identifier.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AnyThoroughfareAddress"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="StartModeWayPoint" type="geo:StartModeWayPointType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Starting point of a multi-modal route that starts at a transportation mode (e.g. foot, bicycle, taxi, bus, rail, boat, airplane) transfer point.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ThoroughfareAddressProperty" type="geo:ThoroughfareAddressPropertyType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Encapsulates or references a ThoroughfareAddress element. The Geography Markup Language (GML) specification uses property types and elements to encapsulate or reference GML class elements with identity.  This element allows NIEM ThoroughfareAddress elements to be referenced from GML conformant application schemas developed for use with NIEM.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Geospatial" name="TruthObservation" type="geo:TruthObservationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An Observation, in which the result is a boolean value representing the truth value (usually existence) of the observed property.  See: Observation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Geospatial"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:AnyThoroughfareAddress" name="TwoNumberAddressRange" type="geo:TwoNumberAddressRangeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A thoroughfare (road, walkway, railroad, river) address range specified by low and high address numbers.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AnyThoroughfareAddress"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:AnyPostalAddress" name="USPSGeneralDeliveryAddress" type="geo:USPSGeneralDeliveryAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A USPS General Delivery Address that has no definite relation to the location of the recipient.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AnyPostalAddress"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:AnyPostalAddress" name="USPSPostalDeliveryBox" type="geo:USPSPostalDeliveryBoxType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A USPS Postal Delivery Box that has no definite relation to the location of the recipient.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AnyPostalAddress"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:AnyPostalAddress" name="USPSPostalDeliveryRoute" type="geo:USPSPostalDeliveryRouteType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A USPS Postal Delivery Route address that has no definite relation to the location of the recipient.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AnyPostalAddress"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:AnyThoroughfareAddress" name="UnnumberedThoroughfareAddress" type="geo:UnnumberedThoroughfareAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An unnumbered thoroughfare (road, walkway, railroad, river) address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AnyThoroughfareAddress"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Location" name="ViaModeWayPoint" type="geo:ViaModeWayPointType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Intermediate transportation mode (e.g. foot, bicycle, taxi, bus, rail, boat, airplane)  transfer point of a multi-modal route.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Location"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="geo:Address" name="XLSAddress" type="geo:XLSAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An Address as encoded for OGC Open Location Services, e.g. for display on PDA or Cell Phone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Address"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
