niem/external/ogc/ols/1.1.0/dhs-gmo/2.1.0/ols.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/ogc/xls/1.1.0/dhs-gmo/2.1.0" 
xmlns:xls="http://niem.gov/niem/external/ogc/xls/1.1.0/dhs-gmo/2.1.0" 
xmlns:gml="http://www.opengis.net/gml/3.2" 
elementFormDefault="qualified" version="1.1.0">

	<annotation>
		<documentation>  
		A slightly modified profile of OGC 05-016_OpenLS_core_services_1.1 that is based on GML version 3.2.1 instead of GML version 3.0, containing type and element definitions from
             geometry.xsd
             

		See http://schemas.opengeospatial.net/ols/1.1.0/
		See documentation in type definitions below for details.
		
	  Backward incompatibilities include:
	  	* gid replaced by gml:id
	  	* dimension attribute replaced by srsDimension
	  	* gml:pos replaced by gml:lowerCorner and gml:upperCorner in gml:Envelope
	  	* gml:MultiPolygon replaced by xls:MultiPolygon
	  	
	  	These changes are significant enough to warrent incrementing the minor version from 1 to 2 for change proposal to OGC.
	  	
		Change Log:
			2008-10-20 
				changed namespace and schema location
				ns old		http://niem.gov/niem/external/ogc-openls/1.1.0/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/ogc/xls/1.1.0/dhs-gmo/2.1.0
				
				ns old   http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0	
				ns new http://www.opengis.net/gml/3.2
				from	../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd
				to			../../../../gml/3.2.1/gml.xsd
				
				change	substitutionGroup="gml:_GeometricAggregate"
				to 		    substitutionGroup="gml:AbstractGeometricAggregate"
				for	xls:MultiPolygon
		
     		2006-09-28 Changed namespaces and schema location
				ns old	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0	
				from		../../../../gml/3.1.1/dhs-gmo/1.0.0/gml.xsd
				to			../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd
		
			2006-09-22 Changed namespaces following NIEM conventions
				1.  targetNamespace	http://niem.gov/niem/external/ogc-openls/1.1.0/dhs-gmo/1.0.0
				2.  gml namespace	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
				
  			2006-09-04 Changes
			
				1.  Change namespaces following conventions proposed in OGC 05-065r3 to include version and profile information, 
				      except that complete version is used instead of BNF "principle version".  
				      a) targetNamespace was http://www.opengis.net/xls; changed to http://www.opengis.net/xls/1.1.0/DHS-GMO/1.0.0
				      b) gml namespace was http://www.opengis.net/gml; changed to http://www.opengis.net/gml/3.1.1/DHS-GMO/1.0.0					  

				2.  Include complete OGC copyright notice from http://www.opengeospatial.org/ogc/software
		
			2006-04-14
				rename to ols4niem.xsd
				move to proposed external components directory structure
				change path to gml4niem.xsd
				
			2005-12-31 	
				rename from ADT.xsd to xls4niem.xsd
				change import from gml4xls311.xsd to gml4niem.xsd
				change include from geometry.xsd to geometry4xls.xs

			2005-12-29  
				import gml4xls311.xsd instead of gml4xls.xsd
				use xls:MultiPolygonType to replace deprecated GML 311 MultiPolygonType

			2006-01-01
			 	import gml4niem.xsd instead of gml4xls311.xsd

			2006-01-05
				add documentation
							
			2006-01-07
				Put definitions from geometry4xls.xsd and UOM.xsd in-line to conform to NIEM schema practice
				whereby there is only one schema document per namespace.
				Added appinfo elements to indicate source of type definitions.
						
			2006-01-09
			 	Add references to (empty) gml:AssociationAttributeGroup
			 			 	
			2006-01-21
			    Add RouteService, XLS definitions
			    
			2009-04-24
				Remove all but Ellipse for NIEM v2.1
				
			    		 	Copyright Notices:

		 Copyright (c) 2006 Open Geospatial Consortium, Inc. All Rights Reserved.
		 	
		 	This OGC work (including software, documents, or other related items) is being provided by the copyright holders under the following license. By obtaining, using and/or copying this work, you (the licensee) agree that you have read, understood, and will comply with the following terms and conditions:

Permission to use, copy, and modify this software and its documentation, with or without modification, for any purpose and without fee or royalty is hereby granted, provided that you include the following on ALL copies of the software and documentation or portions thereof, including modifications, that you make:

   1. The full text of this NOTICE in a location viewable to users of the redistributed or derivative work.
   2. Any pre-existing intellectual property disclaimers, notices, or terms and conditions. If none exist, a short notice of the following form (hypertext is preferred, text is permitted) should be used within the body of any redistributed or derivative code: "Copyright © [$date-of-document] Open Geospatial Consortium, Inc. All Rights Reserved. http://www.opengeospatial.org/ogc/legal (Hypertext is preferred, but a textual representation is permitted.)
   3. Notice of any changes or modifications to the OGC files, including the date changes were made. (We recommend you provide URIs to the location from which the code is derived.) 

THIS SOFTWARE AND DOCUMENTATION IS PROVIDED "AS IS," AND COPYRIGHT HOLDERS MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR ANY PARTICULAR PURPOSE OR THAT THE USE OF THE SOFTWARE OR DOCUMENTATION WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.

COPYRIGHT HOLDERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF ANY USE OF THE SOFTWARE OR DOCUMENTATION.

The name and trademarks of copyright holders may NOT be used in advertising or publicity pertaining to the software without specific, written prior permission. Title to copyright in this software and any associated documentation will at all times remain with copyright holders.
    
		</documentation>
	</annotation>

	  <import namespace="http://www.opengis.net/gml/3.2" 
			   schemaLocation="../../../../gml/3.2.1/gml.xsd"/>

	<!-- ================ type ==================== -->
	<complexType name="EllipseType">
		<annotation>
			<appinfo source="geometry.xsd"/>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGeometricPrimitiveType">
				<sequence>
					<element ref="gml:pos"/>
					<element name="majorAxis" type="gml:LengthType"/>
					<element name="minorAxis" type="gml:LengthType"/>
					<element name="rotation" type="gml:AngleType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================ element ================== -->
	<element name="Ellipse" type="xls:EllipseType"/>
</schema>
