niem/external/dhs-gmo/AS/multiModalRoute/1.0.0/multiModalRoute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/dhs-gmo/AS/multiModalRoute/1.0.0" 
xmlns:mmr="http://niem.gov/niem/external/dhs-gmo/AS/multiModalRoute/1.0.0" 
xmlns:gml="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0"
xmlns:xlink="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0"
xmlns:xls="http://niem.gov/niem/external/ogc-openls/1.1.0/dhs-gmo/1.0.0" 
elementFormDefault="qualified" version="1.0">
	<annotation>
		<documentation>
     		      Draft Multi-modal route schema for niem based on OpenLS route.
     		      
      		      Intended to extend content of types from one external standard (OpenLS)  to also conform with other external standards
				(ISO 19134 Multimodal location based services for routing and navigation, 
				and  ISO 19133 Location based services tracking and navigation).
     		      
     		     Defines multi-modal types and elements to represent a multi-modal route in a manner that will interoperate with an OpenLS 
     		     navigation service, which is designed to give single-mode vehicle driving instructions.  Does not define types and elements 
     		     required to interact with a multi-modal routing service.
     		     
     		     Future work: 
     		       1.  Identify multi-mode routing service
     		       2.  Modify and extend types in this schema to match interface of multi-mode routing service
     		       3.  Add addapters for new types and elements to geospatial-adapters.xsd
     		     
	Note for schema readers:  The XML/Schema spec does not require processing implementations to transitively import definitions from imported schemas.   To assure that all required definitions are available, a schema must re-import the schemas that are imported by the schemas it imports.   Such re-imports are noted in the documentation.

     		2006-09-28 Changed namespaces and schema locations
     		
				ns old	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0	
				from		../../../../gml/3.1.1/dhs-gmo/1.0.0/gml.xsd
				to			../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd
					
				ns old	http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0		
				from		../../../../xlink/1.0.0/dhs-gmo/1.0.0/xlinks.xsd
				to			../../../../w3c-xlink/1.0/dhs-gmo/1.0.0/xlinks.xsd

     		2006-09-22 Changed namespaces following NIEM conventions
     		   1) targetNamespace	http://niem.gov/niem/external/dhs-gmo/AS/multiModalRoute/1.0.0
     		   2) mmr namespace	http://niem.gov/niem/external/dhs-gmo/AS/multiModalRoute/1.0.0
     		   3) xls namespace		http://niem.gov/niem/external/ogc-openls/1.1.0/dhs-gmo/1.0.0
     		   4) gml namespace		http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
     		   5) xlink namespace		http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
     		   
  			2006-09-04 Changes
			
				1.  Change namespaces following conventions proposed in OGC 05-065r3 to include version and profile information, 
				      except that complete version is used instead of BNF "principle version".  
				      a) targetNamespace was http://niem.gov/niemApp/0.3/mmr; changed to http://www.opengis.net/xls/1.1.0/DHS-GMO/1.0.0/AS/MMR/0.4.0
					  b) gml namespace was http://www.opengis.net/gml; changed to http://www.opengis.net/gml/3.1.1/DHS-GMO/1.0.0					  
					  c) xlink namespace was http://www.w3.org/1999/xlink; changed to http://www.w3.org/1999/xlink/1.0.0/OGC-DHS-GMO/1.0.0
					  d) xls namespace was http://www.opengis.net/xls; changed to http://www.opengis.net/xls/1.1.0/DHS-GMO/1.0.0

	      </documentation>
	</annotation>
	<!-- ============================================================== -->
	<!-- ==================  includes and imports  ======================= -->
 	  <import namespace="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0" 
			   schemaLocation="../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd"/>
	<!-- ============================================================== -->
	<import namespace="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0" 	
			schemaLocation="../../../../w3c-xlink/1.0/dhs-gmo/1.0.0/xlinks.xsd"/> 
	<!-- ============================================================== -->
	<import namespace="http://niem.gov/niem/external/ogc-openls/1.1.0/dhs-gmo/1.0.0" 	schemaLocation="../../../../ogc-openls/1.1.0/dhs-gmo/1.0.0/ols.xsd"/> 
	<!-- ============================================================== -->
	<!-- ========================= ROUTE  ============================== -->
	<!-- ============================================================== -->
	<simpleType name="TransportationModeTypeCodeType">
		<annotation>
			<documentation>Name of transportation mode.</documentation>
		</annotation>
		<union>
			<simpleType>
				<restriction base="string">
					<enumeration value="intracityBus"/>
					<enumeration value="intercityBus"/>
					<enumeration value="shuttleBus"/>
					<enumeration value="rovingBus"/>
					<enumeration value="schoolBus"/>
					<enumeration value="subway"/>
					<enumeration value="lightrail"/>
					<enumeration value="tram"/>
					<enumeration value="railway"/>
					<enumeration value="highSpeedRailway"/>
					<enumeration value="ferry"/>
					<enumeration value="powerBoat"/>
					<enumeration value="sailBoat"/>
					<enumeration value="taxi"/>
					<enumeration value="automobile"/>
					<enumeration value="ambulance"/>
					<enumeration value="4WheelDrive"/>
					<enumeration value="truck"/>
					<enumeration value="van"/>
					<enumeration value="SUV"/>
					<enumeration value="motorcycle"/>
					<enumeration value="motorScooter"/>
					<enumeration value="moped"/>
					<enumeration value="bicycle"/>
					<enumeration value="airplane"/>
					<enumeration value="helicopter"/>
					<enumeration value="pedestrian"/>
				</restriction>
			</simpleType>
			<simpleType>
				<restriction base="string">
					<pattern value="other:\w{2,}"/>
				</restriction>
			</simpleType>
		</union>
	</simpleType>
	<!-- ============================================================== -->
	<simpleType name="ModeTransferPointTypeCodeType">
		<annotation>
			<documentation>Name of type of transportation mode transfer point.
			</documentation>
		</annotation>
		<union>
			<simpleType>
				<restriction base="string">
					<enumeration value="busStop"/>
					<enumeration value="taxiStop"/>
					<enumeration value="subwayStation"/>
					<enumeration value="lightrailStation"/>
					<enumeration value="railwayStation"/>
					<enumeration value="interCityBusTerminal"/>
					<enumeration value="platform"/>
					<enumeration value="gate"/>
					<enumeration value="port"/>
					<enumeration value="airport"/>
					<enumeration value="parkAndRide"/>
					<enumeration value="parkingLot"/>
				</restriction>
			</simpleType>
			<simpleType>
				<restriction base="string">
					<pattern value="other:\w{2,}"/>
				</restriction>
			</simpleType>
		</union>
	</simpleType>
	<!-- ============================================================== -->
	<element name="modeTransferPointType" type="mmr:ModeTransferPointTypeCodeType"/>
	<!-- ============================================================== -->
	<complexType name="ModeTransferWayPointType">
		<annotation>
			<documentation>A WayPoint that is also a transfer point between different modes of transportation.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="xls:WayPointType">
				<sequence>
					<element ref="mmr:modeTransferPointType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ============================================================== -->
	<element name="StartModeWayPoint" type="mmr:ModeTransferWayPointType" substitutionGroup="xls:StartPoint">
		<annotation>
			<documentation>Starting point of a multi-modal route that starts at a mode transfer point.</documentation>
		</annotation>
	</element>
	<!-- ============================================================== -->
	<element name="ViaModeWayPoint" type="mmr:ModeTransferWayPointType" substitutionGroup="xls:ViaPoint">
		<annotation>
			<documentation>Intermediate mode transfer point of a multi-modal route</documentation>
		</annotation>
	</element>
	<!-- ============================================================== -->
	<element name="EndModeWayPoint" type="mmr:ModeTransferWayPointType" substitutionGroup="xls:EndPoint">
		<annotation>
			<documentation>Ending point of a multi-modal route that ends at a mode transfer point.</documentation>
		</annotation>
	</element>
	<!-- ============================================================== -->
	<complexType name="RouteModeInstructionType">
		<annotation>
			<documentation>Extended route instruction with mode information.</documentation>
		</annotation>
		<complexContent>
			<extension base="xls:RouteInstructionType">
				<sequence>
					<element name="fromMode" type="mmr:TransportationModeTypeCodeType" minOccurs="0"/>
					<element ref="mmr:ViaModeWayPoint"/>
					<element name="viaMode" type="mmr:TransportationModeTypeCodeType" minOccurs="0"/>
					<element name="toMode" type="mmr:TransportationModeTypeCodeType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ============================================================== -->
	<element name="RouteModeInstruction" type="mmr:RouteModeInstructionType" substitutionGroup="xls:RouteInstruction"/>
	<!-- ============================================================== -->
	
</schema>
