niem/domains/intelligence/2.0/intelligence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/domains/intelligence/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:intel="http://niem.gov/niem/domains/intelligence/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>Intelligence</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../jxdm/4.0/jxdm.xsd" namespace="http://niem.gov/niem/domains/jxdm/4.0"/>
  <xsd:import schemaLocation="../../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:complexType name="AgencyInterestCategoryType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="intel:SubjectCategoryCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:FBIECRCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:StateINACode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:AgencyInterestOtherCategory" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AgencyInterestOtherCategoryType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="intel:AgencyInterestCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:AgencyInterestCategoryCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:AgencyInterestCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AgencySubjectHandlingType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="intel:AgencySubjectHandlingFBICode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:SubjectHandling" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AgencySubjectInterestType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="intel:AgencyName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:AgencyInterestCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:AgencySubjectHandling" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:SubjectReasonOnListText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:SubjectCautionInformation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BiometricAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a biometric.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="intel:CBEFF" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CapabilityAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a capability.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="intel:CapabilityProficiencyCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactInformationAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a contact information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="intel:ContactSatelliteTelephoneNumber" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about an identification.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="intel:AuthenticCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:IdentificationIssuingCountryCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:IdentificationIssuingStateName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:IdentificationIssuingLocalityText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonInIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentityAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association relating a set of identities belonging to the same actual person to each other.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="intel:AuthenticatedIdentityReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PrimaryIdentityReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:IdentityReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PartialDateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="DateType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:DateType">
        <xsd:attribute ref="intel:dayOfMonth" use="optional"/>
        <xsd:attribute ref="intel:month" use="optional"/>
        <xsd:attribute ref="intel:year" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="intel:PersonAffiliationAssociation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:AgencySubjectInterest" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonCitizenshipDetails" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonContactDetails" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonEducationDetails" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:Location" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonMultimediaIDBinary" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonCapability" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonSystemIdentifier" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonCauseOfDeathText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonEyeDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:OccupationName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:Aircraft" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:Vessel" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:Train" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonCitizenshipDetailsType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonCitizenship" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonCitizenshipStatusCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonEducationDetailsType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonEducationLevelText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonEducationDegreeCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonInIDType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonLocationDetailsAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a location of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="intel:GlobalRegionCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PersonLocationUsageCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonMedicalConditionAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a medical condition of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="intel:PersonMedicationRequiredText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonOtherIDType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PotentialIdentityMatchAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for an association relating a set of identities that may potentially belong to the same person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssociationType">
        <xsd:sequence>
          <xsd:element ref="intel:IdentityReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:PotentialIdentityMatchDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubjectCautionInformationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="intel:SubjectCautionInformationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubjectHandlingType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="intel:SubjectHandlingAgencyName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:SubjectHandlingCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:SubjectHandlingDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SystemIdentifierType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="intel:SystemName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TrainType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="VehicleType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:VehicleType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:attribute name="dayOfMonth" type="xsd:gDay">
    <xsd:annotation>
      <xsd:documentation>One of the numbered 24-hour periods into which a month is divided.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="month" type="xsd:gMonth">
    <xsd:annotation>
      <xsd:documentation>One of the 12 divisions of a year as determined by a calendar, especially the Gregorian calendar.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="year" type="xsd:gYear">
    <xsd:annotation>
      <xsd:documentation>The period of time during which Earth completes a single revolution around the sun, consisting of 365 days, 5 hours, 49 minutes, and 12 seconds of mean solar time. In the Gregorian calendar the year begins on January 1 and ends on December 31 and is divided into 12 months, 52 weeks, and 365 or 366 days. Also called calendar year.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:element name="AgencyInterestCategory" type="intel:AgencyInterestCategoryType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Groupings of persons by the reason they are of interest to intelligence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AgencyInterestCategoryCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A reason that a group of people are of interest to intelligence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AgencyInterestCategoryDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of the reason that a group of people are of interest to intelligence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AgencyInterestCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description that identifies the source of the code and/or description used to detail groups of people by the reason they are of interest to intelligence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AgencyInterestOtherCategory" type="intel:AgencyInterestOtherCategoryType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details that describe an additional person-categorization system that groups of people by the reason they are of interest to intelligence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AgencyName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A government organization that has specified an interest in this person, or has issued a warning or handling instructions regarding this person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AgencySubjectHandling" type="intel:AgencySubjectHandlingType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about actions to take on contact with the person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AgencySubjectHandlingFBICode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An action for the designated agency to take on contact with the person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AgencySubjectInterest" type="intel:AgencySubjectInterestType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Detailed description of why an agency placed the person in its repository or why the data on the person is being exchanged.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AuthenticCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Of undisputed origin or veracity; genuine.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AuthenticatedIdentityReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An identity that has been verified by some authority.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BiometricAugmentation" type="intel:BiometricAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about a biometric.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="BiometricType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CBEFF" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A data format [not defined by the ICMWG] for biometric data.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CapabilityAugmentation" type="intel:CapabilityAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about a capability.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="CapabilityType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CapabilityProficiencyCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Skillfulness in the command of fundamentals deriving from practice and familiarity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactInformationAugmentation" type="intel:ContactInformationAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about contact information.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ContactInformationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactSatelliteTelephoneNumber" type="nc:TelephoneNumberType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A satellite phone number of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:RegistrationIdentification" name="ConveyanceRegistrationIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="RegistrationIdentification"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FBIECRCode" type="fbi:ECRCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>VGTOF Group Member Capability Criteria for Entry</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GlobalRegionCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>National Intelligence Priorities Framework areas.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationAugmentation" type="intel:IdentificationAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about an identification.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="IdentificationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationIssuingCountryCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>GeoPolitical Entity from which this identification was issued.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationIssuingLocalityText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Geographic Location from which this identification was issued.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationIssuingStateName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A major administrative district or division of a country from which this identification was issued.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentityReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A description of a person.  This may or may not be authentic.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentityAssociation" type="intel:IdentityAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An association relating a set of identities belonging to the same actual person to each other.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentArrest" type="j:ArrestType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An arrest made because of an incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:LocationCountry" name="LocationCountryFIPS10-4PlusNCTCCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A union of additional country codes managed by NCTC and the FIPS 10-4 country codes.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="LocationCountry"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OccupationName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Name of occupation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PartialDate" type="intel:PartialDateType" nillable="true"/>
  <xsd:element name="PersonAffiliationAssociation" type="nc:PersonOrganizationAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Other organization a person is affiliated with.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAugmentation" type="intel:PersonAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:PersonBirthDate" name="PersonBirthDate" type="intel:PartialDateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Calendar date (Gregorian calendar) on which a person was born.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonBirthDate"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonCapability" type="nc:CapabilityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An ability, knowledge, or capability to perform some activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonCauseOfDeathText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>That which produces or effects a persons death.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonCitizenshipDetails" type="intel:PersonCitizenshipDetailsType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Information about a persons allegiance to a sovereign state by right of birthplace or naturalization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonCitizenshipStatusCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A mutually exclusive category recognized by law that identifies the degree of protection given a person in return for that persons allegiance.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonContactDetails" type="nc:ContactInformationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A structure that describes details about how to contact a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:PersonDeathDate" name="PersonDeathDate" type="intel:PartialDateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Calendar date (Gregorian calendar) on which a person died or was declared legally dead.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonDeathDate"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:PersonLicenseIdentification" name="PersonDriverLicenseIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Information about an identifier used to refer to a specific person who has obtained a drivers license.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonLicenseIdentification"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEducationDegreeCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A document awarded by an educational institution conferring a degree on a person or certifying his satisfactory completion of a course of study. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEducationDetails" type="intel:PersonEducationDetailsType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A relationship between a person and an organization in which the organization is providing a service as an educational institution.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEyeDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A text description of the characteristics of a persons eyes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonInIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The human being referenced in the context of an identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonLocationDetailsAugmentation" type="intel:PersonLocationDetailsAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about a location.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="LocationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonLocationUsageCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The context within which a location is used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMedicalConditionAugmentation" type="intel:PersonMedicalConditionAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about a medical condition of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="MedicalConditionType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMedicationRequiredText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A substance used to treat a condition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMultimediaIDBinary" type="nc:BinaryType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A non-textual indicator of a persons identity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:PersonNationalIdentification" name="PersonNationalIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A general ID that identifies a person within a country but is not based on fingerprint.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonNationalIdentification"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Information about an identifier with a kind that is not explicitly defined in the standard that refers to a person within a certain domain.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:PersonSSNIdentification" name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A 9-digit numeric identifier assigned to a living person by the U.S. Social Security Administration.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonSSNIdentification"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSystemIdentifier" type="intel:SystemIdentifierType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a system identifier that references a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:PhysicalFeatureCategory" name="PhysicalFeatureCategoryCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A visible, atypical distinguishing trait, property or quality of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PhysicalFeatureCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PotentialIdentityMatchAssociation" type="intel:PotentialIdentityMatchAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An association relating a set of identities that may potentially belong to the same person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PotentialIdentityMatchDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of why the different identities may belong to the same person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PrimaryIdentityReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An identity that a person is first known as (e.g., for law enforcement), primarily known as, or primarily goes by.  This may or may not be the -real- or authenticated identity.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StateINACode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A Department of State code that identifies the reason that a group of people are of interest to intelligence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubjectCategoryCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details that describe a general category or classification of persons by the reason they are of interest to intelligence.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubjectCautionInformation" type="intel:SubjectCautionInformationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details cautioning against the persons potential for dangerous behavior when contacted.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubjectCautionInformationDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of cautions about a persons potential for dangerous behavior when contacted.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubjectHandling" type="intel:SubjectHandlingType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An action for the designated agency to take on contact with the person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubjectHandlingAgencyName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The agency for whom the person handling information is designated.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubjectHandlingCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An action for the designated agency to take on contact with the person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubjectHandlingDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description that identifies the action for the designated agency to take on contact with the person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubjectReasonOnListText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The reason why the person has been added to a terrorist watch list by a government organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SystemIdentifier" type="intel:SystemIdentifierType" nillable="true"/>
  <xsd:element name="SystemName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The name of the kind or the source of a system identifier.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Train" type="intel:TrainType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A series of connected railroad cars pulled or pushed by one or more locomotives.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
