niem/external/iso-19139-gmd/draft-0.1/gts/dhs-gmo/1.0.0/temporalObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gts/dhs-gmo/1.0.0" 
xmlns:gts="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gts/dhs-gmo/1.0.0" 
xmlns:gco="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0" 
xmlns:gml="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0"
xmlns:xlink="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0"
elementFormDefault="qualified" version="0.1">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:18:09 ====== 
		ISO DTS 19139 Metadata XML Schema "gts Geographic Temporal Schema extensible markup language"
		 see ../readme.txt    see ../version.txt
		 
		DHS Changes 
     		2006-09-28 Changed namespaces and schema location
				ns old	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0	
				from		../../../../../gml/3.1.1/dhs-gmo/1.0.0/gml.xsd
				to			../../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd

				ns old	http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0		

		    2006-09-22 Changed namespaces following NIEM conventions
			1) targetNamespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gts/dhs-gmo/1.0.0
			2) gts namespace	 	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gts/dhs-gmo/1.0.0
			3) gco namespace		http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0
			4) gml namespace 	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
			5) xlink namespace	 http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
		
			2006-09-19 Changes DHS namespaces and schema locations, were
				targetNamespace="http://www.isotc211.org/2005/gts"
				xmlns:gco="http://www.isotc211.org/2005/gco" 
				xmlns:gml="http://www.opengis.net/gml" 
				xmlns:gts="http://www.isotc211.org/2005/gts"
				xmlns:xlink="http://www.w3.org/1999/xlink" 
		</xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<!-- <xs:import namespace="http://www.opengis.net/gml" schemaLocation="../../gml/gml.xsd"/> -->
	<!-- <xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/> -->
	 <xs:import namespace="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0" 
			   schemaLocation="../../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd"/>
	<xs:import namespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0" 
	schemaLocation="../../../gco/dhs-gmo/1.0.0/gco.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<!-- ........................................................................ -->
	<!--==XCGE: gml:AbstractTimePrimitive==-->
	<!-- ........................................................................ -->
	<xs:complexType name="TM_Primitive_PropertyType">
		<xs:sequence>
			<!-- <xs:element ref="gml:AbstractTimePrimitive" minOccurs="0"/> -->
			<xs:element ref="gml:_TimePrimitive" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="TM_PeriodDuration" type="xs:duration"/>
	<!-- ........................................................................ -->
	<xs:complexType name="TM_PeriodDuration_PropertyType">
		<xs:sequence>
			<xs:element ref="gts:TM_PeriodDuration" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
