xsd/domains/agriculture.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/agriculture/5.0/" version="1" xml:lang="en-US" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/5.0/ ../utility/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../utility/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument"
  xmlns:ag="http://release.niem.gov/niem/domains/agriculture/5.0/"
  xmlns:ag_codes="http://release.niem.gov/niem/codes/ag_codes/5.0/"
  xmlns:appinfo="http://release.niem.gov/niem/appinfo/5.0/"
  xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
  xmlns:fips="http://release.niem.gov/niem/codes/fips/5.0/"
  xmlns:geo="http://release.niem.gov/niem/adapters/geospatial/5.0/"
  xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/"
  xmlns:niem-xs="http://release.niem.gov/niem/proxy/niem-xs/5.0/"
  xmlns:structures="http://release.niem.gov/niem/structures/5.0/"
  xmlns:usda_fsa="http://release.niem.gov/niem/codes/usda_fsa/5.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>Agriculture</xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="ACRSI" literal="Acreage and Crop Reporting Streamlining Initiative"/>
      <appinfo:LocalTerm term="AIP" literal="Approved Insurance Provider"/>
      <appinfo:LocalTerm term="ANSI" literal="American National Standards Institute"/>
      <appinfo:LocalTerm term="CLU" literal="Common Land Unit"/>
      <appinfo:LocalTerm term="CM" literal="Common Management"/>
      <appinfo:LocalTerm term="CVT" literal="Commodity Validation Table"/>
      <appinfo:LocalTerm term="FIPS" literal="Federal Information Processing Standards"/>
      <appinfo:LocalTerm term="FSA" literal="Farm Service Agency"/>
      <appinfo:LocalTerm term="GML" literal="Geography Markup Language"/>
      <appinfo:LocalTerm term="INCITS" literal="InterNational Committee for Information Technology Standards"/>
      <appinfo:LocalTerm term="MICS" literal="Mobile Implement Control System"/>
      <appinfo:LocalTerm term="NRCS" literal="Natural Resources Conservation Service"/>
      <appinfo:LocalTerm term="RMA" literal="Risk Management Agency"/>
      <appinfo:LocalTerm term="SCIMS" literal="Service Center Information Management System"/>
      <appinfo:LocalTerm term="USDA" literal="United States Department of Agriculture"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/adapters/geospatial/5.0/" schemaLocation="../adapters/geospatial.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/codes/ag_codes/5.0/" schemaLocation="../codes/ag_codes.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/codes/fips/5.0/" schemaLocation="../codes/fips.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/codes/usda_fsa/5.0/" schemaLocation="../codes/usda_fsa.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/" schemaLocation="../niem-core.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/proxy/niem-xs/5.0/" schemaLocation="../adapters/niem-xs.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/5.0/" schemaLocation="../utility/structures.xsd"/>
  <xs:complexType name="AcreageSubmissionFileType">
    <xs:annotation>
      <xs:documentation>A data type containing the entire set of the crops planted on a farm, itemized down to the acreage of individual fields and subfields and the individual producer stakeholders.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="ag:CropYearValue" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:OriginatorIdentificationID" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:CustomerInfo" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="ag:FarmCropAcreage" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="ag:AcreageSubmissionFileAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AgricultureProductionPlanType">
    <xs:annotation>
      <xs:documentation>A data type that contains agriculture production plan related information including location, product, acreage, planting, practice and data modifications details.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="fips:StateCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="fips:CountyCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:SubfieldNumberID" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:CoreProductCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:CoreProductCategoryCode" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:ProductIntendedUseCode" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:OriginalReportedAcreageValue" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:FinalReportedAcreageValue" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:ReportedAcreageModifiedIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:ReportedAcreageModifiedReasonCode" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:ReportedAcreageModifiedOtherReasonText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:AcreageCalculationProjectionCode" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:OriginalPlantedDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:FinalPlantedDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:PlantedDateModifiedIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:PlantedDateModifiedReasonCode" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:PlantedDateModifiedOtherReasonText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:ProductPlantingCode" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:IrrigationPracticeCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:OrganicPracticeCategoryCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:CroppingPracticeCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:GeospatialSourceInfo" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:ProducerShare" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="ag:AgricultureProductionPlanAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomerInfoType">
    <xs:annotation>
      <xs:documentation>A data type containing customer information including identification and name.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="ag:FileCustomerID" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="ag:CustomerInterAgencyIdentificationID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="ag:TaxIdentificationID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="ag:TaxIdentificationCategoryCode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="ag:CustomerInfoAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FarmCropAcreageType">
    <xs:annotation>
      <xs:documentation>A data type that contains farm related information including FSA state and county, farm number, and one to many tracts.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="ag:AdministrativeStateFSACode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:AdministrativeCountyFSACode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:FarmNumberID" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:TractCropAcreage" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="ag:FarmCropAcreageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FieldCropAcreageType">
    <xs:annotation>
      <xs:documentation>A data type that contains field related information including CLU related information, field number, and one to many agriculture production plans.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="ag:CLUID" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:FieldNumberID" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:CLUProducerReviewRequestIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:AgricultureProductionPlan" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="ag:FieldCropAcreageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GeospatialSourceInfoType">
    <xs:annotation>
      <xs:documentation>A data type that contains the sourcing of geospatial information that include the method of sourcing, modifications made, and how they were processed.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="ag:GeospatialShapeSourceCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:GeospatialShapeModifiedIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:GeospatialShapeModifiedReasonCode" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:GeospatialShapeModifiedOtherReasonText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:GeospatialShapeProcessDate" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:GeospatialDataSubmissionMethodCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:MICSCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:MICSName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:GeospatialSourceDataCreationDateTime" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:PrecisionAgriculturalSubMeterAccuracyIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:LocationCoordinatesAbstract" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="ag:GeospatialSourceInfoAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProducerShareType">
    <xs:annotation>
      <xs:documentation>A data type that contains producer's share in the benefits coming from a crop, expressed as a percentage.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="ag:FileCustomerID" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:ProducerSharePercent" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="ag:ProducerShareAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TractCropAcreageType">
    <xs:annotation>
      <xs:documentation>A data type that contains tract related information including tract number, and one to many fields.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="ag:TractNumberID" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="ag:FieldCropAcreage" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="ag:TractCropAcreageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AcreageCalculationProjectionCode" type="ag_codes:CoordinateReferenceSystemCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A calculation code identifying the geospatial projection standard used for calculating acreage.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AcreageSubmissionFile" type="ag:AcreageSubmissionFileType" nillable="true">
    <xs:annotation>
      <xs:documentation>A file that is submitted to the crop acreage clearinghouse providing a detailed report regarding the crops planted on a farm, itemized down to the acreage of individual fields and subfields and the individual producer stakeholders.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AcreageSubmissionFileAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for AcreageSubmissionFileType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AdministrativeCountyFSACode" type="usda_fsa:AdministrativeCountyFSACodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A county code of the administering county office.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AdministrativeStateFSACode" type="usda_fsa:AdministrativeStateFSACodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A state code of administering state office.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgricultureProductionPlan" type="ag:AgricultureProductionPlanType" nillable="true">
    <xs:annotation>
      <xs:documentation>An agricultural production plan describes the details of a crop that is planted on a specific field or subfield of land.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AgricultureProductionPlanAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for AgricultureProductionPlanType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CLUID" type="ag_codes:CLUIDType" nillable="true">
    <xs:annotation>
      <xs:documentation>A system-generated internal identifier of a common land unit (CLU).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CLUProducerReviewRequestIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the producer has requested that a Common Land Unit (CLU) be reviewed; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CoreProductCategoryCode" type="ag_codes:CoreProductCategoryType" nillable="true">
    <xs:annotation>
      <xs:documentation>A product type code providing a subclassification of agricultural products in addition to the main classification provided by the Core Product Code. Each product classified by a Core Product Code is also assigned a Core Product Type Code providing greater clarification of the crop/commodity, tree, livestock ,etc. Codes are maintained by the Pilot CVT (Crop Validation Table).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CoreProductCode" type="ag_codes:CoreProductType" nillable="true">
    <xs:annotation>
      <xs:documentation>A product code providing a classification of agricultural products defined by the Pilot CVT (Crop Validation Table). Products are classified into individual crop and commodity types, tree types, and types of livestock.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CroppingPracticeCode" type="ag_codes:CroppingPracticeCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code identifying the cropping practice applicable for a reported crop/commodity on a field/subfield.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CropYearValue" type="ag_codes:CropYearType" nillable="true">
    <xs:annotation>
      <xs:documentation>A period of time (in year) within which the crop is normally grown and designated by the calendar year in which the crop is normally harvested.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CustomerInfo" type="ag:CustomerInfoType" nillable="true">
    <xs:annotation>
      <xs:documentation>An individual, corporation, partnership, association, tribe, unit of government, Conservation District, or other organization with which a USDA Service Center has had, or may have, business.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CustomerInfoAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CustomerInfoType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CustomerInterAgencyIdentificationID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A system generated, unique internal identifier used between agencies to identify a USDA customer (individual or business).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FarmCropAcreage" type="ag:FarmCropAcreageType" nillable="true">
    <xs:annotation>
      <xs:documentation>A Farm within FSA state and county that contains a number of tracts fields and subfields on which crop acreage details have been reported.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FarmCropAcreageAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for FarmCropAcreageType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FarmNumberID" type="ag_codes:FarmNumberIDType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier assigned to all land under control of a particular operator within a particular county.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FieldCropAcreage" type="ag:FieldCropAcreageType" nillable="true">
    <xs:annotation>
      <xs:documentation>A field of land within a tract on which groupings of crops can be planted.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FieldCropAcreageAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for FieldCropAcreageType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FieldNumberID" type="ag_codes:FieldNumberIDType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier number assigned to a field of land that is part of a farm tract.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FileCustomerID" type="ag_codes:FileCustomerIDType" nillable="true">
    <xs:annotation>
      <xs:documentation>An internal identifier uniquely identifying a customer within a specific file. Each unique customer within a given file will have a unique File Customer Identifier. File Customer Identifier values are not unique across files.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FinalPlantedDate" type="niem-xs:date" nillable="true">
    <xs:annotation>
      <xs:documentation>A mandatory final value for the date that a specific crop was planted.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FinalReportedAcreageValue" type="ag_codes:FinalReportedAcreageType" nillable="true">
    <xs:annotation>
      <xs:documentation>A final number of acres that were reported.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeospatialDataSubmissionMethodCode" type="ag_codes:GeospatialDataSubmissionMethodCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code identifying the method used to submit geospatial data used to create a geospatial shape/polygon.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeospatialShapeModifiedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the geospatial shape/polygon was modified from its original value; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeospatialShapeModifiedOtherReasonText" type="ag_codes:GeospatialShapeModifiedOtherReasonTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A free form text providing the reason that a geospatial shape was modified from its original form when a reason other than the possible list of provided reasons is needed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeospatialShapeModifiedReasonCode" type="ag_codes:GeospatialShapeModifiedReasonCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code identifying the reason that a geospatial shape/polygon was modified from its original shape.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeospatialShapeProcessDate" type="niem-xs:date" nillable="true">
    <xs:annotation>
      <xs:documentation>A date that a geospatial shape/polygon was created, either from processing raw data or from manual entry.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeospatialShapeSourceCode" type="ag_codes:GeospatialShapeSourceCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code identifying the source data used to create a geospatial shape/polygon.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeospatialSourceDataCreationDateTime" type="niem-xs:dateTime" nillable="true">
    <xs:annotation>
      <xs:documentation>A date when the data that was used as a source for geospatial data being considered. For geospatial data sourced by means of Precision Agriculture, this is the date the raw data was collected by the equipment. For geospatial data that was created from an existing Common Land Unit (CLU) shape, this is the date the source CLU was created.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeospatialSourceInfo" type="ag:GeospatialSourceInfoType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of source information about geospatial details related to an agricultural production plan.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeospatialSourceInfoAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for GeospatialSourceInfoType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IrrigationPracticeCode" type="ag_codes:IrrigationPracticeCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code identifying the irrigation practice used for a unit of land with a crop code identifying the irrigation practice used for a unit of land with a crop.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCoordinatesAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for geospatial coordinates.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationLineStringCoordinates" type="geo:LineStringType" substitutionGroup="ag:LocationCoordinatesAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A line string is a special curve that consists of a single segment with linear interpolation. It is defined by two or more coordinate tuples, with linear interpolation between.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationMultiSurfaceCoordinates" type="geo:MultiSurfaceType" substitutionGroup="ag:LocationCoordinatesAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A geometry collection that includes one or more Polygons or Surfaces.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationPointCoordinates" type="geo:PointType" substitutionGroup="ag:LocationCoordinatesAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A 2D or 3D geometric point is defined by a single coordinate tuple. The direct position of a point is specified by the gml:pos element which is of type gml:DirectPositionType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationPolygonCoordinates" type="geo:PolygonType" substitutionGroup="ag:LocationCoordinatesAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A gml Polygon is a special surface that is defined by a single surface patch. The boundary of this patch is coplanar and the polygon uses planar interpolation in its interior.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MICSCode" type="ag_codes:MICSCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code identifying the Mobile Implement Control System (MICS) used in the collection of geospatial data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MICSName" type="ag_codes:MICSNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code name identifying the Mobile Implement Control System (MICS) used in the collection of geospatial data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganicPracticeCategoryCode" type="ag_codes:OrganicPracticeCategoryCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code representing the type of certification for farm acreage in regards to a system/plan of production and handling practice to produce an organic commodity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OriginalPlantedDate" type="niem-xs:date" nillable="true">
    <xs:annotation>
      <xs:documentation>A mandatory original date when a specific crop was planted.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OriginalReportedAcreageValue" type="ag_codes:OriginalReportedAcreageType" nillable="true">
    <xs:annotation>
      <xs:documentation>An original, unmodified, number of acres that were reported.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OriginatorIdentificationID" type="ag_codes:OriginatorIdentificationIDType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier of the entity responsible for originating/publishing data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PlantedDateModifiedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the planted date was modified from its original value; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PlantedDateModifiedOtherReasonText" type="ag_codes:PlantedDateModifiedOtherReasonTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A free form text providing the reason that a planted date was modified from its original value when a reason other than the possible list of provided reasons is needed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PlantedDateModifiedReasonCode" type="ag_codes:PlantedDateModifiedReasonCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code identifying the reason that a planted date was modified from its original value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PrecisionAgriculturalSubMeterAccuracyIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if geospatial data collected from Precision Agriculture technology has horizontal coordinate measurements that are accurate within a sub meter; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProducerShare" type="ag:ProducerShareType" nillable="true">
    <xs:annotation>
      <xs:documentation>A share in the benefits that a producer has from a specific agricultural production plan.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProducerShareAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ProducerShareType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProducerSharePercent" type="nc:PercentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A Producer's share of a crop and the benefits coming from that crop, expressed as a percentage.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProductIntendedUseCode" type="ag_codes:ProductIntendedUseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A product code identifying the intended use for an agricultural product such as a crop/commodity, tree, livestock, etc. Codes for intended uses are specific to a particular combination of Core Product Code and Core Product Type Code and are maintained by the Pilot CVT (Crop Validation Table).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProductPlantingCode" type="ag_codes:ProductPlantingCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code identifying the planting of a product/crop as either conventional (planted as normal or no planting required) or unconventional/irregular in a predefined way.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReportedAcreageModifiedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the reported acreage was modified from its original value; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReportedAcreageModifiedOtherReasonText" type="ag_codes:ReportedAcreageModifiedOtherReasonTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An other reason code identifying the reason that the reported acreage was modified from its original value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReportedAcreageModifiedReasonCode" type="ag_codes:ReportedAcreageModifiedReasonCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A reason code identifying the reason that the reported acreage was modified from its original value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubfieldNumberID" type="ag_codes:SubfieldNumberType" nillable="true">
    <xs:annotation>
      <xs:documentation>An alpha number identifier that is used to uniquely identify a subfield within a field, within a tract within a farm within a state and county. Subfields are areas of a field that share a set of common planting characteristic in terms of crop, crop type, intended us</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TaxIdentificationCategoryCode" type="ag_codes:TaxIdentificationCategoryCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A type code identifying the type of identification assigned to a specific individual, business or other entity and is used to authenticate the individual/entity for matters of taxation and other government business.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TaxIdentificationID" type="ag_codes:TaxIdentificationIDType" nillable="true">
    <xs:annotation>
      <xs:documentation>A tax identifier assigned to a specific individual, business or other entity and is used to authenticate the individual/entity for matters of taxation and other federal government business.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TractCropAcreage" type="ag:TractCropAcreageType" nillable="true">
    <xs:annotation>
      <xs:documentation>A tract of land within a farm that contains a number of fields and subfields on which crop acreage details have been reported.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TractCropAcreageAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for TractCropAcreageType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TractNumberID" type="ag_codes:TractNumberIDType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier assigned to a unit of contiguous land that is under one ownership and that is operated as a farm or part of a farm. An owner is a person or business having deed to the land.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
