niem/codes/nga_datum/4.0/nga_datum.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/codes/nga_datum/4.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/4.0/ ../../../utility/appinfo/4.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../utility/conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ReferenceSchemaDocument" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nga="http://release.niem.gov/niem/codes/nga_datum/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>Source: National Geospatial-Intelligence Agency; 
Publication: Temporal Spatial Positioning Information (TSPI) ; 
Version: 2.0; 
Date: 1 Mar 2012;   
http://metadata.ces.mil/dse/ns/GSIP/tspi/2.0.0/tspi-core.xsd</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../utility/structures/4.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/"/>
  <xs:simpleType name="DirectionDatumCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a reference direction as determined by the means by which it is established (e.g., by the direction of a geographic or magnetic pole of the Earth).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="geodetic">
        <xs:annotation>
          <xs:documentation>Referenced to the direction of the geographic North Pole.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Magnetic">
        <xs:annotation>
          <xs:documentation>Referenced to the direction of the magnetic North Pole.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="militaryGrid">
        <xs:annotation>
          <xs:documentation>Referenced to the direction of "north" in a military grid established by a suitable map-projection, for example Universal Transverse Mercator (UTM).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Relative">
        <xs:annotation>
          <xs:documentation>Referenced to a direction established by the context of use (for example: the heading of a vessel).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DirectionDatumCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a reference direction as determined by the means by which it is established (e.g., by the direction of a geographic or magnetic pole of the Earth).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nga:DirectionDatumCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="VerticalDatumCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for vertical datum codes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="approxLowestAstronomTide">
        <xs:annotation>
          <xs:documentation>Approximate Lowest Astronomical Tide: An approximate level, usually within 0.3 metres from that of lowest astronomical tide.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="approxMeanLowerLowWater">
        <xs:annotation>
          <xs:documentation>Approximate Mean Lower Low Water: An approximate level, usually within 0.3 metres from that of mean lower low water.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="approxMeanLowWater">
        <xs:annotation>
          <xs:documentation>Approximate Mean Low Water: An approximate level, usually within 0.3 metres from that of mean low water.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="approxMeanLowWaterSprings">
        <xs:annotation>
          <xs:documentation>Approximate Mean Low Water Springs: An approximate level, usually within 0.3 metres from that of mean low water springs.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="approxMeanSeaLevel">
        <xs:annotation>
          <xs:documentation>Approximate Mean Sea Level: An approximate level, usually within 0.3 metres from that of mean sea level.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="equinoctialSpringLowWater">
        <xs:annotation>
          <xs:documentation>Equinoctial Spring Low Water: The level of low water springs near the time of an equinox.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="groundLevel">
        <xs:annotation>
          <xs:documentation>Ground Level: A continuous surface over dry land and non-tidal waters (for example: lakes). [desc] In the case of non-tidal waters it is necessary to specify hydrologic conditions in order to ensure a precise reference surface specification. Over extensive areas it is often defined by a digital elevation model (for example: a matrix of elevation values or a Triangulated Irregular Network (TIN)). Over tidal waters (for example: oceans) it is usually considered to be extended to cover the remainder of the world based on a Mean Sea Level (MSL) surface.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="higherHighWater">
        <xs:annotation>
          <xs:documentation>Higher High Water: The highest of the high waters (or single high water) of any specified tidal day due to the declination A1 effects of the moon and sun.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="higherHighWaterLargeTide">
        <xs:annotation>
          <xs:documentation>Higher High Water Large Tide: The average of the highest high waters, one from each of 19 years of observations.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="highestAstronomicalTide">
        <xs:annotation>
          <xs:documentation>Highest Astronomical Tide: The highest tidal level, which can be predicted to occur under average meteorological conditions and under any combination of astronomical conditions.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="highestHighWater">
        <xs:annotation>
          <xs:documentation>Highest High Water: The highest water level observed at a location.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="highWater">
        <xs:annotation>
          <xs:documentation>High Water: The highest level reached at a location by the water surface in one tidal cycle. [desc] When used on inland waters it is generally defined as a level that the daily mean water level exceeds less than 5 percent of the time.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="highWaterSprings">
        <xs:annotation>
          <xs:documentation>High Water Springs: An arbitrary level, approximating that of mean high water springs.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="igld1985">
        <xs:annotation>
          <xs:documentation>International Great Lakes Datum 1985: A vertical reference system with its zero based on the mean water level at Rimouski/Pointe-au-P&#xe8;re, Quebec, over the period 1970 to 1988.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="indianSpringHighWater">
        <xs:annotation>
          <xs:documentation>Indian Spring High Water: A tidal surface datum approximating the level of the mean of the higher high water at spring tides. [desc] This tidal datum approximates the highest water level observed at a location and is usually above that of the higher high water at spring tides.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="indianSpringLowWater">
        <xs:annotation>
          <xs:documentation>Indian Spring Low Water: A tidal surface datum approximating the level of the mean of the lower low water at spring tides. [desc] This tidal datum approximates the lowest water level observed at a location and is usually below that of the lower low water at spring tides.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lowerLowWater">
        <xs:annotation>
          <xs:documentation>Lower Low Water: The lowest of the low waters (or single low water) of any specified tidal day due to the declination A1 effects of the moon and sun.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lowerLowWaterLargeTide">
        <xs:annotation>
          <xs:documentation>Lower Low Water Large Tide: The average of the lowest low waters, one from each of 19 years of observations.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lowestAstronomicalTide">
        <xs:annotation>
          <xs:documentation>Lowest Astronomical Tide: The lowest tide level that can be predicted to occur under average meteorological conditions and under any combination of astronomical conditions.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lowestLowWater">
        <xs:annotation>
          <xs:documentation>Lowest Low Water: An arbitrary level conforming to the lowest tide observed at a location, or somewhat lower.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lowestLowWaterSprings">
        <xs:annotation>
          <xs:documentation>Lowest Low Water Springs: An arbitrary level conforming to the lowest water level observed at a location at spring tides during a period shorter than 19 years.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lowWater">
        <xs:annotation>
          <xs:documentation>Low Water: An approximation of mean low water adopted as the reference level for a limited region, irrespective of better determinations later. [desc] Used mostly in harbour and river engineering. Used in inland waters. It is generally defined as a level which the daily mean water level would fall below less than 5 percent of the time and by no more than 0.2 metres during the navigation season. A single level surface is usually chosen as the low water datum for a whole lake. On a river, low water datum is a sloping surface, which approximates the surface of the river at a low state.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lowWaterSprings">
        <xs:annotation>
          <xs:documentation>Low Water Springs: A level approximating that of mean low water springs.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanHigherHighWater">
        <xs:annotation>
          <xs:documentation>Mean Higher High Water: The average height of higher high waters at a location over a 19-year period.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanHigherHighWaterSprings">
        <xs:annotation>
          <xs:documentation>Mean Higher High Water Springs: The average height of higher high water at spring tides at a location.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanHighWater">
        <xs:annotation>
          <xs:documentation>Mean High Water: The average height of all high waters at a location over a 19-year period.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanHighWaterNeaps">
        <xs:annotation>
          <xs:documentation>Mean High Water Neaps: The average height of the high waters of the neap tide.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanHighWaterSprings">
        <xs:annotation>
          <xs:documentation>Mean High Water Springs: The average height of the high waters of spring tides.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanLowerLowWater">
        <xs:annotation>
          <xs:documentation>Mean Lower Low Water: The average height of the lower low waters at a location over a 19-year period.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanLowerLowWaterSprings">
        <xs:annotation>
          <xs:documentation>Mean Lower Low Water Springs: The average height of lower low water at spring tides at a location.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanLowWater">
        <xs:annotation>
          <xs:documentation>Mean Low Water: The average height of all low waters at a location over a 19-year period.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanLowWaterNeaps">
        <xs:annotation>
          <xs:documentation>Mean Low Water Neaps: The average height of the low waters of the neap tide.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanLowWaterSprings">
        <xs:annotation>
          <xs:documentation>Mean Low Water Springs: The average height of the low waters of spring tides.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanSeaLevel">
        <xs:annotation>
          <xs:documentation>Mean Sea Level (MSL): A continuous surface over the oceans (or its hypothetical extension under the land masses) defined by the mean of sea level surfaces approximated and observed over 19 years.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanTideLevel">
        <xs:annotation>
          <xs:documentation>Mean Tide Level: The arithmetic mean of mean high water and mean low water.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meanWaterLevel">
        <xs:annotation>
          <xs:documentation>Mean Water Level: The average of all hourly water levels over the available period of record.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="navd88">
        <xs:annotation>
          <xs:documentation>North American Vertical Datum (NAVD) 1988: A fixed reference for elevations derived from a general adjustment of the first-order terrestrial levelling nets of the United States, Canada, and Mexico. [desc] In the adjustment, only the height of the primary tidal bench mark, referenced to the International Great Lakes Datum of 1985 local mean sea level height value, at Pointe-au-Pere, Quebec, on the Gulf of St. Lawrence was held fixed, thus providing minimum constraint.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="neapTide">
        <xs:annotation>
          <xs:documentation>Neap Tide: A tide of decreased range (or tidal currents of decreased speed) occurring semi-monthly as the result of the moon being in quadrature. [desc] The neap range of the tide is the average range occurring at the time of neap tides and is most conveniently computed from the harmonic constants. It is smaller than the mean range where the type of tide is either semi-diurnal or mixed and is of no practical significance where the type of tide is predominantly diurnal.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nearlyHighestHighWater">
        <xs:annotation>
          <xs:documentation>Nearly Highest High Water: An arbitrary level approximating the highest water level observed at a location, usually equivalent to the high water springs.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nearlyLowestLowWater">
        <xs:annotation>
          <xs:documentation>Nearly Lowest Low Water: A level approximating the lowest water level observed at a location, usually equivalent to Indian spring low water.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ngvd29">
        <xs:annotation>
          <xs:documentation>National Geodetic Vertical Datum (NGVD) 1929: A fixed reference for elevations derived from a general adjustment in 1929 of the first-order leveling nets of both the United States and Canada. [desc] In the adjustment, mean sea level was held fixed as observed at 21 tide stations in the United States and 5 in Canada.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="springTide">
        <xs:annotation>
          <xs:documentation>Spring Tide: A tide of increased range (or tidal water currents of increased speed) occurring semi-monthly as the result of the moon being new or full. [desc] The spring range of tide is the average range occurring at the time of spring tides and is most conveniently computed from the harmonic constants. It is larger than the mean range where the type of tide is either semi-diurnal or mixed, and is of no practical significance where the type of tide is predominantly diurnal.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="waterLevel">
        <xs:annotation>
          <xs:documentation>Water Level: A locally observed level of the water surface. [desc] In the case of non-tidal waters (for example: lakes or rivers) it is necessary to specify hydrologic conditions in order to ensure a precise reference surface specification. Over tidal waters (for example: oceans) it is necessary to specify tidal conditions in order to ensure a precise reference surface specification.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="wgs84Egm08Geoid">
        <xs:annotation>
          <xs:documentation>WGS 84 EGM08 Geoid: The geopotential surface defined by the World Geodetic System (WGS) 1984 EGM08 Earth Gravity Model that is closely associated with the mean ocean surface.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="wgs84Egm96Geoid">
        <xs:annotation>
          <xs:documentation>WGS 84 EGM96 Geoid: The geopotential surface defined by the World Geodetic System (WGS) 1984 EGM96 Earth Gravity Model that is closely associated with the mean ocean surface.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="wgs84Ellipsoid">
        <xs:annotation>
          <xs:documentation>WGS 84 Ellipsoid: The oblate ellipsoidal figure of the Earth defined by the World Geodetic System (WGS) 1984.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VerticalDatumCodeType">
    <xs:annotation>
      <xs:documentation>A data type for vertical datum codes.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nga:VerticalDatumCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
