niem/domains/infrastructureProtection/2.1/infrastructureProtection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/domains/infrastructureProtection/2.1" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ip="http://niem.gov/niem/domains/infrastructureProtection/2.1" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>Infrastructure Protection</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:complexType name="AssetCategoryType">
    <xsd:annotation>
      <xsd:documentation>A data type for a kind of asset.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ip:AssetCategoryName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:AssetCategoryID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SubSegmentName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:Asset" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:AssetCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="AssetStatusCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for a status of an asset.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>Retired</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Temporarily Out of Service</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Functioning</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AssetStatusCodeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a status of an asset.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ip:AssetStatusCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AssetType">
    <xsd:annotation>
      <xsd:documentation>A data type for an asset in an infrastructure.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ip:AssetName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:AssetID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:AssetAliasName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:AssetStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:AssetCategoryName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:Organization" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ContactInformation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:Location" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SectorType">
    <xsd:annotation>
      <xsd:documentation>A data type for a sector (i.e., major grouping of critical infrastructure) to which the asset belongs. There are 18 such Sectors as outlined in the National Infrastructure Protection Plan.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ip:SectorName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SubSector" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SectorTaxonomyID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SectorTaxonomyDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SegmentType">
    <xsd:annotation>
      <xsd:documentation>A data type for a major grouping within the subsector to which the asset belongs.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ip:SegmentName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SegmentTaxonomyID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SubSectorName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SubSegment" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SegmentTaxonomyDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubsectorType">
    <xsd:annotation>
      <xsd:documentation>A data type for a major grouping within the sector to which the asset belongs.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ip:SubSectorName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SubSectorTaxonomyID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SectorName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:Segment" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SubSectorTaxonomyDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubsegmentType">
    <xsd:annotation>
      <xsd:documentation>A data type for a major grouping within the segment to which the asset belongs.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ip:SubSegmentName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SubSegmentTaxonomyID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SegmentName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:AssetCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SubSegmentDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Asset" type="ip:AssetType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A data type for an asset in an infrastructure.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssetAliasName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional names, acronyms, or identifiers used to call out the asset</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssetCategory" type="ip:AssetCategoryType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A category for a kind of asset.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssetCategoryDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of the Asset Category based on the description provided in the Infrastructure Data Taxonomy (IDT).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssetCategoryID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a kind of asset.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssetCategoryName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A category name for a kind of asset.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssetID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A database-unique identifier for asset. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssetName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of asset (as determined by asset owner or identified on legal documentation) </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssetStatusCode" type="ip:AssetStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status of an asset.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Sector" type="ip:SectorType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A sector (i.e., major grouping for infrastructure) to which the asset belongs. There are 18 such Sectors as outlined in the National Infrastructure Protection Plan.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SectorName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The major grouping name of critical infrastructure to which the facility belongs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SectorTaxonomyDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of the Sector based on the description provided in the Infrastructure Data Taxonomy (IDT).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SectorTaxonomyID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The identification of each sector as used in the Taxonomy -see Infrastructure Taxonomy Ver.3</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Segment" type="ip:SegmentType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A major grouping within the subsector to which the asset belongs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SegmentName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The major grouping name for infrastructure to which the asset belongs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SegmentTaxonomyDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of the Segment based on the description provided in the Infrastructure Data Taxonomy (IDT).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SegmentTaxonomyID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The major grouping identification of an infrastructure to which the asset belongs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubSector" type="ip:SubsectorType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A major grouping within the sector to which the asset belongs  -see Infrastructure Taxonomy Ver.3</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubSectorName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The major grouping name for infrastructure to which the asset belongs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubSectorTaxonomyDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of the Sub Sector based on the description provided in the Infrastructure Data Taxonomy (IDT).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubSectorTaxonomyID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The major grouping identification of an infrastructure to which the asset belongs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubSegment" type="ip:SubsegmentType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A data type for a major grouping within the segment to which the asset belongs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubSegmentDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of the Sub Segment based on the description provided in the Infrastructure Data Taxonomy (IDT).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubSegmentName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The major grouping name for infrastructure to which the asset belongs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubSegmentTaxonomyID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The major grouping identification of an infrastructure to which the asset belongs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
