niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0/commonObservation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0" 
xmlns:om="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0" 
xmlns:swe="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0" 
xmlns:swec="http://niem.gov/niem/external/ogc-swe-common/1.0.0/dhs-gmo/1.0.0" 
xmlns:gml="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0"
xmlns:xlink="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0"
elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>commObservation.xsd
An implementation of the OandM model for SWE
This document contains commonObservation, which fixes the type of the result.
Copyright (c) 2006 Open Geospatial Consortium - see http://www.opengeospatial.org/about/?page=ipr
OGC 05-087r4 page 55 © OGC 2006 – All rights reserved 

		DHS Changes 
     		2006-09-28 Changed namespaces and schema location
				ns old	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0	
				from		../../../../../gml/3.1.1/dhs-gmo/1.0.0/gml.xsd
				to			../../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd

				ns old	http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0		

		    2006-09-22 Changed namespaces following NIEM conventions
			 1) targetNamespace http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0
			 2) om namespace		http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0
			 3) swe namespace	http://niem.gov/niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0
			 4) gml namespace	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
			 5) xlink namespace	http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
			 import http://niem.gov/niem/external/ogc-swe-common/1.0.0/dhs-gmo/1.0.0 swec namespace
			 
			2006-09-18 versioned namespace to match OGC 05-087r4 source, which specifies Version: 0.14.5
			  versioned swe, xlink, gml namespaces, changed schemaLocations

</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<!-- <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/> -->
	 <import namespace="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0" 
			   schemaLocation="../../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd"/>
	
	<!-- <import namespace="http://www.opengis.net/swe" schemaLocation="../../sweCommon/current/swe.xsd"/> -->
	<import namespace="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0" 
	schemaLocation="../../../swe/dhs-gmo/1.0.0/swe.xsd"/>
		
	<import namespace="http://niem.gov/niem/external/ogc-swe-common/1.0.0/dhs-gmo/1.0.0" 
	schemaLocation="../../../../../ogc-swe-common/1.0.0/dhs-gmo/1.0.0/sweCommon.xsd"/>
		
		
	<include schemaLocation="./observation.xsd"/>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- === Compact coverage observations = implement the result in compact form as microformatted list (not XMLencoded)
=== -->
	<!-- ====================================================================== -->
	<complexType name="CommonObservationType">
		<annotation>
			<documentation>Observation event.
"result" property contains an sml:DataValue
resultDefinition property contains value record schema, used to parse value, and an indication of the
encoding</documentation>
		</annotation>
		<complexContent>
			<extension base="om:AbstractObservationType">
				<sequence>
					<element name="resultDefinition" type="swec:DataDefinitionPropertyType"/>
					<element name="result" type="swec:DataValueType" nillable="true"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ...................... -->
	<element name="CommonObservation" type="om:CommonObservationType" substitutionGroup="om:AbstractObservation">
		<annotation>
			<documentation>Observation event</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
</schema>
