niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0/event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0" 
xmlns:om="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0" 
xmlns:swe="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0" 
xmlns:gmd="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0" 
xmlns:gml="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0"
elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>event.xsd
Components required to establish the top-level of the om:Event substitution group
Copyright © 2006 Open Geospatial Consortium - see http://www.opengeospatial.org/about/?page=ipr
OGC 05-087r4 page 42 © OGC 2006 – All rights reserved

		DHS Changes 
     		2006-09-28 Changed namespaces and schema location
				ns old	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0	
				from		../../../../../gml/3.1.1/dhs-gmo/1.0.0/gml.xsd
				to			../../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd

		    2006-09-22 Changed namespaces following NIEM conventions
			 1) targetNamespace http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0
			 2) om namespace		http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0
			 3) swe namespace	http://niem.gov/niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0
			 4) gnd namespace	http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0
			 5) gml namespace	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
			 6) xlink namespace	http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0

			2006-09-18 versioned namespace to match OGC 05-087r4 source, which specifies Version: 0.14.5
			  versioned swe, gmd, gml namespaces, changed schemaLocations


</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<!-- <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/> -->
	 <import namespace="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0" 
			   schemaLocation="../../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd"/>
	
	<!-- <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../../../gml/trunk/iso19139/gml3.1.1version/gmd/gmd.xsd"/> -->
	<import namespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0" 
	schemaLocation="../../../../../iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0/gmd.xsd"/>

	<!-- <import namespace="http://www.opengis.net/swe" schemaLocation="../../sweCommon/current/swe.xsd"/> -->
	<import namespace="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0" 
	schemaLocation="../../../swe/dhs-gmo/1.0.0/swe.xsd"/>
	
	<!-- ====================================================================== -->
	<!-- =========================================================== -->
	<complexType name="TimeObjectPropertyType">
		<sequence minOccurs="0">
			<element ref="gml:_TimeObject"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="EventType">
		<annotation>
			<documentation>Description of an event, particularly that causes transformation, creation or destruction
of a feature.
The event may be transport or administrative.
Use gml:description to describe the nature of the event or action, or to point to a description of it.
Specialised event types may be derived from this type.</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="eventParameter" type="swe:TypedValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Generic event parameter or property</documentation>
						</annotation>
					</element>
					<element name="time" type="om:TimeObjectPropertyType">
						<annotation>
							<documentation>The Time when the event occurred (mandatory).
This may be given
* in absolute terms as a TimeInstant or TimePeriod
* in approximate terms or relative to an absolute position using the indeterminatePosition attribute
* or using a TimeTopology element (TimeEdge or TimeNode), which provides the option of giving a time relative
to other edges or nodes, either directly (gml) or indirectly (xmml)
* as a TimeGeometricComplex if it is a recurring or repeating event</documentation>
						</annotation>
					</element>
					<element name="precedingEvent" type="gml:StringOrRefType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Description of, or pointer to, preceding
event(s)</documentation>
						</annotation>
					</element>
					<element name="followingEvent" type="gml:StringOrRefType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Description of, or pointer to, following event(s)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ................. -->
	<element name="Event" type="om:EventType" substitutionGroup="gml:_Feature"/>
	<!-- ................. -->
	<complexType name="EventPropertyType">
		<sequence minOccurs="0">
			<element ref="om:Event"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
</schema>
