niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0/procedureSpecializations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0" 
xmlns:om="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0" 
xmlns:gmd="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0" 
xmlns:gml="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0"
xmlns:xlink="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0"
elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>procedureSpecializations.xsd
Components to describe procedures used in observations and measurements, and other events.
Copyright (c) 2006 Open Geospatial Consortium - see http://www.opengeospatial.org/about/?page=ipr
OGC 05-087r4 page 45 © OGC 2006 – All rights reserved

		DHS Changes 
     		2006-09-28 Changed namespaces and schema location
				ns old	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0	
				from		../../../../../gml/3.1.1/dhs-gmo/1.0.0/gml.xsd
				to			../../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd

				ns old	http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0		

		    2006-09-22 Changed namespaces following NIEM conventions
			 1) targetNamespace http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0
			 2) om namespace		http://niem.gov/niem/external/ogc-observation/draft-0.14.5/om/dhs-gmo/1.0.0
			 3) gnd namespace	http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0
			 4) gml namespace	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
			 5) xlink namespace	http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0

			2006-09-18 versioned namespace to match OGC 05-087r4 source, which specifies Version: 0.14.5
			  versioned gmd, xlink, gml namespaces, changed schemaLocations

</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<!-- <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/> -->
 	 <import namespace="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0" 
			   schemaLocation="../../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd"/>
	
	<!-- <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../../../gml/trunk/iso19139/gml3.1.1version/gmd/gmd.xsd"/> -->
	<import namespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0" 
	schemaLocation="../../../../../iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0/gmd.xsd"/>
	
	<include schemaLocation="./procedure.xsd"/>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- === Specialised Procedure types === -->
	<!-- ====================================================================== -->
	<complexType name="ObservationProcedureType">
		<annotation>
			<documentation>Use gml:description element to describe the procedure or link to a definitive description.
</documentation>
		</annotation>
		<complexContent>
			<extension base="om:ProcedureSystemType">
				<sequence>
					<element name="method" type="gml:CodeType">
						<annotation>
							<documentation>Code for the particular procedure type. Usually an item from a
list or registry of procedures, methods, instrument-types, etc.</documentation>
						</annotation>
					</element>
					<element name="resultQuality" type="gmd:DQ_DataQuality_PropertyType" minOccurs="0">
						<annotation>
							<documentation>Quality associated systematically with observations made using
this procedure.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ...................... -->
	<element name="ObservationProcedure" type="om:ObservationProcedureType" substitutionGroup="om:ProcedureSystem">
		<annotation>
			<documentation>Procedures may be listed in a Dictionary (i.e. lightweight registry)</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="ObservationProcedurePropertyType">
		<sequence minOccurs="0">
			<element ref="om:ObservationProcedure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<complexType name="InstrumentType">
		<annotation>
			<documentation> Use instanceIdentifer to record instrument serial number</documentation>
		</annotation>
		<complexContent>
			<extension base="om:ObservationProcedureType"/>
		</complexContent>
	</complexType>
	<!-- ...................... -->
	<element name="Instrument" type="om:InstrumentType" substitutionGroup="om:ObservationProcedure"/>
	<!-- ...................... -->
	<complexType name="InstrumentPropertyType">
		<sequence minOccurs="0">
			<element ref="om:Instrument"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="CalculationProcedureType">
		<annotation>
			<documentation>Use the "description" property to record the details of the calculation</documentation>
		</annotation>
		<complexContent>
			<extension base="om:ProcedureSystemType"/>
		</complexContent>
	</complexType>
	<!-- ...................... -->
	<element name="CalculationProcedure" type="om:CalculationProcedureType" substitutionGroup="om:ProcedureSystem"/>
	<!-- ...................... -->
	<complexType name="CalculationProcedurePropertyType">
		<sequence minOccurs="0">
			<element ref="om:CalculationProcedure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
</schema>
