niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0/record.xsd

<?xml version="1.0"?>
<schema 
xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0" 
xmlns:swe="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0"
elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>A basic schema for a simple record composed of a list of items.
All items are XML encoded
A schema for the description of the record is given in recordType.xsd
OGC 05-087r4 page 77 © OGC 2006 – All rights reserved 

  DHS Changes:  
    2006-09-22 Changed namespaces following NIEM conventions
		1) targetnamespace	http://niem.gov/niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0
  
    2006-09-18 versioned namespace

</documentation>
	</annotation>
	<!-- ============== -->
	<!-- ============== -->
	<element name="item" type="anyType">
		<annotation>
			<documentation>An item is an item of data of any type</documentation>
		</annotation>
	</element>
	<!-- ============== -->
	<complexType name="RecordType">
		<annotation>
			<documentation>A record is an ordered list of items</documentation>
		</annotation>
		<sequence>
			<element ref="swe:item" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="RS" type="anyURI" use="optional">
			<annotation>
				<documentation>Optional pointer to
record-type schema</documentation>
			</annotation>
		</attribute>
	</complexType>
	<!-- ...... ...... -->
	<element name="Record" type="swe:RecordType">
		<annotation>
			<documentation>A record is an ordered list of items</documentation>
		</annotation>
	</element>
	<!-- ...... ...... -->
	<complexType name="RecordPropertyType">
		<sequence>
			<element ref="swe:Record"/>
		</sequence>
	</complexType>
	<!-- ============== -->
</schema>
