niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0/recordType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0" 
xmlns:swe="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0" 
xmlns:gmd="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0" 
xmlns:gml="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0"
xmlns:st="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/st/dhs-gmo/1.0.0"
elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>recordSchema.xsd
A GML conformant schema
for definitions of record structures composed of lists of items
Copyright (c) 2006 Open Geospatial Consortium - see http://www.opengeospatial.org/about/?page=ipr
OGC 05-087r4 p 85 © OGC 2006 – All rights reserved 

  DHS Changes:  
			2006-10-05 Changed xst tnsp to st
			
     		2006-09-28 Changed namespaces and schema location
				ns old	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0	
				from		../../../../../gml/3.1.1/dhs-gmo/1.0.0/gml.xsd
				to			../../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd
  
    2006-09-22 Changed namespaces following NIEM conventions
		1) targetnamespace	http://niem.gov/niem/external/ogc-observation/draft-0.14.5/swe/dhs-gmo/1.0.0
		2) gml namespace 	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
		3) gmd namespace	http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0
		4) xst namespace		http://niem.gov//niem/external/l/ogc-observation/draft-0.14.5/st/dhs-gmo/1.0.0
  
    2006-09-18 versioned namespace,   
    versioned GML namespace, GML schemaLocation,
    versioned XST namespace, ST schemaLocation,
    versioned GMD namespace, GMD schemaLocation

</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<!-- <import namespace="http://www.opengis.net/swe/st" schemaLocation="./simpleTypeDerivation.xsd"> -->
	<import namespace="http://niem.gov/niem/external/ogc-observation/draft-0.14.5/st/dhs-gmo/1.0.0" schemaLocation="../../../st/dhs-gmo/1.0.0/simpleTypeDerivation.xsd">
		<annotation>
			<documentation>SimpleType derivation components from W3C XML Schema specification, loaded into a
new namespace.</documentation>
		</annotation>
	</import>
	
	<!-- <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/> -->
  	 <import namespace="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0" 
			   schemaLocation="../../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd"/>

	<!-- <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../iso19139/gml3.1.1version/gmd/gmd.xsd"/> -->
	<import namespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0" 
	schemaLocation="../../../../../iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0/gmd.xsd"/>
	
	<include schemaLocation="./phenomenon.xsd"/>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<complexType name="RecordTypeType">
		<complexContent>
			<extension base="gml:DefinitionType"/>
		</complexContent>
	</complexType>
	<!-- .......... -->
	<element name="RecordType" type="swe:RecordTypeType" abstract="true" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>Abstract element used as head of a substitution group for axis and record definitions
Implementation of ISO 19103 RecordType</documentation>
		</annotation>
	</element>
	<!-- ........................................ -->
	<complexType name="RecordTypePropertyType">
		<sequence minOccurs="0">
			<element ref="swe:RecordType"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="ItemDefinitionType">
		<annotation>
			<documentation>Description of a scalar property with its representation and scale and (optional) quality
indicators.</documentation>
		</annotation>
		<complexContent>
			<extension base="swe:RecordTypeType">
				<sequence>
					<element name="procedure" type="gml:ReferenceType" minOccurs="0"/>
					<element name="property" type="swe:PhenomenonPropertyType"/>
					<element name="quality" type="gmd:DQ_DataQuality_PropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>One or more quality elements record systematic measure of
reliability</documentation>
						</annotation>
					</element>
					<element name="representation" type="swe:RepresentationType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ........................................ -->
	<element name="ItemDefinition" type="swe:ItemDefinitionType" substitutionGroup="swe:RecordType">
		<annotation>
			<documentation>Description of a scalar property with its representation and scale and (optional) quality
indicators</documentation>
		</annotation>
	</element>
	<!-- ........................................ -->
	<complexType name="ItemDefinitionPropertyType">
		<sequence minOccurs="0">
			<element ref="swe:ItemDefinition"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
<complexType name="ItemSeriesDefinitionType">
		<annotation>
			<documentation>Description of a series of scalar properties with a common representation and scale
and (optional) quality indicators.</documentation>
		</annotation>
		<complexContent>
			<extension base="swe:ItemDefinitionType">
				<attribute name="recordLength" type="positiveInteger" use="required">
					<annotation>
						<documentation>The number of components in the tuple</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!-- ........................................ -->
	<element name="ItemSeriesDefinition" type="swe:ItemSeriesDefinitionType" substitutionGroup="swe:ItemDefinition">
		<annotation>
			<documentation>Description of a series of scalar properties with a common representation and scale
and (optional) quality indicators.</documentation>
		</annotation>
	</element>
	<!-- ........................................ -->
	<complexType name="ItemSeriesDefinitionPropertyType">
		<sequence minOccurs="0">
			<element ref="swe:ItemSeriesDefinition"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="RecordDefinitionType">
		<complexContent>
			<extension base="swe:RecordTypeType">
				<sequence>
					<element name="component" type="swe:RecordTypePropertyType" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="recordLength" type="positiveInteger" use="required">
					<annotation>
						<documentation>The number of components in the tuple</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!-- ........................................ -->
	<element name="RecordDefinition" type="swe:RecordDefinitionType" substitutionGroup="swe:RecordType">
		<annotation>
			<documentation>A Record Definition is composed from arbitrary base axes, which may be
records.</documentation>
		</annotation>
	</element>
	<!-- ........................................ -->
	<complexType name="RecordDefinitionPropertyType">
		<sequence minOccurs="0">
			<element ref="swe:RecordDefinition"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- === Type designed to allow the specification of simpleContent types in-line === -->
	<!-- ====================================================================== -->
	<complexType name="RepresentationType">
		<annotation>
			<documentation>this uses components copied from XML Schema to describe the "value-space" in terms
of
a base type and facets, or a composite such as a union.
For numeric types this will normally indicate integer, double etc and (optionally) facets
to describe one or more intervals or a precision.
For textual types this will normally indicate string, token etc and (optionally) facets
will indicate a pattern, enumeration, length etc.</documentation>
		</annotation>
		<sequence>
			<element name="SimpleType">
				<complexType>
					<complexContent>
						<extension base="st:localSimpleType">
							<sequence>
								<group ref="swe:scale"/>
							</sequence>
						</extension>
					</complexContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<!-- ...... ...... -->
	<group name="scale">
		<choice>
			<sequence>
				<element ref="gml:unitOfMeasure">
					<annotation>
						<documentation>Use this element to indicate an unit of measure for numeric values on
a ratio scale.</documentation>
					</annotation>
				</element>
				<element name="frame" type="gml:ReferenceType" minOccurs="0">
					<annotation>
						<documentation>Use this element to indicate the description of a reference system for
numeric values on an interval scale.</documentation>
					</annotation>
				</element>
			</sequence>
			<element name="frame" type="gml:ReferenceType">
				<annotation>
					<documentation>Use this element to indicate the description of a reference system for
numeric values on an interval scale.</documentation>
				</annotation>
			</element>
			<element name="classification" type="gml:StringOrRefType">
				<annotation>
					<documentation>Use this element to indicate an informally or externally described
classification scheme for values on an Ordinal or Nominal scale.</documentation>
				</annotation>
			</element>
			<element name="noScale" type="boolean" fixed="true"/>
		</choice>
	</group>
	<!-- ====================================================================== -->
</schema>
