niem/domains/emergencyManagement/2.0/emergencyManagement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/domains/emergencyManagement/2.0" version="1" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:have="http://niem.gov/niem/have/2.0" xmlns:edxl="http://niem.gov/niem/edxl/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:em="http://niem.gov/niem/domains/emergencyManagement/2.0" xmlns:apco="http://niem.gov/niem/apco/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0">
  <xsd:annotation>
    <xsd:documentation>Emergency Management</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../../apco/2.0/apco.xsd" namespace="http://niem.gov/niem/apco/2.0"/>
  <xsd:import schemaLocation="../../../edxl/2.0/edxl.xsd" namespace="http://niem.gov/niem/edxl/2.0"/>
  <xsd:import schemaLocation="../../../have/2.0/have.xsd" namespace="http://niem.gov/niem/have/2.0"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:complexType name="AlarmEventLocationAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="em:LocationDirectionsText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:LocationInformationText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AlarmEventType">
    <xsd:annotation>
      <xsd:documentation>A data type for an alarm event.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="em:AlarmEventCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AlarmEventCallBackTelephoneNumber" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AlarmEventLocationCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AlarmAudibleIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AlarmEventDetailsText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AlarmEventRequestorReceiveDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AlarmEventCallPrivacyBypassCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AlarmEventCallToPremisesIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AlarmEventPermit" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AlarmEventResponseAction" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AlarmEventDispatchAgency" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BedCapacityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="CapacityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="em:CapacityType">
        <xsd:sequence>
          <xsd:element ref="em:BedCategoryCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:SubCategoryBedCapacity" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CapacityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:CapacityStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AvailableQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:BaselineQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AdditionalCapacity24HrQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AdditionalCapacity72HrQuantity" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactInformationAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about contact information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="em:ContactName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ContactRoleCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="ContactRoleCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Approver"/>
      <xsd:enumeration value="Requester"/>
      <xsd:enumeration value="Responding Org"/>
      <xsd:enumeration value="SME"/>
      <xsd:enumeration value="Sender"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ContactRoleCodeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="em:ContactRoleCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EMSOffloadCapabilityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:EMSOffloadStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:EMSOffloadMinutesQuantity" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EMSTrafficType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:EMSTrafficReasonText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:EMSTrafficStatusCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EmergencyDepartmentStatusType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:EMSTraffic" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:EMSCapacity" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:EMSCensus" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:EMSOffloadAmbulance" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:EMSOffloadAirTransport" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ExplicitAddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for an identifier of an explicit recipient.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:ExplicitAddressSchemeText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ExplicitAddressValueText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HospitalBedCapacityStatusType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:BedCapacity" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HospitalFacilityStatusType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:FacilityStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:EOCStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:EOCStatusCommentText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:EOCPlanCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:EOCPlanCommentText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ClinicalStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ClinicalStatusCommentText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:DeconCapacityCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:DeconCapacityCommentText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:MorgueCapacityCommentText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:FacilityStatusCommentText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:SecurityStatusCommentText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:SecurityStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:MorgueCapacityCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HospitalResourcesStatusType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:ClinicalOperationsCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:StaffingCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:FacilityOperationsCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HospitalStatusType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:Hospital" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HospitalType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element ref="em:OrganizationIDProviderName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:EmergencyDepartmentStatus" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:HospitalResourcesStatus" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:ServiceCoverageStatus" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:HospitalBedCapacityStatus" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:HospitalFacilityStatus" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OBGYNType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:OBGYNGeneralServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:LaborDeliveryServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:OBGYNServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationGeoLocationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationLocationAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a location of an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="em:OrganizationGeoLocation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OwnerInformationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:HomeDispatch" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:HomeUnit" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:Owner" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PermitType">
    <xsd:annotation>
      <xsd:documentation>A data type for a permit.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:PermitIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:PermitCategoryText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PsychiatricType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:PsychiatricGeneralServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AdultGeneralServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:PediatricServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RequestResponseType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:ResponseCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResponseReasonCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="ResourceComponentCapabilityCategoryCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Other"/>
      <xsd:enumeration value="Type I"/>
      <xsd:enumeration value="Type II"/>
      <xsd:enumeration value="Type III"/>
      <xsd:enumeration value="Type IV"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ResourceComponentCapabilityCategoryCodeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="em:ResourceComponentCapabilityCategoryCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ResourceInformationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:ResourceJurisdictionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceLocationDetails" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:InventoryRefreshDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceStatusKeywordValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceAnticipatedIncidentAssignmentText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:RequestAcceptDeclineCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:DeclineReasonText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:NavigationInstructionsText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ReportingInstructionsText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceDispositionKeywordValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceOrderIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourcePriceQuoteAmount" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceRestrictionsText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceModeOfTransportationText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceSchedule" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:AvailabilityText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:RequestResponse" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:OwnerInformation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ResourceKindType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:CategoryStructure" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:CategoryInformation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ResourceLocationDetailsType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:ResourceRequestedLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceReportToLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceCurrentLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceDepartureLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ArrivalLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceTracking" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ResourceMessageType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:MessageContentCategoryCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:MessageRequestIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:MessageSentDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceMessageStatusKeywordValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceFundCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ContactInformation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:Resource" minOccurs="1" maxOccurs="unbounded"/>
          <xsd:element ref="em:OriginatingMessageIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:FundingInformationText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ResourceScheduleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:ResourceActualArrivalDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceActualDepartureDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceAnticipatedReturnDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceAvailableDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceCommittedDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceEstimatedArrivalDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceEstimatedDepartureDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceRequestedArrivalDate" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ResourceTrackingType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:DepartureDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:RouteLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ArrivalDate" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ResourceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:RoleOfItemReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceKeywordValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceSpecialRequirementsText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceLocationDetails" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceInformation" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:Credentials" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:Certifications" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ResourceKind" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ServiceCoverageStatusType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:OBGYN" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:BurnServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:Psychiatric" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="em:InfectiousDiseasesServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:OrthopedicServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:NeurologyServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:NeonatologyServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:CardiologyServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:Surgery" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubCategoryBedCapacityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="CapacityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="em:CapacityType">
        <xsd:sequence>
          <xsd:element ref="em:SubCategoryBedCategoryText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SurgeryType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:HandServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:NeuroSurgeryServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AnesthesiaServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:VascularServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ReimplantationServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:CardioThoracicServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:FacialServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:PediatricsGeneralServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:OrthopedicsServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:AdultGeneralServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:SurgeryGeneralServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:SpinalServiceCoverageStatusCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TriagePatientCountType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:TriageGreenQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:TriageBlackQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:TriageYellowQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:TriageRedQuantity" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ValueType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="em:ValueText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="em:ValueListURN" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AdditionalCapacity24HrQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Estimate of the beds, above the current number, that could be made vacant/available within 24 hours.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AdditionalCapacity72HrQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Estimate of the beds, above the current number, that could be made vacant/available within 72 hours.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AdultGeneralServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of adult general services. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmAudibleIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if an audible alarm is sounding; false if the alarm is inaudible.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmEvent" type="em:AlarmEventType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An alarm event.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmEventCallBackTelephoneNumber" type="nc:TelephoneNumberType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number of the alarm event requestor.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmEventCallPrivacyBypassCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A code necessary to access the sites phone system.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmEventCallToPremisesIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if an agency is to call the premise before arrival; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmEventCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of alarm event.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="em:AlarmEventCategory" name="AlarmEventCategoryCode" type="apco:AlarmEventCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of alarm event.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AlarmEventCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="em:AlarmEventCategory" name="AlarmEventCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of alarm event.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AlarmEventCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmEventDetailsText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional details about the alarm event.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmEventDispatchAgency" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An agency to which an alarm event is dispatched.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmEventLocationAugmentation" type="em:AlarmEventLocationAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about a location.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="LocationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmEventLocationCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of location at which an alarm event occurs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="em:AlarmEventLocationCategory" name="AlarmEventLocationCategoryCode" type="apco:AlarmEventLocationCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of location at which an alarm event occurs.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AlarmEventLocationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="em:AlarmEventLocationCategory" name="AlarmEventLocationCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of location at which an alarm event occurs.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AlarmEventLocationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmEventPermit" type="em:PermitType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A permit for the alarm event site.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmEventRequestorReceiveDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date the requestor received the alarm event.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AlarmEventResponseAction" abstract="true">
    <xsd:annotation>
      <xsd:documentation>An action requested of an alarm event responder.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="em:AlarmEventResponseAction" name="AlarmEventResponseActionCode" type="apco:AlarmEventResponseActionCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An action requested of an alarm event responder.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AlarmEventResponseAction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="em:AlarmEventResponseAction" name="AlarmEventResponseActionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An action requested of an alarm event responder.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AlarmEventResponseAction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AnesthesiaServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of anesthesia services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrivalDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The date that a resource arrived at the route location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrivalLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A textual description of the location where the specified resource has arrived at dateTime of the resource message when transported to or from an Incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AvailabilityText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>See: http://www.fema.gov/nims/mutual_aid.shtm - Text or code indicating availability of an item</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AvailableQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The number of vacant/available beds to which patients can be immediately transported. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BaselineQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The maximum (baseline) number of beds in this category</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BedCapacity" type="em:BedCapacityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The number of available beds.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BedCategoryCode" type="have:BedCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Enumerated list of available Bed Types.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BurnServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of burn center services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Capacity" type="em:CapacityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Container element to define the capacity information of each specified bed kind or sub category bed kind.  </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CapacityStatusCode" type="have:CapacityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Indicator of status of bed kind or sub-category bed kind. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CardioThoracicServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of cardiothoracic surgical services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CardiologyServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of cardiology services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CategoryInformation" type="em:ValueType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The resource kind as defined by either a Keyword structure or a validatable schema</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CategoryStructure" type="em:ValueType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Uniform Resource Name of a certified list maintained by the Community of Interest (COI) for the value referenced.  Facilitates link to ARMS structured managed list</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Certifications" type="em:ValueType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Any value from a discrete managed list, used to specify resource certifications (references to official documentation or other official recognition) in the form: &lt;Certificationskeyword&gt; &lt;valueListUrn&gt;valueListUrn&lt;/valueListURN&gt; &lt;value&gt;value&lt;/value&gt;&lt;/Certificationskeyword&gt;</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ClinicalOperationsCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The status of supplies necessary for clinical operations.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ClinicalStatusCode" type="have:ClinicalStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Indicator of the clinical status of the facility.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ClinicalStatusCommentText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>One or more comments</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactInformationAugmentation" type="em:ContactInformationAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about contact information.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ContactInformationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The name of the contact person or title of the contact organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactRoleCode" type="em:ContactRoleCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Role of the emergency management contact.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Credentials" type="em:ValueType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Any value from a discrete managed list, used to specify resource credentials (identification and qualifications), in the form: &lt;Credentialkeyword&gt; &lt;valueListUrn&gt;valueListUrn&lt;/valueListURN&gt; &lt;value&gt;value&lt;/value&gt;&lt;/credentialkeyword&gt;</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeclineReasonText" type="edxl:ResponseCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Explanation for a declined Request, Response, Unsolicited Offer, or a Request Return.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeconCapacityCode" type="have:DeconCapacityCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The capacity for chemical/biological/radiological patient decontamination.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeconCapacityCommentText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>One or more comments</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DepartureDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The date that the resource departs the route location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EMSCapacity" type="em:TriagePatientCountType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The number of each triage patient kind the hospital can accept.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EMSCensus" type="em:TriagePatientCountType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The number of each triage patient kind the overall hospital currently has.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EMSOffloadAirTransport" type="em:EMSOffloadCapabilityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The container element to indicate the status and offload time for air transport capabilities. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EMSOffloadAmbulance" type="em:EMSOffloadCapabilityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The container element to indicate the status and offload time for ambulance capabilities. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EMSOffloadMinutesQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Average offload time in minutes. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EMSOffloadStatusCode" type="have:EMSOffloadStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Indicator of offload times of ambulance capabilities. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EMSTraffic" type="em:EMSTrafficType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The container of all of the elements related to the status of operations of EMS traffic.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EMSTrafficReasonText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>It is used to report the contributing factor to an EMSTraffic Status.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EMSTrafficStatusCode" type="have:EMSTrafficStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Identifies the status of EMS traffic operations. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EOCPlanCode" type="have:EOCPlanCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Whether the hospital has activated its Emergency Operations Plan (EOP) </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EOCPlanCommentText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>One or more comments</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EOCStatusCode" type="have:EOCStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Whether the Emergency Operations Center (EOC) is currently operating.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EOCStatusCommentText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>One or more comments</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EmergencyDepartmentStatus" type="em:EmergencyDepartmentStatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The container of all of the elements related to the emergency department status.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ExplicitAddress" type="em:ExplicitAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of an explicit recipient.  Identifies human parties, systems, services, or devices that are all potential recipients of the distribution message.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ExplicitAddressSchemeText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Identifies the distribution addressing scheme used.   MUST be a properly formed -escaped if necessary- XML string.
</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ExplicitAddressValueText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A properly formed -escaped if necessary- XML string denoting the addressees value</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FacialServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of facial surgical services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FacilityOperationsCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The status of supplies necessary for facility operations</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FacilityStatusCode" type="have:FacilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Indicator of the status of the facility status.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FacilityStatusCommentText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>One or more comments</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FundingInformationText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Provides additional information on the funds that will pay for the resource.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="HandServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of hand surgery services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="HomeDispatch" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The home dispatch the resource is assigned to</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="HomeUnit" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The home unit the resource is assigned to</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hospital" type="em:HospitalType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The container element for reporting status of a hospital. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="HospitalBedCapacityStatus" type="em:HospitalBedCapacityStatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The container of all of the elements related to the hospital bed capacity and status. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="HospitalFacilityStatus" type="em:HospitalFacilityStatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The container of all of the elements related to the status of the facility  </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="HospitalResourcesStatus" type="em:HospitalResourcesStatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The container of all of the elements related to the operations of the facility  </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="HospitalStatus" type="em:HospitalStatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The top level container element for reporting status of any number of hospitals. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="InfectiousDiseasesServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of infectious diseases services. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="InventoryRefreshDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Date that resource inventory counts were last updated</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LaborDeliveryServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Sub-type element of the OBGYN services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationDirectionsText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Directions to the location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationInformationText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Necessary information about a location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MessageContentCategoryCode" type="edxl:ContentCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Specifies the purpose / kind of resource content / payload being sent </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MessageRequestIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Each EDXL resource message contains an identifier &quot;Request Number&quot; that uniquely identifies each resource message. The EDXL Distribution Element contains the &quot;Distribution ID&quot;, which identifies the &quot;container&quot; for the distribution message information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MessageSentDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The system stamped date the resource message was sent.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MorgueCapacityCode" type="have:MorgueCapacityCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Indicator of the status of the morgue capacity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MorgueCapacityCommentText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>One or more comments</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NavigationInstructionsText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Instructions that define how to get to the report to location</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NeonatologyServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of neonatology services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NeuroSurgeryServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of Neurosurgery services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NeurologyServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of neurology services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OBGYN" type="em:OBGYNType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of OBGYN services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OBGYNGeneralServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true"/>
  <xsd:element name="OBGYNServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The Sub-type element of the OBGYN services. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationGeoLocation" type="em:OrganizationGeoLocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The container element for specifying the geo-coded address. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationIDProviderName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The name of the provider that has provided the identification scheme. This could also be the name a particular identification list. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationLocationAugmentation" type="em:OrganizationLocationAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about the location of an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="LocationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OriginatingMessageIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Each EDXL resource message contains an identifier that uniquely identifies each resource message. This element identifies the ResourceMessageID of the original message to which this message refers. This Message ID is an EDXL-RM Message ID, not an EDXL-DE </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrthopedicServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of orthopedic services. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrthopedicsServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of Orthopedic surgical services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Owner" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An organization with a specific range of authority for specified resource(s)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OwnerInformation" type="em:OwnerInformationType" nillable="true"/>
  <xsd:element name="PediatricServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Sub-type element of the psychiatric services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PediatricsGeneralServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of Pediatrics general surgical services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Permit" type="em:PermitType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A permit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PermitCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of permit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PermitIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A permit number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Psychiatric" type="em:PsychiatricType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of psychiatric services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PsychiatricGeneralServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true"/>
  <xsd:element name="ReimplantationServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of reimplantation surgical services.  </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ReportingInstructionsText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The name of the party that the requested item is to report to when they arrive at the incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RequestAcceptDeclineCode" type="edxl:ResponseCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Used to accept or decline a Request, Response, Unsolicited Offer, or a Request Return.  &quot;Decline&quot; indicates the request, response or offer is not accepted.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RequestResponse" type="em:RequestResponseType" nillable="true"/>
  <xsd:element name="Resource" type="em:ResourceType" nillable="true"/>
  <xsd:element name="ResourceActualArrivalDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Actual date of arrival of the resource a Report To Location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceActualDepartureDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Actual date when the resource departs from its current location for transit to a Report To Location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceAnticipatedIncidentAssignmentText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Anticipated function, task, job, or role to be provided by the requested resource.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceAnticipatedReturnDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>When the resource is expected to be returned or DEMOBed.  Completed for a Request Resource.  This element with the Requested Arrival Date / Time provides the estimated duration of resource deployment.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceAvailableDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>When the resource is available for use.  Completed in response to a resource message.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceCommittedDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>When specified resource is committed to a request or order.  Completed in response to a resource message.  Specified resource is no longer available to be applied to other resource requests</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceCurrentLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The location where the specified resource is physically located at the time of the request.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceDepartureLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The location where the specified resource is departing from when transported to or from an Incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Free Text alternative to &quot;Resource Keyword&quot; (or may be used in addition).  Any description of resource or resource characteristics, situation requiring resource assistance, statement of mission resource must satisfy, or RFI text.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceDispositionKeywordValue" type="em:ValueType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Any value from a discrete managed list, used to specify the general state of a resource if known., in the form:
&lt;ResourceStatuskeyword&gt;
  &lt;valueListUrn&gt;valueListUrn&lt;/valueListURN&gt;
  &lt;value&gt;value&lt;/value&gt;
&lt;/ResourceStatuskeyword&gt;
where the content of valueListUrn is the Uniform Resource Name of a published list of values and definitions, and the content of value is a string denoting the value itself .  Multiple instances MAY occur.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceEstimatedArrivalDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>When the resource is expected to arrive at its Report To Location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceEstimatedDepartureDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>When the resource is expected to depart from its current location for transit to a Report-to Location</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceFundCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Identifies the funds that will pay for the resource - Identified in support of NIMS Resource Management Guide NIC-GDL0004</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>This identifier (if available) must follow the resource / resource description during the entire trail of messages about that resource.  May be selected via the &lt;Resource Keyword&gt; if available.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceInformation" type="em:ResourceInformationType" nillable="true"/>
  <xsd:element name="ResourceJurisdictionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geopolitical area in which an organization, person, or object has a specific range of authority for specified resources</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceKeywordValue" type="em:ValueType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Any value from a discrete managed list, used to specify a resource, in the form:
&lt;resourcekeyword&gt;
  &lt;valueListUrn&gt;valueListUrn&lt;/valueListURN&gt;
  &lt;value&gt;value&lt;/value&gt;
&lt;/resourcekeyword&gt;
where the content of valueListUrn is the Uniform Resource Name of a published list of values and definitions, and the content of value is a string denoting the value itself.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceKind" type="em:ResourceKindType" nillable="true"/>
  <xsd:element name="ResourceLocationDetails" type="em:ResourceLocationDetailsType" nillable="true"/>
  <xsd:element name="ResourceMessageStatusKeywordValue" type="em:ValueType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Description or Code used to identify the message status of a resource message.  
Any value from a discrete managed list, used to specify a Request Status.  The content of valueListUrn is the Uniform Resource Name of a published list of values and definitions, and the content of value (StatusText) is a string denoting the value itself .  Multiple instances MAY occur within a single ResourceDataFrame block.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceModeOfTransportationText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Method or mode used to transport the resource to or from the incident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name or title of the resource.  May be selected via the &lt;Resource Keyword&gt; if available.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceOrderIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Number or ID assigned by the ordering system or personnel meeting the request for resources that has been made.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourcePriceQuoteAmount" type="nc:AmountType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Quoted cost to acquire a desired resource.  Complete in response to a Request Resource Quote</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceQuantity" type="niem-xsd:nonNegativeInteger" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Number of resources</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceReportToLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Where the requested resource is to report-to, or checks in at the destination.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceRequestedArrivalDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>When the resource is needed.  Completed for Resource requests, returns, etc.  </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceRequestedLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Where the requested resource is needed.  Completed for Resource requests, returns, etc.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceRestrictionsText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Description of a condition governing the availability of resources.  </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceSchedule" type="em:ResourceScheduleType" nillable="true"/>
  <xsd:element name="ResourceSpecialRequirementsText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of any special needs related to the requested resource.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceStatusKeywordValue" type="em:ValueType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Any value from a discrete managed list, used to specify the general state of a resource if known.  where the content of valueListUrn is the Uniform Resource Name of a published list of values and definitions, and the content of value is a string denoting the value itself .  Multiple instances MAY occur.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResourceTracking" type="em:ResourceTrackingType" nillable="true"/>
  <xsd:element name="ResponseCode" type="edxl:ResponseCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Used to accept or decline a Request, Response, Unsolicited Offer, or a Request Return.  &quot;Decline&quot; indicates the request, response or offer is not accepted.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ResponseReasonCode" type="edxl:ResponseCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Explanation for a declined Request, Response, Unsolicited Offer, or a Request Return.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RouteLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location along the delivery route for a resource.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SecurityStatusCode" type="have:SecurityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Indicator of the status of security procedures in the hospital.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SecurityStatusCommentText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>One or more comments</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ServiceCoverageStatus" type="em:ServiceCoverageStatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Container element of all the elements of service coverage.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SpinalServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of spinal surgical services.  </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StaffingCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Indicator of the status of staffing at the hospital.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubCategoryBedCapacity" type="em:SubCategoryBedCapacityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The container element for the subcategories of each bed type.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubCategoryBedCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The name of the sub-category bed type</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Surgery" type="em:SurgeryType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of general surgery services. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SurgeryGeneralServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true"/>
  <xsd:element name="TriageBlackQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Number of deceased victims</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TriageGreenQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Number of victims with minor needs</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TriageRedQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Number of victims with immediate needs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TriageYellowQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Number of victims with delayed needs</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Value" type="em:ValueType" nillable="true"/>
  <xsd:element name="ValueListURN" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The name of the certified list maintained by the Community of Interest (COI) for the value referenced.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ValueText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A Value from a certified list maintained by the Community of Interest (COI) for the referenced element.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VascularServiceCoverageStatusCode" type="have:AvailabilityStatusCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The availability of vascular surgical services.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
