niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0/metadataEntity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0" 
xmlns:gmd="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0"
xmlns:gco="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0" 
xmlns:xlink="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0"
elementFormDefault="qualified" version="0.1">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:00 ====== 
		ISO DTS 19139 Metadata XML Schema "gmd Geographic MetaData extensible markup language"
		 see ../readme.txt    see ../version.txt
	
		DHS Changes 
     		2006-09-28 Changed namespace
				ns old	http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0		

			2006-09-22 Changed namespaces following NIEM conventions
				1) targetNamespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0
				2) gmd namespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0
				3) gco  namespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0
				4) xlink namespace	 http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0

			2006-09-19 DHS namespaces and schema locations, were
				targetNamespace="http://www.isotc211.org/2005/gmd" 
				xmlns:gmd="http://www.isotc211.org/2005/gmd" 
				xmlns:gco="http://www.isotc211.org/2005/gco" 
				xmlns:xlink="http://www.w3.org/1999/xlink" 
		</xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0" 
	schemaLocation="../../../gco/dhs-gmo/1.0.0/gco.xsd"/>
	<xs:include schemaLocation="spatialRepresentation.xsd"/>
	<xs:include schemaLocation="metadataExtension.xsd"/>
	<xs:include schemaLocation="content.xsd"/>
	<!-- <xs:include schemaLocation="../gmd/metadataApplication.xsd"/> -->
	<xs:include schemaLocation="applicationSchema.xsd"/>
	<xs:include schemaLocation="portrayalCatalogue.xsd"/>
	<xs:include schemaLocation="dataQuality.xsd"/>
	<xs:include schemaLocation="freeText.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="MD_Metadata_Type">
		<xs:annotation>
			<xs:documentation>Information about the metadata</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="fileIdentifier" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="language" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="characterSet" type="gmd:MD_CharacterSetCode_PropertyType" minOccurs="0"/>
					<xs:element name="parentIdentifier" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="hierarchyLevel" type="gmd:MD_ScopeCode_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="hierarchyLevelName" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="contact" type="gmd:CI_ResponsibleParty_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="dateStamp" type="gco:Date_PropertyType"/>
					<xs:element name="metadataStandardName" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="metadataStandardVersion" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="dataSetURI" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="locale" type="gmd:PT_Locale_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="spatialRepresentationInfo" type="gmd:MD_SpatialRepresentation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="referenceSystemInfo" type="gmd:MD_ReferenceSystem_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="metadataExtensionInfo" type="gmd:MD_MetadataExtensionInformation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="identificationInfo" type="gmd:MD_Identification_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="contentInfo" type="gmd:MD_ContentInformation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="distributionInfo" type="gmd:MD_Distribution_PropertyType" minOccurs="0"/>
					<xs:element name="dataQualityInfo" type="gmd:DQ_DataQuality_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="portrayalCatalogueInfo" type="gmd:MD_PortrayalCatalogueReference_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="metadataConstraints" type="gmd:MD_Constraints_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="applicationSchemaInfo" type="gmd:MD_ApplicationSchemaInformation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="metadataMaintenance" type="gmd:MD_MaintenanceInformation_PropertyType" minOccurs="0"/>
					<xs:element name="series" type="gmd:DS_Aggregate_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="describes" type="gmd:DS_DataSet_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="propertyType" type="gco:ObjectReference_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="featureType" type="gco:ObjectReference_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="featureAttribute" type="gco:ObjectReference_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_Metadata" type="gmd:MD_Metadata_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_Metadata_PropertyType">
		<xs:sequence>
			<xs:element ref="gmd:MD_Metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- moved from metadataApplication.xsd in order to simplify includes -->
	<!-- SJDC 20060114 -->
	<xs:complexType name="AbstractDS_Aggregate_Type" abstract="true">
		<xs:annotation>
			<xs:documentation>Identifiable collection of datasets</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="composedOf" type="gmd:DS_DataSet_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="seriesMetadata" type="gmd:MD_Metadata_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="subset" type="gmd:DS_Aggregate_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<!--++++DGIWG proposal for addition++++-->
					<xs:element name="superset" type="gmd:DS_Aggregate_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<!--++++End DGIWG proposal++++-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AbstractDS_Aggregate" type="gmd:AbstractDS_Aggregate_Type" abstract="true"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DS_Aggregate_PropertyType">
		<xs:sequence>
			<xs:element ref="gmd:AbstractDS_Aggregate" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="DS_DataSet_Type">
		<xs:annotation>
			<xs:documentation>Identifiable collection of data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="has" type="gmd:MD_Metadata_PropertyType" maxOccurs="unbounded"/>
					<!--++++DGIWG proposal for addition++++-->
					<xs:element name="partOf" type="gmd:DS_Aggregate_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<!--++++End DGIWG proposal++++-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="DS_DataSet" type="gmd:DS_DataSet_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DS_DataSet_PropertyType">
		<xs:sequence>
			<xs:element ref="gmd:DS_DataSet" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- end move -->
	<!-- =========================================================================== -->
</xs:schema>
