niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0/portrayalCatalogue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0" 
xmlns:gmd="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0"
xmlns:gco="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0" 
xmlns:xlink="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0"
elementFormDefault="qualified" version="0.1" >
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:03 ====== 
		ISO DTS 19139 Metadata XML Schema "gmd Geographic MetaData extensible markup language"
		 see ../readme.txt    see ../version.txt
		 
		DHS Changes 
     		2006-09-28 Changed namespace
				ns old	http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0		

			2006-09-22 Changed namespaces following NIEM conventions
				1) targetNamespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0
				2) gmd namespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0
				3) gco  namespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0
				4) xlink namespace	 http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
		
			2006-09-19 Changes DHS namespaces and schema locations, were
				targetNamespace="http://www.isotc211.org/2005/gmd" 
				xmlns:gmd="http://www.isotc211.org/2005/gmd" 
				xmlns:gco="http://www.isotc211.org/2005/gco" 
				xmlns:xlink="http://www.w3.org/1999/xlink" 
		
		</xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0" 
	schemaLocation="../../../gco/dhs-gmo/1.0.0/gco.xsd"/>
	<xs:include schemaLocation="citation.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="MD_PortrayalCatalogueReference_Type">
		<xs:annotation>
			<xs:documentation>Information identifing the portrayal catalogue used</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="portrayalCatalogueCitation" type="gmd:CI_Citation_PropertyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_PortrayalCatalogueReference" type="gmd:MD_PortrayalCatalogueReference_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_PortrayalCatalogueReference_PropertyType">
		<xs:sequence>
			<xs:element ref="gmd:MD_PortrayalCatalogueReference" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
