niem/niem-core/3.0/2/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://publication.niem.gov/niem/niem-core/3.0/2/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd http://release.niem.gov/niem/localTerminology/3.0/ ../../../localTerminology/3.0/localTerminology.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:nc-3.0.2="http://publication.niem.gov/niem/niem-core/3.0/2/" xmlns:census-3.0.1="http://publication.niem.gov/niem/codes/census_uscounty/3.0/1/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:dea-3.0.1="http://publication.niem.gov/niem/codes/dea_ctlsub/3.0/1/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>NIEM Core Supplement 3.0.2.</xs:documentation>
    <xs:appinfo>
      <term:LocalTerm term="MGRS" literal="Military Grid Reference System"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import schemaLocation="../../../codes/census_uscounty/3.0/1/census_uscounty.xsd" namespace="http://publication.niem.gov/niem/codes/census_uscounty/3.0/1/"/>
  <xs:import schemaLocation="../niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:import schemaLocation="../../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../../codes/dea_ctlsub/3.0/1/dea.xsd" namespace="http://publication.niem.gov/niem/codes/dea_ctlsub/3.0/1/"/>
  <xs:complexType name="LongitudeCoordinateAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a longitude coordinate.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="nc-3.0.2:LongitudeDegreeValue" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="LongitudeDegreeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a degree of longitude.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:maxInclusive value="180">
        <xs:annotation>
          <xs:documentation>The maximum value for a longitude degree.</xs:documentation>
        </xs:annotation>
      </xs:maxInclusive>
      <xs:minInclusive value="-180">
        <xs:annotation>
          <xs:documentation>The minimum value for a longitude degree.</xs:documentation>
        </xs:annotation>
      </xs:minInclusive>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LongitudeDegreeType">
    <xs:annotation>
      <xs:documentation>A data type for a degree of longitude.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc-3.0.2:LongitudeDegreeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MGRSCoordinateAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a military grid reference system coordinate type.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="nc-3.0.2:MGRSPrecisionCode" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="MGRSPrecisionCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type describing the precision level of the grid square side.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="100,000 m">
        <xs:annotation>
          <xs:documentation>MGRS precision of 100,000-meter square</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10,000 m">
        <xs:annotation>
          <xs:documentation>MGRS precision of 10,000-meter square</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1,000 m">
        <xs:annotation>
          <xs:documentation>MGRS precision of 1,000-meter square</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="100 m">
        <xs:annotation>
          <xs:documentation>MGRS precision of 100-meter square</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10 m">
        <xs:annotation>
          <xs:documentation>MGRS precision of 10-meter square</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1 m">
        <xs:annotation>
          <xs:documentation>MGRS precision of 1-meter square</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MGRSPrecisionCodeType">
    <xs:annotation>
      <xs:documentation>A data type describing the precision level of the grid square side.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc-3.0.2:MGRSPrecisionCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PersonUnionStatusCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type describing the legal status of a person's union with another person.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="anulled">
        <xs:annotation>
          <xs:documentation>anulled</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dissolved">
        <xs:annotation>
          <xs:documentation>dissolved</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="married">
        <xs:annotation>
          <xs:documentation>married</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="separated">
        <xs:annotation>
          <xs:documentation>separated</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="single">
        <xs:annotation>
          <xs:documentation>single</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="widowed">
        <xs:annotation>
          <xs:documentation>widowed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonUnionStatusCodeType">
    <xs:annotation>
      <xs:documentation>A data type describing the legal status of a person's union with another person.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc-3.0.2:PersonUnionStatusCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="DrugCode" type="dea-3.0.1:DrugCodeType" substitutionGroup="nc:SubstanceDesignator" nillable="true">
    <xs:annotation>
      <xs:documentation>A drug.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCountyCode" type="census-3.0.1:USCountyCodeType" substitutionGroup="nc:LocationCounty" nillable="true">
    <xs:annotation>
      <xs:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LongitudeCoordinateAugmentation" type="nc-3.0.2:LongitudeCoordinateAugmentationType" substitutionGroup="nc:LongitudeCoordinateAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about a longitude coordinate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LongitudeDegreeValue" type="nc-3.0.2:LongitudeDegreeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A value that specifies the degree of a longitude. The value comes from a restricted range between -180 (inclusive) and +180 (inclusive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MGRSCoordinateAugmentation" type="nc-3.0.2:MGRSCoordinateAugmentationType" substitutionGroup="nc:MGRSCoordinateAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about a military grid reference system coordinate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MGRSEastingValue" type="niem-xs:nonNegativeInteger" substitutionGroup="nc:MGRSEastingValue" nillable="true">
    <xs:annotation>
      <xs:documentation>A distance east within a MGRS zone, measured in meters.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MGRSNorthingValue" type="niem-xs:nonNegativeInteger" substitutionGroup="nc:MGRSNorthingValue" nillable="true">
    <xs:annotation>
      <xs:documentation>A distance north within a MGRS zone, measured in meters.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MGRSPrecisionCode" type="nc-3.0.2:MGRSPrecisionCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A precision level of the grid area side.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonUnionStatusCode" type="nc-3.0.2:PersonUnionStatusCodeType" substitutionGroup="nc:PersonUnionStatus" nillable="true">
    <xs:annotation>
      <xs:documentation>A legal status of a union between two people.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
