xsd/codes/nces.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/codes/nces/5.0/" version="1" xml:lang="en-US" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/5.0/ ../utility/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../utility/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument"
  xmlns:appinfo="http://release.niem.gov/niem/appinfo/5.0/"
  xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
  xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/"
  xmlns:nces="http://release.niem.gov/niem/codes/nces/5.0/"
  xmlns:structures="http://release.niem.gov/niem/structures/5.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>National Center for Education Statistics</xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="CIP" literal="Classification of Instructional Programs"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/" schemaLocation="../niem-core.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/5.0/" schemaLocation="../utility/structures.xsd"/>
  <xs:simpleType name="CIP2DigitCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for 2-digit Classification of Instructional Programs (CIP) codes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="01">
        <xs:annotation>
          <xs:documentation>AGRICULTURAL/ANIMAL/PLANT/VETERINARY SCIENCE AND RELATED FIELDS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="03">
        <xs:annotation>
          <xs:documentation>NATURAL RESOURCES AND CONSERVATION.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="04">
        <xs:annotation>
          <xs:documentation>ARCHITECTURE AND RELATED SERVICES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="05">
        <xs:annotation>
          <xs:documentation>AREA, ETHNIC, CULTURAL, GENDER, AND GROUP STUDIES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="09">
        <xs:annotation>
          <xs:documentation>COMMUNICATION, JOURNALISM, AND RELATED PROGRAMS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:documentation>COMMUNICATIONS TECHNOLOGIES/TECHNICIANS AND SUPPORT SERVICES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="11">
        <xs:annotation>
          <xs:documentation>COMPUTER AND INFORMATION SCIENCES AND SUPPORT SERVICES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="12">
        <xs:annotation>
          <xs:documentation>CULINARY, ENTERTAINMENT, AND PERSONAL SERVICES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="13">
        <xs:annotation>
          <xs:documentation>EDUCATION.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="14">
        <xs:annotation>
          <xs:documentation>ENGINEERING.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="15">
        <xs:annotation>
          <xs:documentation>ENGINEERING/ENGINEERING-RELATED TECHNOLOGIES/TECHNICIANS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="16">
        <xs:annotation>
          <xs:documentation>FOREIGN LANGUAGES, LITERATURES, AND LINGUISTICS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="19">
        <xs:annotation>
          <xs:documentation>FAMILY AND CONSUMER SCIENCES/HUMAN SCIENCES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="21">
        <xs:annotation>
          <xs:documentation>RESERVED.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="22">
        <xs:annotation>
          <xs:documentation>LEGAL PROFESSIONS AND STUDIES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="23">
        <xs:annotation>
          <xs:documentation>ENGLISH LANGUAGE AND LITERATURE/LETTERS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="24">
        <xs:annotation>
          <xs:documentation>LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND HUMANITIES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="25">
        <xs:annotation>
          <xs:documentation>LIBRARY SCIENCE.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="26">
        <xs:annotation>
          <xs:documentation>BIOLOGICAL AND BIOMEDICAL SCIENCES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="27">
        <xs:annotation>
          <xs:documentation>MATHEMATICS AND STATISTICS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="28">
        <xs:annotation>
          <xs:documentation>MILITARY SCIENCE, LEADERSHIP AND OPERATIONAL ART.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="29">
        <xs:annotation>
          <xs:documentation>MILITARY TECHNOLOGIES AND APPLIED SCIENCES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="30">
        <xs:annotation>
          <xs:documentation>MULTI/INTERDISCIPLINARY STUDIES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="31">
        <xs:annotation>
          <xs:documentation>PARKS, RECREATION, LEISURE, FITNESS, AND KINESIOLOGY.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="32">
        <xs:annotation>
          <xs:documentation>BASIC SKILLS AND DEVELOPMENTAL/REMEDIAL EDUCATION.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="33">
        <xs:annotation>
          <xs:documentation>CITIZENSHIP ACTIVITIES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="34">
        <xs:annotation>
          <xs:documentation>HEALTH-RELATED KNOWLEDGE AND SKILLS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="35">
        <xs:annotation>
          <xs:documentation>INTERPERSONAL AND SOCIAL SKILLS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="36">
        <xs:annotation>
          <xs:documentation>LEISURE AND RECREATIONAL ACTIVITIES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="37">
        <xs:annotation>
          <xs:documentation>PERSONAL AWARENESS AND SELF-IMPROVEMENT.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="38">
        <xs:annotation>
          <xs:documentation>PHILOSOPHY AND RELIGIOUS STUDIES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="39">
        <xs:annotation>
          <xs:documentation>THEOLOGY AND RELIGIOUS VOCATIONS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="40">
        <xs:annotation>
          <xs:documentation>PHYSICAL SCIENCES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="41">
        <xs:annotation>
          <xs:documentation>SCIENCE TECHNOLOGIES/TECHNICIANS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="42">
        <xs:annotation>
          <xs:documentation>PSYCHOLOGY.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="43">
        <xs:annotation>
          <xs:documentation>HOMELAND SECURITY, LAW ENFORCEMENT, FIREFIGHTING AND RELATED PROTECTIVE SERVICES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="44">
        <xs:annotation>
          <xs:documentation>PUBLIC ADMINISTRATION AND SOCIAL SERVICE PROFESSIONS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="45">
        <xs:annotation>
          <xs:documentation>SOCIAL SCIENCES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="46">
        <xs:annotation>
          <xs:documentation>CONSTRUCTION TRADES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="47">
        <xs:annotation>
          <xs:documentation>MECHANIC AND REPAIR TECHNOLOGIES/TECHNICIANS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="48">
        <xs:annotation>
          <xs:documentation>PRECISION PRODUCTION.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="49">
        <xs:annotation>
          <xs:documentation>TRANSPORTATION AND MATERIALS MOVING.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="50">
        <xs:annotation>
          <xs:documentation>VISUAL AND PERFORMING ARTS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="51">
        <xs:annotation>
          <xs:documentation>HEALTH PROFESSIONS AND RELATED PROGRAMS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="52">
        <xs:annotation>
          <xs:documentation>BUSINESS, MANAGEMENT, MARKETING, AND RELATED SUPPORT SERVICES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="53">
        <xs:annotation>
          <xs:documentation>HIGH SCHOOL/SECONDARY DIPLOMAS AND CERTIFICATES.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="54">
        <xs:annotation>
          <xs:documentation>HISTORY.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="55">
        <xs:annotation>
          <xs:documentation>RESERVED.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="60">
        <xs:annotation>
          <xs:documentation>HEALTH PROFESSIONS RESIDENCY/FELLOWSHIP PROGRAMS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="61">
        <xs:annotation>
          <xs:documentation>MEDICAL RESIDENCY/FELLOWSHIP PROGRAMS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CIP2DigitCodeType">
    <xs:annotation>
      <xs:documentation>A data type for 2-digit Classification of Instructional Programs (CIP) codes.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nces:CIP2DigitCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="CIP2DigitCode" type="nces:CIP2DigitCodeType" substitutionGroup="nc:EducationQualificationRepresentation" nillable="true">
    <xs:annotation>
      <xs:documentation>A degree, certificate, credit, or other educational qualification obtained by a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
