niem/domains/infrastructureProtection/2.0/infrastructureProtection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/domains/infrastructureProtection/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ip="http://niem.gov/niem/domains/infrastructureProtection/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>Infrastructure Protection</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:complexType name="AirlineType">
    <xsd:annotation>
      <xsd:documentation>A data type for the airline organization or business</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element ref="nc:Aircraft" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:AircraftReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:Airport" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:AirportReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AirportType">
    <xsd:annotation>
      <xsd:documentation>A data type for an airport</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssetType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ip:AssetType">
        <xsd:sequence>
          <xsd:element ref="ip:Flight" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:FlightReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AssetType">
    <xsd:annotation>
      <xsd:documentation>A data type for an Asset in an Infrastructure</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ip:AssetName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FlightTimeAtAirportType">
    <xsd:annotation>
      <xsd:documentation>A data type for whether a flight departed or listed according to its listed time or was it early or delayed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ip:ListedDepartureTime" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:ActualDepartureTime" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:ListedArrivalTime" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:ActualArrivalTime" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FlightType">
    <xsd:annotation>
      <xsd:documentation>A data type for a flight</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ip:FlightIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:Airline" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:AirlineReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:DepartureAirport" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:DepartureAirportReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:TransitAirport" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:TransitAirportReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:ArrivalAirport" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:ArrivalAirportReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:Crew" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:CrewReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:Passenger" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:PassengerReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PassengerType">
    <xsd:annotation>
      <xsd:documentation>A data type for a plane passenger</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:NoFlyListStatusIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:Flight" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:FlightReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:Passport" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PassportReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SectorType">
    <xsd:annotation>
      <xsd:documentation>A data type for a Sector in an infrastructure</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ip:SectorName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:Segment" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SegmentReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SegmentType">
    <xsd:annotation>
      <xsd:documentation>A data type for a Segment in an infrastructure</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ip:SegmentName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SubSegment" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:SubSegmentReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:Asset" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="ip:AssetReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ActualArrivalTime" type="niem-xsd:time" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The actual arrival time of the flight.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActualDepartureTime" type="niem-xsd:time" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The actual departure time of the flight.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AirlineReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An airline</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="AirlineType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Airline" type="ip:AirlineType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An airline</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AirportReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An airport</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="AirportType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Airport" type="ip:AirportType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An airport</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrivalAirportReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Destination Airport of the flight</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="AirportType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrivalAirport" type="ip:AirportType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Destination Airport of the flight</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssetReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An Asset</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="AssetType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Asset" type="ip:AssetType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An Asset</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssetName" type="nc:TextType" nillable="true"/>
  <xsd:element name="CrewReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A crew member of the flight.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Crew" type="nc:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A crew member of the flight.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DepartureAirportReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Origin Airport of the flight</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="AirportType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DepartureAirport" type="ip:AirportType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Origin Airport of the flight</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FlightReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A flight</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="FlightType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Flight" type="ip:FlightType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A flight</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FlightIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Flight ID like Flight Number</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FlightTimeAtAirport" type="ip:FlightTimeAtAirportType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>When a flight actual arrived or departed and when did the flight supposed to come.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ListedArrivalTime" type="niem-xsd:time" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The listed arrival time of the flight. The actual arrival time can be equal but if the flight was delayed that the actual  arrival time is later than the listed time.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ListedDepartureTime" type="niem-xsd:time" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The listed departure time of the flight. The actual departure time can be equal but if the flight was delayed that the actual departure time is later than the listed time.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NoFlyListStatusIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Determines whether a passenger is on the &quot;No Fly List&quot;</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PassengerReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A Passenger</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PassengerType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Passenger" type="ip:PassengerType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A Passenger</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Sector" type="ip:SectorType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A Sector</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SectorName" type="nc:TextType" nillable="true"/>
  <xsd:element name="SegmentReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A segment</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="SegmentType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Segment" type="ip:SegmentType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A segment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SegmentName" type="nc:TextType" nillable="true"/>
  <xsd:element name="SubSegmentReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A subsegment which can be reference  as attribute in NADB or anything else depending on the system.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="SegmentType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubSegment" type="ip:SegmentType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A subsegment which can be reference  as attribute in NADB or anything else depending on the system.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransitAirportReference" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Transit Airport of the flight which means that the flight may land or depart at a transit airport.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="AirportType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransitAirport" type="ip:AirportType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Transit Airport of the flight which means that the flight may land or depart at a transit airport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
