niem/unece_rec20-misc/1.0/unece_rec20-misc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/unece_rec20-misc/1.0" version="1" xmlns:i="http://niem.gov/niem/appinfo/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:s="http://niem.gov/niem/structures/1.0" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:unece="http://niem.gov/niem/unece_rec20-misc/1.0">
  <xsd:annotation>
    <xsd:documentation>Miscellaneous unit of measurement code from the United Nations Economic Commission for Europe Recommendation No. 20, &quot;Codes for Units of Measure used in International Trade&quot;.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../structures/1.0/structures.xsd" namespace="http://niem.gov/niem/structures/1.0"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/1.0" schemaLocation="../../appinfo/1.0/appinfo.xsd"/>
  <xsd:simpleType name="LengthCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A code list that enumerates units of measurements for a length value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/1.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="A">
        <xsd:annotation>
          <xsd:documentation>angstrom</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AU">
        <xsd:annotation>
          <xsd:documentation>astronomical unit</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ch">
        <xsd:annotation>
          <xsd:documentation>chain</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="cm">
        <xsd:annotation>
          <xsd:documentation>centimetre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dam">
        <xsd:annotation>
          <xsd:documentation>decametre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dm">
        <xsd:annotation>
          <xsd:documentation>decimetre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="fathom">
        <xsd:annotation>
          <xsd:documentation>fathom</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="fm">
        <xsd:annotation>
          <xsd:documentation>femtometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ft">
        <xsd:annotation>
          <xsd:documentation>foot</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="hm">
        <xsd:annotation>
          <xsd:documentation>hectometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="in">
        <xsd:annotation>
          <xsd:documentation>inch</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="km">
        <xsd:annotation>
          <xsd:documentation>kilometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="l.y.">
        <xsd:annotation>
          <xsd:documentation>light year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="m">
        <xsd:annotation>
          <xsd:documentation>metre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mil">
        <xsd:annotation>
          <xsd:documentation>milli- inch</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mile">
        <xsd:annotation>
          <xsd:documentation>mile (statute mile)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mm">
        <xsd:annotation>
          <xsd:documentation>millimetre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="n mile">
        <xsd:annotation>
          <xsd:documentation>nautical mile</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="nm">
        <xsd:annotation>
          <xsd:documentation>nanometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="pc">
        <xsd:annotation>
          <xsd:documentation>parsec</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="pm">
        <xsd:annotation>
          <xsd:documentation>picometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="uin">
        <xsd:annotation>
          <xsd:documentation>micro- inch</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="um">
        <xsd:annotation>
          <xsd:documentation>micrometre (micron)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="yd">
        <xsd:annotation>
          <xsd:documentation>yard</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LengthCodeType">
    <xsd:annotation>
      <xsd:documentation>A proxy code list that enumerates units of measurements for a length value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/1.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="unece:LengthCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="MassCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A code list that enumerates units of measurement for a weight value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/1.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Mg">
        <xsd:annotation>
          <xsd:documentation>megagram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="cg">
        <xsd:annotation>
          <xsd:documentation>centigram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="cwt (UK)">
        <xsd:annotation>
          <xsd:documentation>hundred weight (UK)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="cwt (US)">
        <xsd:annotation>
          <xsd:documentation>hundred pounds (cwt)/ hundred weight (US)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dag">
        <xsd:annotation>
          <xsd:documentation>decagram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dg">
        <xsd:annotation>
          <xsd:documentation>decigram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dt">
        <xsd:annotation>
          <xsd:documentation>decitonne</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="g">
        <xsd:annotation>
          <xsd:documentation>gram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gr">
        <xsd:annotation>
          <xsd:documentation>grain</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="hg">
        <xsd:annotation>
          <xsd:documentation>hectogram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="kg">
        <xsd:annotation>
          <xsd:documentation>kilogram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="kt">
        <xsd:annotation>
          <xsd:documentation>kilotonne</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lb">
        <xsd:annotation>
          <xsd:documentation>pound</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mg">
        <xsd:annotation>
          <xsd:documentation>milligram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="oz">
        <xsd:annotation>
          <xsd:documentation>ounce</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="stone">
        <xsd:annotation>
          <xsd:documentation>stone (UK)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="t">
        <xsd:annotation>
          <xsd:documentation>tonne (metric ton)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ton (UK)">
        <xsd:annotation>
          <xsd:documentation>ton (UK) or longton (US)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ton (US)">
        <xsd:annotation>
          <xsd:documentation>ton (US) or short ton (UK/US)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="tr oz">
        <xsd:annotation>
          <xsd:documentation>troy ounce or apothecaries&apos; ounce</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MassCodeType">
    <xsd:annotation>
      <xsd:documentation>A proxy code list that enumerates units of measurement for a weight value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/1.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="unece:MassCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TimeCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A code list that enumerates units of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/1.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="a">
        <xsd:annotation>
          <xsd:documentation>year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="atrop">
        <xsd:annotation>
          <xsd:documentation>tropical year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="d">
        <xsd:annotation>
          <xsd:documentation>day</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="h">
        <xsd:annotation>
          <xsd:documentation>hour</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ks">
        <xsd:annotation>
          <xsd:documentation>kilosecond</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="min">
        <xsd:annotation>
          <xsd:documentation>minute</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ms">
        <xsd:annotation>
          <xsd:documentation>millisecond</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ns">
        <xsd:annotation>
          <xsd:documentation>nanosecond</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="s">
        <xsd:annotation>
          <xsd:documentation>second</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="us">
        <xsd:annotation>
          <xsd:documentation>microsecond</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TimeCodeType">
    <xsd:annotation>
      <xsd:documentation>A proxy code list that enumerates units of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/1.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="unece:TimeCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="VelocityCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A code list that enumerates units of measurement for a speed or velocity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/1.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="cm/s">
        <xsd:annotation>
          <xsd:documentation>centimetre per second</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ft/min">
        <xsd:annotation>
          <xsd:documentation>foot per minute</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ft/s">
        <xsd:annotation>
          <xsd:documentation>foot per second</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="in/s">
        <xsd:annotation>
          <xsd:documentation>inch per second</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="km/h">
        <xsd:annotation>
          <xsd:documentation>kilometre per hour</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="kn">
        <xsd:annotation>
          <xsd:documentation>knot</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="m/min">
        <xsd:annotation>
          <xsd:documentation>metre per minute</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="m/s">
        <xsd:annotation>
          <xsd:documentation>metre per second</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mile/h">
        <xsd:annotation>
          <xsd:documentation>mile per hour</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mm/s">
        <xsd:annotation>
          <xsd:documentation>millimetre per second</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="VelocityCodeType">
    <xsd:annotation>
      <xsd:documentation>A proxy code list that enumerates units of measurement for a speed or velocity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/1.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="unece:VelocityCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
