niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0/xlinks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- File: xlinks.xsd  -->
<schema
 targetNamespace="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0" 
             xmlns:xlink="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0"
xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<annotation>
		<appinfo source="urn:opengis:specification:gml:schema-xlinks:v3.0c2">xlinks.xsd v3.0b2 2001-07</appinfo>
		<documentation>
			GML 3.0 candidate xlinks schema; local copy of http://schemas.opengeospatial.net/xlink/1.0.0/xlinks.xsd with the following changes:

    		2006-09-28 Changed namespace
				ns old	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0	

			2006-09-21 Changes
			
				1.  Change namespaces following NIEM convetions
				     a) xlink namespace changed to  http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0

			2006-09-04 Changes
			
				1.  Change namespaces following conventions proposed in OGC 05-065r3 to include version and profile information, 
				      except that complete version is used instead of BNF "principle version".  
					  a) xlink namespace was http://www.w3.org/1999/xlink; changed to http://www.w3.org/1999/xlink/1.0.0/OGC-DHS-GMO/1.0.0
				2.  Include complete OGC copyright notice from http://www.opengeospatial.org/ogc/software
			
		 	Copyright Notices:

			Copyright (c) 2001 OGC, All Rights Reserved.
		 	
		 	This OGC work (including software, documents, or other related items) is being provided by the copyright holders under the following license. By obtaining, using and/or copying this work, you (the licensee) agree that you have read, understood, and will comply with the following terms and conditions:

Permission to use, copy, and modify this software and its documentation, with or without modification, for any purpose and without fee or royalty is hereby granted, provided that you include the following on ALL copies of the software and documentation or portions thereof, including modifications, that you make:

   1. The full text of this NOTICE in a location viewable to users of the redistributed or derivative work.
   2. Any pre-existing intellectual property disclaimers, notices, or terms and conditions. If none exist, a short notice of the following form (hypertext is preferred, text is permitted) should be used within the body of any redistributed or derivative code: "Copyright © [$date-of-document] Open Geospatial Consortium, Inc. All Rights Reserved. http://www.opengeospatial.org/ogc/legal (Hypertext is preferred, but a textual representation is permitted.)
   3. Notice of any changes or modifications to the OGC files, including the date changes were made. (We recommend you provide URIs to the location from which the code is derived.) 

THIS SOFTWARE AND DOCUMENTATION IS PROVIDED "AS IS," AND COPYRIGHT HOLDERS MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR ANY PARTICULAR PURPOSE OR THAT THE USE OF THE SOFTWARE OR DOCUMENTATION WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.

COPYRIGHT HOLDERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF ANY USE OF THE SOFTWARE OR DOCUMENTATION.

The name and trademarks of copyright holders may NOT be used in advertising or publicity pertaining to the software without specific, written prior permission. Title to copyright in this software and any associated documentation will at all times remain with copyright holders.
     			
		</documentation>
	</annotation>
	<!-- ==============================================================
       global declarations
  	=============================================================== -->
	<!-- locator attribute -->
	<attribute name="href" type="anyURI"/>
	<!-- semantic attributes -->
	<attribute name="role" type="anyURI"/>
	<attribute name="arcrole" type="anyURI"/>
	<attribute name="title" type="string"/>
	<!-- behavior attributes -->
	<attribute name="show">
		<annotation>
			<documentation>
        The 'show' attribute is used to communicate the desired presentation 
        of the ending resource on traversal from the starting resource; it's 
        value should be treated as follows: 
        new - load ending resource in a new window, frame, pane, or other 
              presentation context
        replace - load the resource in the same window, frame, pane, or 
                  other presentation context
        embed - load ending resource in place of the presentation of the 
                starting resource
        other - behavior is unconstrained; examine other markup in the 
                link for hints 
        none - behavior is unconstrained 
      </documentation>
		</annotation>
		<simpleType>
			<restriction base="string">
				<enumeration value="new"/>
				<enumeration value="replace"/>
				<enumeration value="embed"/>
				<enumeration value="other"/>
				<enumeration value="none"/>
			</restriction>
		</simpleType>
	</attribute>
	<attribute name="actuate">
		<annotation>
			<documentation>
        The 'actuate' attribute is used to communicate the desired timing 
        of traversal from the starting resource to the ending resource; 
        it's value should be treated as follows:
        onLoad - traverse to the ending resource immediately on loading 
                 the starting resource 
        onRequest - traverse from the starting resource to the ending 
                    resource only on a post-loading event triggered for 
                    this purpose 
        other - behavior is unconstrained; examine other markup in link 
                for hints 
        none - behavior is unconstrained
      </documentation>
		</annotation>
		<simpleType>
			<restriction base="string">
				<enumeration value="onLoad"/>
				<enumeration value="onRequest"/>
				<enumeration value="other"/>
				<enumeration value="none"/>
			</restriction>
		</simpleType>
	</attribute>
	<!-- traversal attributes -->
	<attribute name="label" type="string"/>
	<attribute name="from" type="string"/>
	<attribute name="to" type="string"/>
	<!-- ==============================================================
       Attributes grouped by XLink type, as specified in the W3C 
       Proposed Recommendation (dated 2000-12-20)
	============================================================== -->
	<attributeGroup name="simpleLink">
		<attribute name="type" type="string" fixed="simple" form="qualified"/>
		<attribute ref="xlink:href" use="optional"/>
		<attribute ref="xlink:role" use="optional"/>
		<attribute ref="xlink:arcrole" use="optional"/>
		<attribute ref="xlink:title" use="optional"/>
		<attribute ref="xlink:show" use="optional"/>
		<attribute ref="xlink:actuate" use="optional"/>
	</attributeGroup>
	<attributeGroup name="extendedLink">
		<attribute name="type" type="string" fixed="extended" form="qualified"/>
		<attribute ref="xlink:role" use="optional"/>
		<attribute ref="xlink:title" use="optional"/>
	</attributeGroup>
	<attributeGroup name="locatorLink">
		<attribute name="type" type="string" fixed="locator" form="qualified"/>
		<attribute ref="xlink:href" use="required"/>
		<attribute ref="xlink:role" use="optional"/>
		<attribute ref="xlink:title" use="optional"/>
		<attribute ref="xlink:label" use="optional"/>
	</attributeGroup>
	<attributeGroup name="arcLink">
		<attribute name="type" type="string" fixed="arc" form="qualified"/>
		<attribute ref="xlink:arcrole" use="optional"/>
		<attribute ref="xlink:title" use="optional"/>
		<attribute ref="xlink:show" use="optional"/>
		<attribute ref="xlink:actuate" use="optional"/>
		<attribute ref="xlink:from" use="optional"/>
		<attribute ref="xlink:to" use="optional"/>
	</attributeGroup>
	<attributeGroup name="resourceLink">
		<attribute name="type" type="string" fixed="resource" form="qualified"/>
		<attribute ref="xlink:role" use="optional"/>
		<attribute ref="xlink:title" use="optional"/>
		<attribute ref="xlink:label" use="optional"/>
	</attributeGroup>
	<attributeGroup name="titleLink">
		<attribute name="type" type="string" fixed="title" form="qualified"/>
	</attributeGroup>
	<attributeGroup name="emptyLink">
		<attribute name="type" type="string" fixed="none" form="qualified"/>
	</attributeGroup>
</schema>