niem/unece_rec20-misc/2.0/unece_rec20-misc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/unece_rec20-misc/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:unece="http://niem.gov/niem/unece_rec20-misc/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>Miscellaneous unit of measure codes from the United Nations Economic Commission for Europe Recommendation No. 20, Codes for Units of Measure used in International Trade.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:simpleType name="LengthCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for units of measurements for a length value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="HMT">
        <xsd:annotation>
          <xsd:documentation>hectometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="A71">
        <xsd:annotation>
          <xsd:documentation>femtometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="X1">
        <xsd:annotation>
          <xsd:documentation>chain</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="A12">
        <xsd:annotation>
          <xsd:documentation>astronomical unit</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="A45">
        <xsd:annotation>
          <xsd:documentation>decametre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4H">
        <xsd:annotation>
          <xsd:documentation>micrometre (micron)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="A11">
        <xsd:annotation>
          <xsd:documentation>angstrom</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C52">
        <xsd:annotation>
          <xsd:documentation>picometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="B57">
        <xsd:annotation>
          <xsd:documentation>light year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CMT">
        <xsd:annotation>
          <xsd:documentation>centimetre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MTR">
        <xsd:annotation>
          <xsd:documentation>metre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AK">
        <xsd:annotation>
          <xsd:documentation>fathom</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C45">
        <xsd:annotation>
          <xsd:documentation>nanometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="KMT">
        <xsd:annotation>
          <xsd:documentation>kilometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M7">
        <xsd:annotation>
          <xsd:documentation>micro-inch</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MMT">
        <xsd:annotation>
          <xsd:documentation>millimetre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="INH">
        <xsd:annotation>
          <xsd:documentation>inch</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="77">
        <xsd:annotation>
          <xsd:documentation>milli-inch</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="YRD">
        <xsd:annotation>
          <xsd:documentation>yard</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FOT">
        <xsd:annotation>
          <xsd:documentation>foot</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NMI">
        <xsd:annotation>
          <xsd:documentation>nautical mile</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DMT">
        <xsd:annotation>
          <xsd:documentation>decimetre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C63">
        <xsd:annotation>
          <xsd:documentation>parsec</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SMI">
        <xsd:annotation>
          <xsd:documentation>mile (statute mile)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LengthCodeType">
    <xsd:annotation>
      <xsd:documentation>A data type for units of measurements for a length value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="unece:LengthCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="MassCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for units of measurement for a weight value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="KGM">
        <xsd:annotation>
          <xsd:documentation>kilogram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DTN">
        <xsd:annotation>
          <xsd:documentation>decitonne</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="STN">
        <xsd:annotation>
          <xsd:documentation>ton (US) or short ton (UK/US)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GRM">
        <xsd:annotation>
          <xsd:documentation>gram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="APZ">
        <xsd:annotation>
          <xsd:documentation>troy ounce or apothecary ounce</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TNE">
        <xsd:annotation>
          <xsd:documentation>tonne (metric ton)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="STI">
        <xsd:annotation>
          <xsd:documentation>stone (UK)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Mg">
        <xsd:annotation>
          <xsd:documentation>megagram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CWA">
        <xsd:annotation>
          <xsd:documentation>hundred pounds (cwt) / hundred weight (US)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LBR">
        <xsd:annotation>
          <xsd:documentation>pound</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2U">
        <xsd:annotation>
          <xsd:documentation>megagram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DG">
        <xsd:annotation>
          <xsd:documentation>decigram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HGM">
        <xsd:annotation>
          <xsd:documentation>hectogram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="KTN">
        <xsd:annotation>
          <xsd:documentation>kilotonne</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LTN">
        <xsd:annotation>
          <xsd:documentation>ton (UK) or long ton (US)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CGM">
        <xsd:annotation>
          <xsd:documentation>centigram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ONZ">
        <xsd:annotation>
          <xsd:documentation>ounce</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MC">
        <xsd:annotation>
          <xsd:documentation>microgram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DJ">
        <xsd:annotation>
          <xsd:documentation>decagram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CWI">
        <xsd:annotation>
          <xsd:documentation>hundred weight (UK)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MGM">
        <xsd:annotation>
          <xsd:documentation>milligram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GRN">
        <xsd:annotation>
          <xsd:documentation>grain</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MassCodeType">
    <xsd:annotation>
      <xsd:documentation>A data type for units of measurement for a weight value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="unece:MassCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TimeCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for units of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="D42">
        <xsd:annotation>
          <xsd:documentation>tropical year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="B52">
        <xsd:annotation>
          <xsd:documentation>kilosecond</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HUR">
        <xsd:annotation>
          <xsd:documentation>hour</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="WEE">
        <xsd:annotation>
          <xsd:documentation>week</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C26">
        <xsd:annotation>
          <xsd:documentation>millisecond</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ANN">
        <xsd:annotation>
          <xsd:documentation>year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MON">
        <xsd:annotation>
          <xsd:documentation>month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DAY">
        <xsd:annotation>
          <xsd:documentation>day</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MIN">
        <xsd:annotation>
          <xsd:documentation>minute [unit of time]</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="B98">
        <xsd:annotation>
          <xsd:documentation>microsecond</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C47">
        <xsd:annotation>
          <xsd:documentation>nanosecond</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SEC">
        <xsd:annotation>
          <xsd:documentation>second [unit of time]</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TimeCodeType">
    <xsd:annotation>
      <xsd:documentation>A data type for units of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="unece:TimeCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="VelocityCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for units of measurement for a speed or velocity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="HM">
        <xsd:annotation>
          <xsd:documentation>mile per hour</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2X">
        <xsd:annotation>
          <xsd:documentation>metre per minute</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2M">
        <xsd:annotation>
          <xsd:documentation>centimetre per second</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="KNT">
        <xsd:annotation>
          <xsd:documentation>knot</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FR">
        <xsd:annotation>
          <xsd:documentation>foot per minute</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MTS">
        <xsd:annotation>
          <xsd:documentation>metre per second</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="KMH">
        <xsd:annotation>
          <xsd:documentation>kilometre per hour</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C16">
        <xsd:annotation>
          <xsd:documentation>millimetre per second</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="IU">
        <xsd:annotation>
          <xsd:documentation>inch per second</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FS">
        <xsd:annotation>
          <xsd:documentation>foot per second</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="VelocityCodeType">
    <xsd:annotation>
      <xsd:documentation>A data type for units of measurement for a speed or velocity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="unece:VelocityCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
