niem/domains/humanServices/3.2/hs.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/humanServices/3.2/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd http://release.niem.gov/niem/localTerminology/3.0/ ../../../localTerminology/3.0/localTerminology.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:cyfs="http://release.niem.gov/niem/domains/cyfs/3.2/" xmlns:hs="http://release.niem.gov/niem/domains/humanServices/3.2/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>Human Services</xs:documentation>
    <xs:appinfo>
      <term:LocalTerm term="Comp" literal="Compensation"/>
      <term:LocalTerm term="EBT" literal="Electronic Benefit Transfer"/>
      <term:LocalTerm term="FS" literal="Food Stamps"/>
      <term:LocalTerm term="PARIS" literal="Public Assistance Reporting Information System"/>
      <term:LocalTerm term="SSA" literal="Social Security Administration"/>
      <term:LocalTerm term="SSI" literal="Supplemental Security Income"/>
      <term:LocalTerm term="SSN" literal="Social Security Number"/>
      <term:LocalTerm term="TANF" literal="Temporary Assistance to Needy Families"/>
      <term:LocalTerm term="VA" literal="Veterans Affairs"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:import schemaLocation="../../cyfs/3.2/cyfs.xsd" namespace="http://release.niem.gov/niem/domains/cyfs/3.2/"/>
  <xs:import schemaLocation="../../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:simpleType name="AddressCategoryCodeListCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a kind of address.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Mailing">
        <xs:annotation>
          <xs:documentation>Mailing</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Residence">
        <xs:annotation>
          <xs:documentation>Residence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Street">
        <xs:annotation>
          <xs:documentation>Street</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AddressCategoryCodeListCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a kind of address.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:AddressCategoryCodeListCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CaseWorkerCategoryCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a kind of case worker.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Caseworker">
        <xs:annotation>
          <xs:documentation>Caseworker</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Caseworker Supervisor">
        <xs:annotation>
          <xs:documentation>Caseworker Supervisor</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Enforcement Worker">
        <xs:annotation>
          <xs:documentation>Enforcement Worker</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Financial Supervisor">
        <xs:annotation>
          <xs:documentation>Financial Supervisor</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Financial Worker">
        <xs:annotation>
          <xs:documentation>Financial Worker</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Locate Worker">
        <xs:annotation>
          <xs:documentation>Locate Worker</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CaseWorkerCategoryCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a kind of case worker.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:CaseWorkerCategoryCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CaseWorkerUnitCodeListCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a case worker unit.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Enforcement">
        <xs:annotation>
          <xs:documentation>Enforcement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Establishment">
        <xs:annotation>
          <xs:documentation>Establishment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Intake">
        <xs:annotation>
          <xs:documentation>Intake</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Locate">
        <xs:annotation>
          <xs:documentation>Locate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paternity">
        <xs:annotation>
          <xs:documentation>Paternity</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CaseWorkerUnitCodeListCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a case worker unit.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:CaseWorkerUnitCodeListCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CaseWorkerUnitType">
    <xs:annotation>
      <xs:documentation>A data type for n/a</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:OrganizationType">
        <xs:sequence>
          <xs:element ref="hs:CaseWorkerUnitID" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:CaseWorkerUnitNameRangeText" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:CaseWorkerUnitCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:CaseWorkerUnitAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ChildCareIndicatorCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a role of the person of record involved in child care - the child receiving assistance, the parent receiving assistance, or the child care provider.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="C">
        <xs:annotation>
          <xs:documentation>Record is for Child Receiving Child Assistance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="P">
        <xs:annotation>
          <xs:documentation>Record is for Parent Receiving Child Care Assistance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="R">
        <xs:annotation>
          <xs:documentation>Record is for a Child Care Provider</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ChildCareIndicatorCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a role of the person of record involved in child care - the child receiving assistance, the parent receiving assistance, or the child care provider.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:ChildCareIndicatorCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ChildSupportAssistanceStatusIndicatorCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for child support assistance status codes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Current Assistance">
        <xs:annotation>
          <xs:documentation>Current Assistance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Former Assisstance">
        <xs:annotation>
          <xs:documentation>Former Assisstance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Never Assistance">
        <xs:annotation>
          <xs:documentation>Never Assistance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ChildSupportAssistanceStatusIndicatorCodeType">
    <xs:annotation>
      <xs:documentation>A data type for child support assistance status codes.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:ChildSupportAssistanceStatusIndicatorCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ContactInformationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about contact information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="hs:PhoneContactSupportIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:FaxContactSupportIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:EmailContactSupportIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:MedicalAssistanceContactPersonInformationDescriptionText" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DataPrivacyType">
    <xs:annotation>
      <xs:documentation>A data type for data privacy.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="hs:DataPrivacyCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:DataPrivacyDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:DataPrivacyElementName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:DataPrivacyIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:DataPrivacyPolicyReferenceText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:DataPrivacyRuleText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:DataPrivacyAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DataQualityType">
    <xs:annotation>
      <xs:documentation>A data type for data quality.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="hs:DataProvenanceText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:DataQualityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:DataQualityDimensionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:DataQualityElementName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:DataQualityValidationDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:DataQualityAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EligibilityType">
    <xs:annotation>
      <xs:documentation>A data type for a set of programs for which a person may be considered for eligibility.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="hs:ServicesEligibilityIndicatorCode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:TANFIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:ChildSupportAssistanceStatusIndicatorCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:TANFMonthsEligibilityQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:EligibilityAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EmployerType">
    <xs:annotation>
      <xs:documentation>A data type for Employer Details.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:EntityType">
        <xs:sequence>
          <xs:element ref="hs:EmployerFEINID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:EmployerName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:EmployerTribeOwnedIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:EmployerPayrollNumberID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:EmployerStateUnemploymentID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:EmployerTribalMemberOwnedIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:EmployerCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:EmployerAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EmploymentType">
    <xs:annotation>
      <xs:documentation>A data type for a person's Employment Details.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="hs:PersonEmployableIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:EmploymentAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="FosterCareCasePlanGoalCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for foster care plan goals.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Adoption">
        <xs:annotation>
          <xs:documentation>The goal is to facilitate the child's adoption by relatives, foster parents or other unrelated individuals.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Case Plan Goal Not Yet Established">
        <xs:annotation>
          <xs:documentation>No case plan goal has yet been established other than the care and protection of the child.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Emancipation">
        <xs:annotation>
          <xs:documentation>Because of specific factors or conditions, it is not appropriate or possible to return the child home, have a child live permanently with a relative or have the child be adopted; therefore, the goal is to maintain the child in a foster care setting until the child reaches the age of majority.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Guardianship">
        <xs:annotation>
          <xs:documentation>Because of specific factors or conditions, it is not appropriate or possible to return the child home, have a child live permanently with a relative or have the child be adopted; therefore, the goal is to maintain the child in a foster care setting until the child reaches the age of majority.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Live With Other Relatives">
        <xs:annotation>
          <xs:documentation>The goal is to have the child live permanently with a relative or relatives other than the ones from whom the child was removed. This could include guardianship by a relative(s).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Long Term Foster Care">
        <xs:annotation>
          <xs:documentation>Because of specific factors or conditions, it is not appropriate or possible to return the child home or place her or him for adoption, and the goal is to maintain the child in a long-term foster care placement.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reunify With Parents or Principal Caretaker(s)">
        <xs:annotation>
          <xs:documentation>The goal is to keep the child in foster care for a limited time to enable the agency to work with the family with whom the child had been living prior to entering foster care in order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FosterCareCasePlanGoalCodeType">
    <xs:annotation>
      <xs:documentation>A data type for foster care plan goals.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:FosterCareCasePlanGoalCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="InterStateOutputDataReportType">
    <xs:annotation>
      <xs:documentation>A data type for a State Output Data report of the Public Assistance Reporting Information System (PARIS).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="hs:InterStateOutputData" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="hs:InterStateOutputDataReportAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InterStateOutputDataType">
    <xs:annotation>
      <xs:documentation>A data type for a set of data for a State Output Data report of the Public Assistance Reporting Information System (PARIS).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="hs:PrimaryOfficialContact" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:SecondaryOfficialContact" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:Person" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:InterStateOutputDataAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ParticipantCategoryCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a kind of participant.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Aunt">
        <xs:annotation>
          <xs:documentation>Aunt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Biological Father">
        <xs:annotation>
          <xs:documentation>Biological Father</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Biological Mother">
        <xs:annotation>
          <xs:documentation>Biological Mother</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Brother">
        <xs:annotation>
          <xs:documentation>Brother</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Clan Member">
        <xs:annotation>
          <xs:documentation>Clan Member</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cousin">
        <xs:annotation>
          <xs:documentation>Cousin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Current Guardian">
        <xs:annotation>
          <xs:documentation>Current Guardian</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Excluded Father">
        <xs:annotation>
          <xs:documentation>Excluded Father</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Father">
        <xs:annotation>
          <xs:documentation>Father</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Former Guardian">
        <xs:annotation>
          <xs:documentation>Former Guardian</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Foster Parent">
        <xs:annotation>
          <xs:documentation>Foster Parent</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Grandfather">
        <xs:annotation>
          <xs:documentation>Grandfather</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Grandmother">
        <xs:annotation>
          <xs:documentation>Grandmother</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Head of Household">
        <xs:annotation>
          <xs:documentation>Head of Household</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Minor Father">
        <xs:annotation>
          <xs:documentation>Minor Father</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Minor Mother">
        <xs:annotation>
          <xs:documentation>Minor Mother</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mother">
        <xs:annotation>
          <xs:documentation>Mother</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:documentation>Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Putative Father">
        <xs:annotation>
          <xs:documentation>Putative Father</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Sister">
        <xs:annotation>
          <xs:documentation>Sister</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Step-Parent">
        <xs:annotation>
          <xs:documentation>Step-Parent</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Third Party Agency">
        <xs:annotation>
          <xs:documentation>Third Party Agency</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Uncle">
        <xs:annotation>
          <xs:documentation>Uncle</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ParticipantCategoryCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a kind of participant.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:ParticipantCategoryCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ParticipantRoleCodeListCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a participant role.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Child">
        <xs:annotation>
          <xs:documentation>Child</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CP">
        <xs:annotation>
          <xs:documentation>CP</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NCP">
        <xs:annotation>
          <xs:documentation>NCP</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ParticipantRoleCodeListCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a participant role.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:ParticipantRoleCodeListCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="nc:LocationStateName" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:PhoneContactSupportIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:FaxContactSupportIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:EmailContactSupportIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:SSNVerificationIndicatorCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:FraudIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:FugitiveFelonIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:ProbationAndParoleViolationIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:DrugRelatedFelonIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:VAMatchRequestIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:StateMatchRequestIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:FEDMatchRequestIndicator" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:Eligibility" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:Case" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PersonRoleCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a person role.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Client">
        <xs:annotation>
          <xs:documentation>Client</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Contact">
        <xs:annotation>
          <xs:documentation>Contact</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonRoleCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a person role.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:PersonRoleCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PlacementSettingCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a placement setting code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Foster Family Home (Non-Relative)">
        <xs:annotation>
          <xs:documentation>A licensed foster family home regarded by the title IV-E agency as a foster care living arrangement.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Foster Family Home (Relative)">
        <xs:annotation>
          <xs:documentation>A licensed or unlicensed home of the child's relatives regarded by the title IV-E agency as a foster care living arrangement for the child.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Group Home">
        <xs:annotation>
          <xs:documentation>A licensed or approved home providing 24-hour care for children in a small group setting that generally has from seven to twelve children.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Institution">
        <xs:annotation>
          <xs:documentation>A child care facility operated by a public or private agency and providing 24-hour care and/or treatment for children who require separation from their own homes and group living experience. These facilities may include: child care institutions; residential treatment facilities; maternity homes; etc.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Pre-Adoptive Home">
        <xs:annotation>
          <xs:documentation>A home in which the family intends to adopt the child. The family may or may not be receiving a foster care payment or an adoption subsidy on behalf of the child.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Runaway">
        <xs:annotation>
          <xs:documentation>The child has run away from the foster care setting.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Supervised Independent Living">
        <xs:annotation>
          <xs:documentation>An alternative transitional living arrangement where the child is under the supervision of the agency but without 24 hour adult supervision, is receiving financial support from the child welfare agency, and is in a setting which provides the opportunity for increased responsibility for self care.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Trial Home Visit">
        <xs:annotation>
          <xs:documentation>The child has been in a foster care placement, but, under title IV-E agency supervision, has been returned to the principal caretaker for a limited and specified period of time. If a time period is not specified the child must be identified as having been returned home at the point at which the trial home visit exceeds six months</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PlacementSettingCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a placement setting code.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:PlacementSettingCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PlacementSettingRenumerationCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a placement setting renumeration.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Paid">
        <xs:annotation>
          <xs:documentation>Paid</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unpaid">
        <xs:annotation>
          <xs:documentation>Unpaid</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PlacementSettingRenumerationCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a placement setting renumeration.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:PlacementSettingRenumerationCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SSNCategoryCodeListCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a kind of SSN.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Primary">
        <xs:annotation>
          <xs:documentation>Primary</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Secondary">
        <xs:annotation>
          <xs:documentation>Secondary</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SSNCategoryCodeListCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a kind of SSN.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:SSNCategoryCodeListCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SSNVerificationIndicatorCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a verification of a SSN by the Social Security Administration (SSA).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value=".">
        <xs:annotation>
          <xs:documentation>. or blank = record failed initial edits and did not make it into verification process</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="*">
        <xs:annotation>
          <xs:documentation>SSN not verified</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>SSN not on file</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>surname matched but DOB did not match NUMIDENT</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation>surname does not match; DOB was checked</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:documentation>verified but surname ignored</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:documentation>verified via MBR or SSR (overlay of 1)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="P">
        <xs:annotation>
          <xs:documentation>verified via MBR or SSR (overlay of 3)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="R">
        <xs:annotation>
          <xs:documentation>SSN verified via MBR or SSR rather than NUMIDENT (overlay of 5)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V">
        <xs:annotation>
          <xs:documentation>verified (preferred)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>verified but NUMIDENT indicates individual deceased</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z">
        <xs:annotation>
          <xs:documentation>verification code when state submitted CAN instead of SSN; CAN OK, SSN not verified</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SSNVerificationIndicatorCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a verification of a SSN by the Social Security Administration (SSA).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:SSNVerificationIndicatorCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ServicesEligibilityIndicatorCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a service for which a person is eligible.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="ChildCare">
        <xs:annotation>
          <xs:documentation>Child Receiving Child Assistance, Parent Receiving Child Care,Assistance is for a Child Care Provider</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FoodStamp">
        <xs:annotation>
          <xs:documentation>A program to provide food-purchasing assistance to eligible adults.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="General Assistance">
        <xs:annotation>
          <xs:documentation>A program to provide temporary assistance to eligible adults.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Medicaid">
        <xs:annotation>
          <xs:documentation>A program to provide medical care and long-term care services to low-income people and families.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SSI">
        <xs:annotation>
          <xs:documentation>A program (Supplemental Security Income) to provide stipends to people with limited income and resources who are disabled, blind, or age 65 or older.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TANF">
        <xs:annotation>
          <xs:documentation>A program designed to help needy families achieve self-sufficiency (Temporary Assistance to Needy Families).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WorkersComp">
        <xs:annotation>
          <xs:documentation>A program to provide wage replacement and medical benefits to employees injured on the job.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServicesEligibilityIndicatorCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a service for which a person is eligible.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:ServicesEligibilityIndicatorCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StateInputDataReportType">
    <xs:annotation>
      <xs:documentation>A data type for a State Input Data report of the Public Assistance Reporting Information System (PARIS).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="hs:StateInputData" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="hs:StateInputDataReportAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StateInputType">
    <xs:annotation>
      <xs:documentation>A data type for a set of data for the State Input Data report of the Public Assistance Reporting Information System (PARIS).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="hs:PrimaryOfficialContact" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:SecondaryOfficialContact" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:Person" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:StateInputAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WagesType">
    <xs:annotation>
      <xs:documentation>A data type for Wages Class</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="hs:WagesFederalTaxableAmount" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesFederalTaxWithheldAmount" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesStateTaxableAmount" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesStateTaxWithheldAmount" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesDisbursingDate" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesRetiredPayEntitlementEffectiveDate" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesBasePayAmount" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesGrossPayAmount" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesPayrollOfficeNumberText" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesBasicSalaryAmount" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesPayStatusCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesPayBasicCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesPayPeriodEndDate" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesPayStepText" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesPayGradeCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesPayPlanCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesTotalBasePayAllDrillsAmount" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="hs:WagesAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgencyCaseNumberID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier of a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseFillerDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A Filler Description Text field</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseWorkerCategoryCode" type="hs:CaseWorkerCategoryCodeType" substitutionGroup="cyfs:CaseworkerCategory" nillable="true">
    <xs:annotation>
      <xs:documentation>A case worker category.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseWorkerUnitAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type hs:CaseWorkerUnitType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseWorkerUnitCode" type="hs:CaseWorkerUnitCodeListCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A case worker unit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseWorkerUnitID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A Unique Identifier for the case worker's office unit</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseWorkerUnitNameRangeText" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An alpha range used to assign cases to workers based on NCP's last name.  Example:  range = A-F.  Any NCP whose last name falls in the range</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChildSupportAssistanceStatusIndicatorCode" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A former assistance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataPrivacyAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type hs:DataPrivacyType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataPrivacyCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of data privacy for an element..</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataPrivacyDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of data privacy for an element</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataPrivacyElementName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a data privacy element.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataPrivacyIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a data element should be kept private; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataPrivacyPolicyReferenceText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data privacy policy reference for a data element.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataPrivacyRuleText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A rule regarding data privacy.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataProvenanceText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An origin of the data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataQualityAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type hs:DataQualityType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataQualityDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of data quality.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataQualityDimensionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A dimension of data quality.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataQualityElementName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a data quality element.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataQualityValidationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date for when data was validated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentCategoryCode" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A codified description of the attachment item to an ICPC 100A document</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DrugRelatedFelonIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person is a drug-related felon; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Eligibility" type="hs:EligibilityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of programs for which a person may be considered for eligibility.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EligibilityAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type hs:EligibilityType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmailContactSupportIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if contact by e-mail is supported for follow up purposes; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Employer" type="hs:EmployerType" nillable="true">
    <xs:annotation>
      <xs:documentation>An employer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployerAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type hs:EmployerType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployerCategoryText" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of Employer</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployerContactInformationAssociation" type="nc:ContactInformationAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an employer and contact information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployerFEINID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A Federal Identification Number for the Employer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployerName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an employer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployerPayrollNumberID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier for a payroll number for employer to pay FICA taxes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployerStateUnemploymentID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier for State Unemployment</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployerTribalMemberOwnedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the employer is a business owned by a Tribal member; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployerTribeOwnedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if an employer is a business owned by a Tribe; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmploymentAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type hs:NCPEmploymentType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FEDMatchRequestIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if perform federal data match; false if there is no fed match.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FaxContactSupportIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if contact by fax machine is supported for follow up purposes; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FraudIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if there has been fraudulent receipt of TANF benefits within the last ten years due to a misrepresentation of residence; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FugitiveFelonIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person is a current fugitive felon; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HomeStudyCategoryCode" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A category of home study</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InterStateOutputData" type="hs:InterStateOutputDataType" nillable="true">
    <xs:annotation>
      <xs:documentation>A State Output Data report of the Public Assistance Reporting Information System (PARIS).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InterStateOutputDataAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type hs:InterStateOutputDataType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InterStateOutputDataReportAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type hs:InterStateOutputDataReportType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MedicalAssistanceContactPersonInformationDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a person's contact information, used if Medical Assistance is processed by a different State Agency than the one that processes Food Stamps (FS) &amp; Temporary Assistance for Needy Families (TANF).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEmployableIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the NCP have the ability to work; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PhoneContactSupportIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if contact by voice phone is supported for follow up purposes; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PlacementActivityPlacementOrganizationAssociation" type="nc:ActivityOrganizationAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between a placement and the organization performing the placement task</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PrimaryOfficialContact" type="nc:ContactInformationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A primary official contact.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProbationAndParoleViolationIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if Current Probation or Parole Violation; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RequestedService" type="cyfs:ServiceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A Service being requested by the sending agency</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SSNVerificationIndicatorCode" type="hs:SSNVerificationIndicatorCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A verification of a SSN by the Social Security Administration (SSA).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SecondaryOfficialContact" type="nc:ContactInformationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A contact secondary to the primary state contact. It is to be used by states that have two departments who manage programs covered by PARIS.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ServicesEligibilityIndicatorCode" type="hs:ServicesEligibilityIndicatorCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A service for which a person is eligible.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StateInputAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type hs:StateInputType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StateInputData" type="hs:StateInputType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of data for the State Input Data report of the Public Assistance Reporting Information System (PARIS).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StateInputDataReport" type="hs:StateInputDataReportType" nillable="true">
    <xs:annotation>
      <xs:documentation>A State Input Data report of the Public Assistance Reporting Information System (PARIS).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StateInputDataReportAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type hs:StateInputDataReportType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StateMatchRequestIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if to perform an interstate match; false if there is no state match.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TANFIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a client receives TANF Assistance or if their assets count; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TANFMonthsEligibilityQuantity" type="nc:QuantityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of countable months that a client has received TANF Benefits as an adult.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TransmittalRequestCategoryCode" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A Category of the request in this trasnmittal</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VAMatchRequestIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if to perform a VA Match; false if there is no VA match.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type hs:WagesType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesBasePayAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of an employee's initial rate of compensation, excluding extra lump sum compensation or increases in the rate of pay. An employee's base pay can be expressed as a base hourly rate of pay or as an annual salary.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesBasicSalaryAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of employee compensation quoted on an annual basis.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesDisbursingDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date wages were disbursed to receipient.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesFederalTaxWithheldAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of federal tax witheld.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesFederalTaxableAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of wages subject to federal tax.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesGrossPayAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of an employee's pay of any kind  before any deductions are made by the employer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesPayBasicCode" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code indicating the type of wages.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesPayGradeCode" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A classification of the pay grade.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesPayPeriodEndDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A last date wages are included in a payment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesPayPlanCode" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code indicating the pay plan.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesPayStatusCode" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code indicating the status of payment of wages.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesPayStepText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the wage ranges for pay grades.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesPayrollOfficeNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the office where payroll is administered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesRetiredPayEntitlementEffectiveDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date retirement entitlement pay was effective.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesStateTaxWithheldAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of state tax witheld.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesStateTaxableAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of wages subject to state tax.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WagesTotalBasePayAllDrillsAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A total amount of all military wages from all sources.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
