niem/edxl/2.1/edxl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/edxl/2.1" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:edxl="http://niem.gov/niem/edxl/2.1" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>Emergency Data Exchange Language</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:simpleType name="ContentCategoryCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type code indicating the purpose or kind of resource content or payload being sent</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Accept">
        <xsd:annotation>
          <xsd:documentation>In response to a resource message; &quot;I&apos;ll get back to you with an answer one way or the other (could still result in a &quot;decline&quot;)&quot;</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Offer Unsolicited Resources">
        <xsd:annotation>
          <xsd:documentation>Message used to offer available resources (that have not been requested) to assist with an emergency response.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Notify Auxiliary Recipients">
        <xsd:annotation>
          <xsd:documentation>Message used to advise or notify an auxiliary recipient (e.g. a government official) about any resource message as an &quot;FYI&quot;, where the auxiliary recipient was not included on original distribution.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Decline">
        <xsd:annotation>
          <xsd:documentation>In response to a resource message; &quot;I cannot meet your request&quot;</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Cancel">
        <xsd:annotation>
          <xsd:documentation>Message used to revoke any previous resource message.  NOTE:  This message may be used to &quot;cancel&quot; or &quot;recall&quot; resource:  Resource requested and perhaps en route, but no longer needed.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Response to Offer Unsolicited Resources">
        <xsd:annotation>
          <xsd:documentation>Message used as the response to an offer of unsolicited resources, indicating accept or decline.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Request Return">
        <xsd:annotation>
          <xsd:documentation>Message used to request release (demobilize) of resources back to its original point of assignment or to another location / assignment (&quot;I want my stuff back&quot;).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Requisition Resource">
        <xsd:annotation>
          <xsd:documentation>Message used to &quot;order&quot; specific resource, or to confirm specific resource to be &quot;ordered&quot; relating to one or more responses to a &quot;Request Resource&quot;.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Response to Request Resource">
        <xsd:annotation>
          <xsd:documentation>Message used as the response to a &quot;Request Resource&quot;.  Allows sender to list resource(s) which they feel represent suitable match with a resource request.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Response to Request Return">
        <xsd:annotation>
          <xsd:documentation>Message used as the response to a &quot;Request Return&quot; indicating whether the resource may be released, with relevant time-line information.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Response to Request Information (RFI)">
        <xsd:annotation>
          <xsd:documentation>Message used as the response to an RFI message providing general information or to list resource that may meet the specified need.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Response to Request Quote">
        <xsd:annotation>
          <xsd:documentation>Message used as the response to a &quot;Request Quote&quot;.  Allows sender to list resource(s) which they feel represent suitable match with the request, with pricing information.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Release Resource">
        <xsd:annotation>
          <xsd:documentation>Message used by authorities at the incident to &quot;release&quot; (demobilize) resource back to its original point of assignment or to another location / assignment.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Update">
        <xsd:annotation>
          <xsd:documentation>Message used to provide information superseding a previously sent Resource Message (change/modify one or more information elements of the message).  Example:  Change requested resource quantity.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Request Resource">
        <xsd:annotation>
          <xsd:documentation>Message used to request needed resources from one or many recipients, possibly spawning multiple responses.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Request Quote">
        <xsd:annotation>
          <xsd:documentation>Message used to request a price quote from a seller or supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Acknowledge">
        <xsd:annotation>
          <xsd:documentation>In response to any resource message, &quot;I have received your message but have not yet processed it&quot;</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Notify Resource Request Disposition">
        <xsd:annotation>
          <xsd:documentation>Message used to report on the current &quot;status&quot; of any resource in relation to a Resource Requisition, Release Resource, or Request to Return Resource.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Request Information (RFI)">
        <xsd:annotation>
          <xsd:documentation>Message used to ask resource questions or provide general description of situation and general resources needs.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Commit Resource">
        <xsd:annotation>
          <xsd:documentation>Message used to agree or commit specific resource in response to a  Resource Request or Requisition, or to a &quot;Request Return&quot;</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Request Extension">
        <xsd:annotation>
          <xsd:documentation>A request initiated by the requester / receiver of resource, &quot;I want to extend how long I need to keep this resource&quot;</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Request Resource Disposition">
        <xsd:annotation>
          <xsd:documentation>Message used to request current &quot;status&quot; of resource in relation to a previous Resource Requisition or Release Resource.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ContentCategoryCodeType">
    <xsd:annotation>
      <xsd:documentation>A data type code indicating the purpose or kind of resource content or payload being sent</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="edxl:ContentCategoryCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ResponseCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type code  indicating an accept or decline of a Request</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Decline">
        <xsd:annotation>
          <xsd:documentation>Decline</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Accept">
        <xsd:annotation>
          <xsd:documentation>Accept</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ResponseCodeType">
    <xsd:annotation>
      <xsd:documentation>A data type code  indicating an accept or decline of a Request</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="edxl:ResponseCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
