niem/domains/internationalTrade/2.0/internationalTrade.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/domains/internationalTrade/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:it="http://niem.gov/niem/domains/internationalTrade/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>International Trade</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:complexType name="AddressAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about an address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="it:LocationCountrySubEntityName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:LocationCountrySubEntityIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AgentAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about an agent.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="it:AgentStatusText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArrivalType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="it:ArrivalLocation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BorderTransportMeansType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="TransportMeansType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="it:TransportMeansType">
        <xsd:sequence>
          <xsd:element ref="it:BorderTransportMeansNationalityText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansStayIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansConsignmentUnloadingDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansCrewQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansGrossWeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansNetWeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansPassengerQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansCallPurposeText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansContainerQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansDepartureDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansArrivalDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansCargoFacility" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansVesselHeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansVesselLengthMeasure" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CommodityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="it:CommodityCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:CommodityGoodsDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:CommodityCargoDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:CommodityUNDGIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConsignmentType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="it:ConsignmentRoutingCountryText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:ConsignmentIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DeclarationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="DocumentType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:DocumentType">
        <xsd:sequence>
          <xsd:element ref="it:DeclarationTotalGrossWeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:DeclarationTotalInvoiceAmount" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:DocumentFunctionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:DocumentAuthenticationText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:DeclarationCustomsOfficeLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:GoodsDeclarationCustomsIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:DeclarationTraderAssignedIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DocumentAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a document.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="it:DocumentIssueDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:DocumentIssueLocationIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:DocumentFreeText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EquipmentType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfItemReference" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:EquipmentSealIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:EquipmentCharacteristicText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:EquipmentLoadedStatusText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:EquipmentLegalStatusIndicator" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItineraryType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="it:ItineraryName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:ItineraryIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:ItineraryArrivalDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:ItineraryDepartureDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:ItineraryLocationCategoryText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LoadingLocationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="it:LocationIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MasterType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element ref="it:MasterNationalityText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PackageType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ItemType">
        <xsd:sequence>
          <xsd:element ref="it:PackageCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:PackageItemQuantity" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PaymentAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a payment.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="it:PaymentMethodCategoryText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="it:PersonFunctionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TransportMeansType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="it:TransportMeansName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansConveyanceReferenceIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansFirstArrival" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansBorderCrossingIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansBorderCrossingName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansOperator" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportMeansOwner" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="it:TransportContractDocument" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AdditionalDocument" type="nc:DocumentType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A document providing additional information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressAugmentation" type="it:AddressAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about an address.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AddressType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AgentAugmentation" type="it:AgentAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AgentStatusText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The capacity in which the agent is acting.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Arrival" type="it:ArrivalType" nillable="true"/>
  <xsd:element name="ArrivalConveyanceFacility" type="nc:FacilityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A terminal, warehouse, or yard where a means of transport arrives.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrivalLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location of arrival.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrivalTransportMeans" type="it:TransportMeansType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A means of transport used in the arrival.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BorderTransportMeans" type="it:BorderTransportMeansType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A means of transport used in crossing a border.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BorderTransportMeansNationalityText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Nationality of the active means of transport used in crossing the border.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Buyer" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="Carrier" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A party providing the transport of goods between named points.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Commodity" type="it:CommodityType" nillable="true"/>
  <xsd:element name="CommodityCargoDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A plain language description of the cargo of a means of transport, in general terms only.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CommodityCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of goods for Customs, transport, statistical or other regulatory purposes (generic term).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CommodityGoodsDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Plain language description of the nature of a goods item sufficient to identify it for customs, statistical or transport purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CommodityUNDGIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>United Nations Dangerous Goods Identifier (UNDG) is the unique serial number assigned within the United Nations to substances and articles contained in a list of the dangerous goods most commonly carried.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Consignee" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A party to which goods are consigned.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Consignment" type="it:ConsignmentType" nillable="true"/>
  <xsd:element name="ConsignmentIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Unique number assigned to goods, both for import and export.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConsignmentItemPackaging" type="it:PackageType" nillable="true"/>
  <xsd:element name="ConsignmentPackaging" type="it:PackageType" nillable="true"/>
  <xsd:element name="ConsignmentRoutingCountryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A country through which goods or passengers are routed between the country of original departure and final destination.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Consignor" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A party consigning goods as stipulated in the transport contract by the party ordering transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Consolidator" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="ConsortiumCarrier" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A consortium carrier.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContainerTerminalOperator" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="CrewMember" type="nc:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A crew member.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CustomsItemIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Sequence number differentiating a specific goods item within a consignment.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Declaration" type="it:DeclarationType" nillable="true"/>
  <xsd:element name="DeclarationCustomsOfficeLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>To identify a location at which a declaration is lodged.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeclarationPackaging" type="it:PackageType" nillable="true"/>
  <xsd:element name="DeclarationTotalGrossWeightMeasure" type="nc:WeightMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Weight (mass) of goods including packaging but excluding the carriers equipment for a declaration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeclarationTotalInvoiceAmount" type="nc:AmountType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Total of all invoice amounts declared in a single declaration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeclarationTraderAssignedIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Reference assigned by a trader to a declaration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Deconsolidator" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="DeliveryDestination" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location to which goods are to be delivered. Address, region and/or country as required by national legislation or according to national requirements.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DepartureConveyanceFacility" type="nc:FacilityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Identification of a terminal, warehouse or yard where a means of transport departs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DepartureTransportMeans" type="it:TransportMeansType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A means of transport used in the departure.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentAugmentation" type="it:DocumentAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about a document.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="DocumentType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentAuthenticationText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Proof that a document has been authenticated indicating where appropriate the authentication party.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentFreeText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Free text field available to the message sender for information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentFunctionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A function of a document.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentIssueDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date at which a document was issued and when appropriate, signed or otherwise authenticated.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentIssueLocationIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a place at which an additional document was issued and when appropriate, signed or otherwise authenticated.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Equipment" type="it:EquipmentType" nillable="true"/>
  <xsd:element name="EquipmentCharacteristicText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A characteristic of a piece of transport equipment.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EquipmentLegalStatusIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Indication of the containers legal status with respect to the Container Convention.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EquipmentLoadedStatusText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An indication of how full a piece of transport equipment is.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EquipmentSealIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification number of a seal affixed to a piece of equipment.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ExitCustomsOfficeLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location of the customs office at which the goods leave or are intended to leave the customs territory of dispatch.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Exporter" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person who makes an export declaration or on whose behalf  the export declaration is made.  This is the owner of the goods or has similar right of disposal over them at the time when the declaration is accepted.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GoodsDeclarationCustomsIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Reference number, assigned or accepted by Customs, to identify a goods declaration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GoodsPackaging" type="it:PackageType" nillable="true"/>
  <xsd:element name="Importer" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A party which makes - or on whose behalf a Customs clearing agent or other authorized person makes - an import declaration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IntermediateCarrier" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="IntermediateConsignee" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="Itinerary" type="it:ItineraryType" nillable="true"/>
  <xsd:element name="ItineraryArrivalDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Date vessel arrives at itinerary port.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItineraryDepartureDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Date vessel departs at itinerary port.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItineraryIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Name of a single port of call or other location of the itinerary of a means of transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItineraryLocationCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Type of the port of call or other location of the itinerary of the means of transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItineraryName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Name of a single port of call or other location of the itinerary of a means of transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LoadingLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A seaport, airport, freight terminal, rail station or other place at which goods are loaded onto the means of transport being used for their carriage.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LoadingLocationDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Date / scheduled date of the goods depart the place of loading.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LoadingProofParty" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="LocationCountrySubEntityIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification of a country subdivision.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCountrySubEntityName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a country subdivision.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>To identify a seaport, airport, freight terminal, rail station or other place at which goods are loaded onto the means of transport being used for their carriage.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Manufacturer" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="Master" type="it:MasterType" nillable="true"/>
  <xsd:element name="MasterNationalityText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Nationality of the master/operator of the vessel or other means of transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NonVesselOperatingCarrier" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A common carrier that does not operate the vessels.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="NotifyParty" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A party to be notified.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Package" type="it:PackageType" nillable="true"/>
  <xsd:element name="PackageCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of package of an item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PackageItemQuantity" type="nc:NumericType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number of individual items packaged in such a way that they cannot be divided without first undoing the packaging.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PaymentAugmentation" type="it:PaymentAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about an obligation.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ObligationType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PaymentMethodCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A payment method.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAugmentation" type="it:PersonAugmentationType" substitutionGroup="s:Augmentation">
    <xsd:annotation>
      <xsd:documentation>Additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonFunctionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>To specify the capacity in which the representative person acts on behalf of the party responsible for the declaration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PreviousCustomsDocument" type="nc:DocumentType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A document used for declaration previously presented on Customs territory.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ProcessingEstablishment" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="RepresentativePerson" type="nc:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A representative of the party making the declaration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Seller" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="Stevedore" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="StuffingPlace" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="TransitPrincipal" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="TransportContractDocument" type="nc:DocumentType" nillable="true"/>
  <xsd:element name="TransportEquipment" type="it:EquipmentType" nillable="true"/>
  <xsd:element name="TransportMeans" type="it:TransportMeansType" nillable="true"/>
  <xsd:element name="TransportMeansArrivalDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Date / scheduled date of arrival of means of transport at (for air) first airport, (land) arrival at first border post and (sea) arrival at first port.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansBorderCrossingIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Identifier to identify the means of transport used in crossing the border.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansBorderCrossingName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Name to identify the means of transport used in crossing the border. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansCallPurposeText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A purpose of the conveyance call.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansCargoFacility" type="nc:FacilityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Name of the terminal, warehouse or yard where the goods are to be offloaded.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Means and mode of transport used for the carriage of the goods.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansConsignmentUnloadingDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Date the cargo was outturned.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansContainerQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Total number of freight containers or similar unit load devices.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansConveyanceReferenceIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>To identify a journey of a means of transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansCrewQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Total number of the members of the crew, including the captain/master, of a means of a transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansDepartureDate" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Date of departure of the means of transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansFirstArrival" type="it:ArrivalType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An arrival of means of transport at (for air) first airport, (land) arrival at first border post, or (sea) arrival at first port.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansGrossWeightMeasure" type="nc:WeightMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The measure of the overall size of a ship determined in accordance with the provisions of the International Convention on Tonnage Measurement of Ships, 1969.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Identifier to identify the means of transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name to identify the means of transport used.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansNetWeightMeasure" type="nc:WeightMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The measure of the useful capacity of a ship determined in accordance with the provisions of International Convention on Tonnage Measurements of Ships, 1969</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansOperator" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Identification of the registered operator of means of transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansOwner" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Identification of the registered owner of means of transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansPassengerQuantity" type="nc:QuantityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Total number of the passengers on board a means of transport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansStayIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Identifier of the stay of a means of transport in a port or airport.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansVesselHeightMeasure" type="nc:LengthMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Forward/after draft level in meters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TransportMeansVesselLengthMeasure" type="nc:LengthMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Length of single vehicle expressed in meters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnloadingLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>To identify a seaport, airport, freight terminal, rail station or other place at which goods are unloaded from the means of transport having been used for their carriage.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
