niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0/extendedTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0" 
xmlns:gmx="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0" 
xmlns:gco="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0" 
xmlns:xlink="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0"
elementFormDefault="qualified" version="0.1">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 03-14-2005 12:00:20 ====== Handcrafted
		ISO DTS 19139 Metadata XML Schema "gmx Geographic Metadata XML Schema"
		 see ../readme.txt    see ../version.txt
		 
		DHS Changes 
     		2006-09-28 Changed namespaces and schema locations
				ns old	http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0		
				from		../../../../../xlink/1.0.0/dhs-gmo/1.0.0/xlinks.xsd
				to			../../../../../w3c-xlink/1.0/dhs-gmo/1.0.0/xlinks.xsd
				
			2006-09-22 Changed namespaces following NIEM conventions
				1) targetNamespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0
				2) gmx namespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0
				3) gco  namespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0
				4) xlink namespace	 http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
		
			2006-09-19 Changes DHS namespaces and schema locations, were
				targetNamespace="http://www.isotc211.org/2005/gmx" 
				xmlns:gmx="http://www.isotc211.org/2005/gmx"
				xmlns:gco="http://www.isotc211.org/2005/gco" 
				xmlns:xlink="http://www.w3.org/1999/xlink" 
		</xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0" 
	schemaLocation="../../../gco/dhs-gmo/1.0.0/gco.xsd"/>
	<!-- <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../gml/xlink/xlinks.xsd"/> -->
	<!-- <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://schemas.opengis.net/xlink/1.0.0/xlinks.xsd"/> -->
	<xs:import namespace="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0" 	
			schemaLocation="../../../../../w3c-xlink/1.0/dhs-gmo/1.0.0/xlinks.xsd"/> 
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<!-- ======================== Handcrafted types =================================== -->
	<!-- ========================================================================== -->
	<!-- ====================== The FileName prototype ================================ -->
	<!--It is used to point to a source file and is substitutable for CharacterString-->
	<!--================= Type ==================-->
	<xs:complexType name="FileName_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="src" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FileName" type="gmx:FileName_Type" substitutionGroup="gco:CharacterString"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FileName_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:FileName" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ========================================================================== -->
	<!-- ====================== The MimeFileType prototype ============================= -->
	<!--It is used to provide information on file types and is substitutable for CharacterString-->
	<!--================= Type ==================-->
	<xs:complexType name="MimeFileType_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MimeFileType" type="gmx:MimeFileType_Type" substitutionGroup="gco:CharacterString"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MimeFileType_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:MimeFileType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ========================================================================== -->
	<!-- ======================= The Anchor prototype ================================ -->
	<!--It is used to point to a registred definition-->
	<!--================= Type ==================-->
	<xs:complexType name="Anchor_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="xlink:simpleLink"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="Anchor" type="gmx:Anchor_Type" substitutionGroup="gco:CharacterString"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Anchor_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:Anchor" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!--======= End of Schema ======-->
</xs:schema>
