niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0/gmxUsage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0" 
xmlns:gmx="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0" 
xmlns:gmd="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0" 
xmlns:gco="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0" 
xmlns:xlink="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0"
elementFormDefault="qualified" version="0.1" >
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 04-27-2005 17:15:30 ======
		ISO DTS 19139 Metadata XML Schema "gmx Geographic Metadata XML Schema"
		 see ../readme.txt    see ../version.txt
		 
		DHS Changes 
     		2006-09-28 Changed namespace
				ns old	http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0		

			2006-09-22 Changed namespaces following NIEM conventions
				1) targetNamespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0
				2) gmx namespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0
				3) gmd namespace     http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0
				4) gco  namespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0
				5) xlink namespace	 http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
		
			2006-09-19 Changes DHS namespaces and schema locations, were
				targetNamespace="http://www.isotc211.org/2005/gmx" 
				xmlns:gmx="http://www.isotc211.org/2005/gmx"
				xmlns:gmd="http://www.isotc211.org/2005/gmd" 
				xmlns:gco="http://www.isotc211.org/2005/gco" 
				xmlns:xlink="http://www.w3.org/1999/xlink" 
		 </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0" 
	schemaLocation="../../../gmd/dhs-gmo/1.0.0/gmd.xsd"/>
	<xs:import namespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0" 
	schemaLocation="../../../gco/dhs-gmo/1.0.0/gco.xsd"/>
	<xs:include schemaLocation="catalogues.xsd"/>
	<xs:include schemaLocation="extendedTypes.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="MX_Aggregate_Type">
		<xs:complexContent>
			<xs:extension base="gmd:AbstractDS_Aggregate_Type">
				<xs:sequence>
					<xs:element name="aggregateCatalogue" type="gmx:CT_Catalogue_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="aggregateFile" type="gmx:MX_SupportFile_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MX_Aggregate" type="gmx:MX_Aggregate_Type" substitutionGroup="gmd:AbstractDS_Aggregate"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_Aggregate_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:MX_Aggregate" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MX_DataSet_Type">
		<xs:complexContent>
			<xs:extension base="gmd:DS_DataSet_Type">
				<xs:sequence>
					<xs:element name="dataFile" type="gmx:MX_DataFile_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="datasetCatalogue" type="gmx:CT_Catalogue_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="supportFile" type="gmx:MX_SupportFile_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MX_DataSet" type="gmx:MX_DataSet_Type" substitutionGroup="gmd:DS_DataSet"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_DataSet_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:MX_DataSet" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MX_DataFile_Type">
		<xs:complexContent>
			<xs:extension base="gmx:AbstractMX_File_Type">
				<xs:sequence>
					<xs:element name="featureTypes" type="gco:GenericName_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="fileFormat" type="gmd:MD_Format_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MX_DataFile" type="gmx:MX_DataFile_Type" substitutionGroup="gmx:AbstractMX_File"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_DataFile_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:MX_DataFile" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MX_SupportFile_Type">
		<xs:complexContent>
			<xs:extension base="gmx:AbstractMX_File_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MX_SupportFile" type="gmx:MX_SupportFile_Type" substitutionGroup="gmx:AbstractMX_File"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_SupportFile_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:MX_SupportFile" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="AbstractMX_File_Type" abstract="true">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="fileName" type="gmx:FileName_PropertyType"/>
					<xs:element name="fileDescription" type="gco:CharacterString_PropertyType"/>
					<xs:element name="fileType" type="gmx:MimeFileType_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AbstractMX_File" type="gmx:AbstractMX_File_Type" abstract="true"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_File_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:AbstractMX_File" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MX_ScopeCode" type="gco:CodeListValue_Type" substitutionGroup="gmd:MD_ScopeCode"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_ScopeCode_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:MX_ScopeCode" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
