niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0/uomItem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0" 
xmlns:gmx="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0" 
xmlns:gmd="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0" 
xmlns:gco="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0" 
xmlns:gml="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0"
xmlns:xlink="http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0"
elementFormDefault="qualified" version="0.1">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 03-15-2005 09:15:02 ====== 
		ISO DTS 19139 Metadata XML Schema "gmx Geographic Metadata XML Schema"
		 see ../readme.txt    see ../version.txt
		 
		DHS Changes 
		
     		2006-09-28 Changed namespaces and schema location
     		
				ns old	http://niem.gov/niem/external/gml/3.1.1/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0	
				from		../../../../../gml/3.1.1/dhs-gmo/1.0.0/gml.xsd
				to			../../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd

				ns old	http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
				ns new	http://niem.gov/niem/external/w3c-xlink/1.0/dhs-gmo/1.0.0		

			2006-09-22 Changed namespaces following NIEM conventions
				1) targetNamespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0
				2) gmx namespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmx/dhs-gmo/1.0.0
				3) gmd namespace     http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0
				4) gco  namespace	 http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0
				6) gml namespace		
				7) xlink namespace	 http://niem.gov/niem/external/xlink/1.0.0/dhs-gmo/1.0.0
		
			2006-09-19 Changes DHS namespaces and schema locations, were
				targetNamespace="http://www.isotc211.org/2005/gmx" 
				xmlns:gmx="http://www.isotc211.org/2005/gmx"
				xmlns:gmd="http://www.isotc211.org/2005/gmd" 
				xmlns:gco="http://www.isotc211.org/2005/gco" 
				xmlns:gml="http://www.opengis.net/gml" 
				xmlns:xlink="http://www.w3.org/1999/xlink" 
		</xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gco/dhs-gmo/1.0.0" 
	schemaLocation="../../../gco/dhs-gmo/1.0.0/gco.xsd"/>
	 <xs:import namespace="http://niem.gov/niem/external/ogc-gml/3.1.1/dhs-gmo/1.0.0" 
			   schemaLocation="../../../../../ogc-gml/3.1.1/dhs-gmo/1.0.0/gml.xsd"/>
	<xs:import namespace="http://niem.gov/niem/external/iso-19139-gmd/draft-0.1/gmd/dhs-gmo/1.0.0" 
	schemaLocation="../../../gmd/dhs-gmo/1.0.0/gmd.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<!-- ........................................................................ -->
	<!-- ........................................................................ -->
	<xs:complexType name="UnitDefinition_PropertyType">
		<xs:sequence>
			<xs:element ref="gml:UnitDefinition" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<!-- ........................................................................ -->
	<xs:complexType name="BaseUnit_PropertyType">
		<xs:sequence>
			<xs:element ref="gml:BaseUnit" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<!-- ........................................................................ -->
	<xs:complexType name="DerivedUnit_PropertyType">
		<xs:sequence>
			<xs:element ref="gml:DerivedUnit" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<!-- ........................................................................ -->
	<xs:complexType name="ConventionalUnit_PropertyType">
		<xs:sequence>
			<xs:element ref="gml:ConventionalUnit" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="ML_BaseUnit_Type">
		<xs:complexContent>
			<xs:extension base="gml:BaseUnitType">
				<xs:sequence>
					<xs:element name="alternativeExpression" type="gmx:UomAlternativeExpression_PropertyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ML_BaseUnit" type="gmx:ML_BaseUnit_Type" substitutionGroup="gml:BaseUnit"/>
	<!-- ........................................................................ -->
	<xs:complexType name="ML_BaseUnit_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:ML_BaseUnit" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="ML_DerivedUnit_Type">
		<xs:complexContent>
			<xs:extension base="gml:DerivedUnitType">
				<xs:sequence>
					<xs:element name="alternativeExpression" type="gmx:UomAlternativeExpression_PropertyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ML_DerivedUnit" type="gmx:ML_DerivedUnit_Type" substitutionGroup="gml:DerivedUnit"/>
	<!-- ........................................................................ -->
	<xs:complexType name="ML_DerivedUnit_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:ML_DerivedUnit" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="ML_ConventionalUnit_Type">
		<xs:complexContent>
			<xs:extension base="gml:ConventionalUnitType">
				<xs:sequence>
					<xs:element name="alternativeExpression" type="gmx:UomAlternativeExpression_PropertyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ML_ConventionalUnit" type="gmx:ML_ConventionalUnit_Type" substitutionGroup="gml:ConventionalUnit"/>
	<!-- ........................................................................ -->
	<xs:complexType name="ML_ConventionalUnit_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:ML_ConventionalUnit" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="ML_UnitDefinition_Type">
		<xs:complexContent>
			<xs:extension base="gml:UnitDefinitionType">
				<xs:sequence>
					<xs:element name="alternativeExpression" type="gmx:UomAlternativeExpression_PropertyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ML_UnitDefinition" type="gmx:ML_UnitDefinition_Type" substitutionGroup="gml:UnitDefinition"/>
	<!-- ........................................................................ -->
	<xs:complexType name="ML_UnitDefinition_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:ML_UnitDefinition" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- =========================================================================== -->
	<!--===================== Alternative Expresssion type ===============================-->
	<xs:complexType name="UomAlternativeExpression_Type">
		<xs:annotation>
			<xs:documentation>XML attributes contraints: - 1) Id is mandatory - 2) codeSpace (type xsd:anyURI) is mandatory</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:UnitDefinitionType">
				<xs:sequence>
					<xs:element name="locale" type="gmd:PT_Locale_PropertyType"/>
				</xs:sequence>
				<xs:attribute name="codeSpace" type="xs:anyURI" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="UomAlternativeExpression" type="gmx:UomAlternativeExpression_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="UomAlternativeExpression_PropertyType">
		<xs:sequence>
			<xs:element ref="gmx:UomAlternativeExpression" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- =========================================================================== -->
	<!-- === End of file === -->
</xs:schema>
